
<div fxLayout="column">
    <mat-card>
        <mat-card-header class="">
            <mat-card-title class="title"> Manager Dashboard </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <div  fxLayout="row" fxFlex="100" fxLayout.xs="column"  class="mx-2 my-2" fxLayoutAlign.xs="center center" fxLayoutAlign="center">
            <div class='demo-app-main' fxFlex="80">
                <full-calendar
                    [options]='calendarOptions'
                ></full-calendar>
            </div>
            <div fxLayout="row" fxFlex="20">

            </div>
        </div>
    </mat-card>
</div>