<div fxLayout="column" >
<mat-card>
    <form [formGroup]="requestform" autocomplete="off">
        <mat-card fxFill>
            <mat-card-header>
                <mat-card-title class="title"> Approval For Attendance </mat-card-title>
            </mat-card-header>
            <!-- <mat-divider></mat-divider> -->
            <div fxLayout="row wrap" fxLayoutAlign.xs="center center">
                <mat-form-field fxFlex.xs="100" class="mx-2 my-2" appearance="outline">
                    <mat-label>Applied Date</mat-label>
                    <input matInput readonly [matDatepicker]="date"
                        formControlName="appliedDate" [disabled]="true">
                    <mat-datepicker-toggle class="datepicker" matSuffix [for]="date"></mat-datepicker-toggle>
                    <mat-datepicker #date></mat-datepicker>
                   </mat-form-field>

                <!-- <mat-form-field fxFlex.xs="100" class="mx-2 my-2" appearance="outline">
                    <mat-label>Applied Date</mat-label>
                    <input formControlName="appliedDate" matInput placeholder="Applied Date" readonly>
                </mat-form-field> -->

                <mat-form-field fxFlex.xs="100" class="mx-2 my-2" appearance="outline">
                    <mat-label>Employee Name</mat-label>
                    <input formControlName="empName" matInput placeholder="Employee Name" readonly>
                </mat-form-field>
                <mat-form-field fxFlex.xs="100" class="mx-2 my-2" appearance="outline">
                    <mat-label>Shift</mat-label>
                    <input formControlName="shift" matInput placeholder="Shift" readonly>
                </mat-form-field>
            </div>
            <div fxLayout fxLayout="row wrap" fxLayoutAlign.xs="center center">

                <mat-form-field fxFlex.xs="100" class="mx-2 my-2" appearance="outline">
                    <mat-label>Work Type</mat-label>
                    <input formControlName="workType" matInput placeholder="Work Type" readonly>
                </mat-form-field>

                <mat-form-field fxFlex.xs="100" class="mx-2 my-2" appearance="outline">
                    <mat-label>From Date</mat-label>
                    <input matInput readonly [matDatepicker]="date1"
                        formControlName="fromDate" [disabled]="true">
                    <mat-datepicker-toggle class="datepicker" matSuffix [for]="date1"></mat-datepicker-toggle>
                    <mat-datepicker #date1></mat-datepicker>
                   </mat-form-field>

                <!-- <mat-form-field fxFlex.xs="100" class="mx-2 my-2" appearance="outline">
                    <mat-label>From Date</mat-label>
                    <input formControlName="fromDate" matInput placeholder="From Date" readonly>
                </mat-form-field> -->
                <mat-form-field fxFlex.xs="100" class="mx-2 my-2" appearance="outline">
                    <mat-label>To Date</mat-label>
                    <input matInput readonly [matDatepicker]="date2"
                        formControlName="toDate" [disabled]="true">
                    <mat-datepicker-toggle class="datepicker" matSuffix [for]="date2"></mat-datepicker-toggle>
                    <mat-datepicker #date2></mat-datepicker>
                   </mat-form-field>

                <!-- <mat-form-field fxFlex.xs="100" class="mx-2 my-2" appearance="outline">
                    <mat-label>To Date</mat-label>
                    <input formControlName="toDate" matInput placeholder="To Date" readonly>
                </mat-form-field> -->

            </div>
            <div fxLayout fxLayout="row wrap" fxLayoutAlign.xs="center center">
                <mat-form-field fxFlex="42" fxFlex.xs="100" class="mx-2 my-2" appearance="outline">
                    <mat-label>Reason</mat-label>
                    <textarea formControlName="reason" readonly matInput placeholder="Reason" maxlength="250"></textarea>
                    <mat-error class="con-error" *ngIf="requestform.controls.reason.errors?.required">
                        Reason is required.
                    </mat-error>
                </mat-form-field>
                <mat-form-field *ngIf="!isEdit" fxFlex="42" fxFlex.xs="100" class="mx-2 my-2" appearance="outline">
                    <mat-label>Comment</mat-label>
                    <textarea formControlName="comment" readonly matInput placeholder="Comment"></textarea>

                </mat-form-field>
            </div>
            <div fxLayoutAlign="center">
                <ng-container *ngIf="isEdit"> <button class="mx-1 mat-stroked-button button-save" (click)="acceptApproval()"
                        type="submit">
                        <span>Approve</span>
                    </button>

                    <button class="mx-1  mat-stroked-button button-clear" (click)="rejectApproval()">
                        <span>Reject</span>
                    </button>
                </ng-container>

                <button class="mx-1  mat-stroked-button button-clear" (click)="backClick()">
                    <span>Back</span>
                </button>
                <br />
            </div>
        </mat-card>
    </form>
  </mat-card>
  </div>
