<div fxLayout="Column" class="dashboard-content">
  <mat-card class="sidePad">
    <form [formGroup]="dashBoardForm" fxLayout="Column">
      <!-- f1st row -->
      <div fxLayout="row"  fxLayout.xs="column" fxLayoutGap="10px">
         <mat-card class="card outline" fxFlex="100" fxLayout="column">
          <span class="title" fxLayoutAlign="start">
                <span>Locations</span>
              </span>
              <div fxLayout="column" fxFlex="100" fxLayoutAlign="center center" *ngIf="allLocationsTotalCount.length == 0 || allLocationsTotalCount == null">
                <span>No Data Found</span>
                </div>

            <div *ngIf="allLocationsTotalCount.length > 0 || allLocationsTotalCount.isNotEmpty" style="padding-top: 55px;" >
              <chart #chart style="display: block;
              width: 245px;
              height: 220px;"
              [type]="locPieChartType" 
              [data]="locPieChartdata" 
              [options]="locPieChartoptions"
              ></chart>
         </div>
        
          </mat-card>

          <mat-card class="card outline" fxFlex="100" fxLayout="column">
           <span class="title" fxLayoutAlign="start">
                <span>Department Wise Emp's</span>
              </span>
              <div fxLayout="column">
                <span fxLayoutAlign="end">
                  <mat-form-field class="mx-2 my-2">
                    <mat-select formControlName="location">
                        <ng-container>
                            <div *ngFor="let b of workLocationList">
                                <mat-option [value]="b.id">{{ b.cityname }}</mat-option>
                            </div>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                </span>
                <div *ngIf="locationByDepartmentCountLis.length > 0">
                  <chart #chart style="display: block;
                  width: 245px;
                  height: 220px;"
                  [type]="locByDeptEmpsdoughChartType" 
                  [data]="locByDeptEmpsdoughnutChartData" 
                  [options]="locByDeptEmpsdoughnutChartOptions"
                  ></chart>
            </div>
              </div>
              
          <div fxLayout="column" fxFlex="100" fxLayoutAlign="center center" *ngIf="locationByDepartmentCountLis.length == 0 || locationByDepartmentCountLis ==null">
          <span>No Data Found</span>
          </div>
          </mat-card>

          <mat-card class="card outline" fxFlex="100" fxLayout="column">
            <span class="title" fxLayoutAlign="start">
                 <span>Employees Count</span>
               </span>
               <span fxLayoutAlign="end">
                 <mat-form-field>
                   <input matInput readonly [matDatepicker]="employeeStatusMonthDate" [min]="minDate" [max]="maxDate"
                     placeholder="" (click)="employeeStatusMonthDate.open()" formControlName="employeeStatusMonthDate" />
                   <mat-datepicker-toggle class="datepicker" matSuffix [for]="employeeStatusMonthDate">
                   </mat-datepicker-toggle>
                   <mat-datepicker #employeeStatusMonthDate
                   startView="multi-year"
                          (monthSelected)="empStatusMonth($event, employeeStatusMonthDate)"></mat-datepicker>
                 </mat-form-field>
               </span>
              <div fxLayout="column" fxFlex fxLayoutAlign="center center">
                <span fxLayoutAlign="center">
                   <mat-icon>person_add</mat-icon>
                 </span>
                 <div fxLayout="row"><span class="textStyle">New Employees :</span>&nbsp;<span class="textStyle2">{{newEmployeeStatusCount}}</span></div>
                 <br>
                 <span fxLayoutAlign="center">
                   <mat-icon>exit_to_app</mat-icon>
                 </span>
                 <div fxLayout="row"><span class="textStyle">Exit Employees :</span>&nbsp;<span class="textStyle2">{{exitEmployeeStatusCount}}</span></div>
              </div>
 
           </mat-card>

      </div>

      <!-- 2nd row -->

      <div fxLayout="row" fxFlex="100" fxLayout.xs="column" fxLayoutGap="10px">
    
          <mat-card class="card outline" fxFlex="100">
             <span class="title" fxLayoutAlign="start">
                <span>Attendance</span>
              </span>
              <span fxLayoutAlign="end">
                <mat-form-field>
                  <input matInput readonly [matDatepicker]="attendanceWiseDate" [min]="minDate" [max]="maxDate"
                    placeholder="" (click)="attendanceWiseDate.open()" formControlName="attendanceWiseDate" />
                  <mat-datepicker-toggle class="datepicker" matSuffix [for]="attendanceWiseDate">
                  </mat-datepicker-toggle>
                  <mat-datepicker #attendanceWiseDate
                  startView="multi-year"
                         (monthSelected)="attendanceMonthAndYear($event, attendanceWiseDate)"></mat-datepicker>
                </mat-form-field>
              </span>
              <div>
                <chart #chart style="display: block;
                width: 245px;
                height: 220px;"
                [type]="attDonutChartType" 
                [data]="attDonutChartdata" 
                [options]="attDonutChartoptions"
                ></chart>
            </div>
          </mat-card>

        <mat-card class="card outline" fxFlex="100" fxLayout="column">
          <span class="title" fxLayoutAlign="start">
               <span>Employees on Leave</span>
             </span>
             <div fxLayout="column">
             <span fxLayoutAlign="end">
               <mat-form-field>
                 <input matInput readonly [matDatepicker]="deptWiseleavesDate" [min]="minDate" [max]="maxDate"
                   placeholder="" (click)="deptWiseleavesDate.open()" formControlName="deptWiseleavesDate" />
                 <mat-datepicker-toggle class="datepicker" matSuffix [for]="deptWiseleavesDate">
                 </mat-datepicker-toggle>
                 <mat-datepicker #deptWiseleavesDate
                 startView="multi-year"
                        (monthSelected)="deptLeaveMonth($event, deptWiseleavesDate)"></mat-datepicker>
               </mat-form-field>
             </span>
             <div *ngIf="departmentWiseLeaveCountList.length > 0">
              <chart #chart style="display: block;
              width: 245px;
              height: 220px;"
              [type]="deptWiseLeavepieChartType" 
              [data]="deptWiseLeavepieChartData" 
              [options]="deptWiseLeavepieoptions"
              >
            </chart>
           </div>
          </div>
           <div fxLayout="column" fxFlex="100" fxLayoutAlign="center center" *ngIf="departmentWiseLeaveCountList.length == 0 || departmentWiseLeaveCountList ==null">
            <span>No Data Found</span>
            </div>
         </mat-card>

         <mat-card class="card outline" fxFlex="100" fxLayout="column">
          <span class="title" fxLayoutAlign="start">
               <span>Leave Status</span>
             </span>
             <span fxLayoutAlign="end">
               <mat-form-field>
                 <input matInput readonly [matDatepicker]="leaveStatusDate" [min]="minDate" [max]="maxDate"
                   placeholder="" (click)="leaveStatusDate.open()" formControlName="leaveStatusDate" />
                 <mat-datepicker-toggle class="datepicker" matSuffix [for]="leaveStatusDate">
                 </mat-datepicker-toggle>
                 <mat-datepicker #leaveStatusDate
                 startView="multi-year"
                        (monthSelected)="leaveMonthAndYear($event, leaveStatusDate)"></mat-datepicker>
               </mat-form-field>
             </span>
            <div fxLayout="column" fxFlex fxLayoutAlign="center center">
              <span fxLayoutAlign="center">
                 <mat-icon>person_add</mat-icon>
               </span>
               <div fxLayout="row"><span class="textStyle">Total Leaves :</span>&nbsp;<span class="textStyle2">{{totalLeaveCount}}</span></div>
               <br>
               <span fxLayoutAlign="center">
                 <mat-icon>exit_to_app</mat-icon>
               </span>
               <div fxLayout="row"><span class="textStyle">Pending Leaves :</span>&nbsp;<span class="textStyle2">{{pendingLeaveCount}}</span></div>
               <br>
               <span fxLayoutAlign="center">
                 <mat-icon>exit_to_app</mat-icon>
               </span>
               <div fxLayout="row"><span class="textStyle">Rejected Leaves :</span>&nbsp;<span class="textStyle2">{{rejectedLeaveCount}}</span></div>
           </div>

         </mat-card>
      </div>

      <!-- 3rd row -->
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-card class="card2 outline" fxFlex="100" fxLayout="column">
          <span class="title" fxLayoutAlign="start">
             <span>Shift-Based Headcount</span>
           </span>
          <div fxLayout="column">
            <span fxLayoutAlign="end">
           <mat-form-field class="mx-2 my-2">
            <mat-select formControlName="shiftName">
                <ng-container *ngFor="let v of shiftDataList">
                    <mat-option [value]="v.shiftid">{{v.shiftname}}</mat-option>
                </ng-container>
            </mat-select>
       </mat-form-field>
       </span>

       <div *ngIf="shiftByDepartmentCountList.length > 0">
        <chart #chart 
        [type]="vbarChartType" 
        [data]="vbarChartData" 
        [options]="vbaroptions"
        >
       </chart>
       </div>
       </div>
       <div fxLayout="column" fxFlex="100" fxLayoutAlign="center center" *ngIf="shiftByDepartmentCountList.length == 0 || shiftByDepartmentCountList ==null">
        <span>No Data Found</span>
        </div>

       </mat-card>

        <mat-card class="card2 outline" fxFlex="100">
          <div fxLayout="row" fxLayoutAlign="start">
            <span class="title">
              <span>Payroll analysis by </span>
            </span>
          </div>
          <chart #chart 
          [type]="deptWisePayrollBarChartType" 
          [data]="deptWisePayrollBarChartData" 
          [options]="deptWisePayrollBarChartOptions"
          ></chart>
        </mat-card>
      </div>
      
    </form>
  </mat-card>
</div>