table, td, th {
    border: 1px solid;
  }
  .mat-elevation-z8 {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
}
thead{
    background-color: #28acaf;
}
th {
    padding: 2px; 
    text-align: center;

 } 
td {
   padding: 2px; 
   text-align: center;
}
::ng-deep .cdk-overlay-container {
    z-index:1050 !important;
  }