// Imports
// 
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Roboto');

.mat-header-cell {
    font-size: 14px !important;
} 
.custom-mat-row {
    border-bottom: 2px solid white;
}
.custom-mat-row:last-child {
    border-bottom: none !important;
}    
.custom-payroll-div {
    margin-top: 50px;
    margin-bottom: 100px;
}
.custom-card {
    border-radius: 0px;
    background-color: #ffffff;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 1px 15px 1px rgb(69 65 78 / 8%);
    -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
    box-shadow: 0px 1px 15px 1px rgb(69 65 78 / 8%);
    border: 1px solid #eee;
 }
 .custom-payRoll-header {    
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
}
.dashboard-1{
    background-color: #28acaf;    
}
.custom-investment-header {
    height: 0 !important;  
}
.custom-investment-th {
    color:white !important;
    font-size: 16px !important;  
    padding: 0.2rem !important;
    font-weight: 500;
 } 
 .example-element-detail {
    overflow: hidden;
    display: flex;
    background: #fff;
    // width: 80vw;
    border-bottom: 1px solid #28acaf !important;
  }
  .example-detail-row {
    height: 0 !important;
    .mat-cell {
      border-bottom-width: 0 !important;
    }
  }
  .example-element-detail {
    border-bottom: 0 !important;
    .mat-cell {
      border-width: 0 !important;
    }
  }
  .table-expanded-description {
    .example-element-detail {
      margin-right: -15px;
    }
    .custom-form-group {
      padding-left: 0;
      text-align: left;
      label {
        max-width: initial !important;
        min-width: auto !important;
        margin-right: 20px;
        padding-left: 10px;
        .dots {
          width: auto;
          float: none;
        }
      }
      p{
        padding-left: 15px !important;
      }
    }
  }
  
 .custom-investment-td {
   padding: 0.2rem !important;
   font-weight: 500;
 }
 .custom-investment-of {
   overflow: hidden !important;
 }
 .custom-pgr-height-auto {
    height: auto !important;
 }
 .cmn-leave {
  background: none;
  border: 0px !important;
  border-radius: 5px;
}