.button-yes{
    // background-color: #ff646 !important;
    color: #fcfcfc !important;
    height: 34px;
    width: 86px;
    top: 0px;
}

.button-no{
    background-color: #1898D5 !important;
    color: #fcfcfc !important;
    height: 34px;
    width: 86px;
    top: 0px;
}