<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" >
<div class="container" fxFlex="40" >
	<h2 style="text-align: center;">Forgot Password</h2>
	<form
	  [formGroup]="formGroup"
	  class="form"
	>
	  <mat-form-field floatLabel="never" class="form-element">
		<input
		  type="text"
		  matInput
		  placeholder="Email"
		  formControlName="email"
		/>
		<mat-error *ngIf="formGroup.controls['email'].invalid">
		 This field is required
		</mat-error>
	  </mat-form-field>
    
	
  
	  <div class="form-element">
		<button
		  mat-raised-button
		  color="primary"
		  type="submit"
		  class="button"
		  [disabled]="!formGroup.valid"
		  (click)="submit()"
		>
		  Submit
		</button>
        <button
		  mat-raised-button
		  color="primary"
		  type="cancel"
		  class="button"
	
		  (click)="cancel()"
		>
		  Cancel
		</button>
	  </div>
	</form>
  </div>
</div>