<div fxLayout="column">
  <mat-card  style="flex-flow: nowrap">
    <mat-card-header>
      <mat-card-title style="text-align: center"> Pending Requests</mat-card-title>
    </mat-card-header>
     <mat-divider></mat-divider>
    <div fxLayout="row" fxLayout.xs="column" fxFlex.xs="100%" fxLayoutAlign="end">
      <!--<mat-form-field fxFlex.xs="100" class="mx-2 my-2" appearance="outline">-->
        <!--<mat-label>Filter</mat-label>-->
        <!--<input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>-->
        <!--<mat-icon matSuffix>search</mat-icon>-->
      <!--</mat-form-field>-->
    </div>
    <div class="mat-elevation-z8" style="margin-top: 2%;margin-left:20px;margin-bottom:20px; margin-right:20px;">
      <mat-card-content style="width:100%;overflow-x: auto">

      <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="appliedOn">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="white-space: nowrap;"> Applied On</th>
          <td mat-cell *matCellDef="let row" style="width: 10%;" >{{row.appliedon  | date:'dd-MM-yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="empId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Emp Id </th>
          <td mat-cell *matCellDef="let row" style="width: 10%;" > {{row.employee_id}}</td>
        </ng-container>
        <ng-container matColumnDef="empName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Emp Name </th>
          <td mat-cell *matCellDef="let row" style="width: 15%;" > {{row.emp_name}}</td>
        </ng-container>
        <!-- Progress Column  empid-->
        <ng-container matColumnDef="leaveType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Leave Type</th>
          <td mat-cell *matCellDef="let row" style="width: 15%;" > {{row.display_name}}</td>
        </ng-container>
        <ng-container matColumnDef="fromDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> From Date </th>
          <td mat-cell *matCellDef="let row" style="width: 10%;" > {{row.fromdate | date:'dd-MM-yyyy'}}</td>
        </ng-container>
        <ng-container matColumnDef="toDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> To Date </th>
          <td mat-cell *matCellDef="let row" style="width: 10%;" > {{row.todate  | date:'dd-MM-yyyy'}}</td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="noOfDays">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="white-space: nowrap;"> No.of Days </th>
          <td mat-cell *matCellDef="let row" style="width:7%;text-align: center;" > {{row.leavecount}} </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="pendingSince">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="white-space: nowrap;"> Pending Since </th>
          <td mat-cell *matCellDef="let row" style="width: 8%;text-align: center;" > {{row.pendingSince}} </td>
        </ng-container>
        <!-- Color Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:auto" > Action </th>
          <td mat-cell *matCellDef="let row" style="width:auto;white-space: nowrap;cursor: pointer;">
            <i class="material-icons mr-1" (click)="leaveApprove(row,'Approved',null)" title="Approve">check_box</i>
             <i class="material-icons mr-1" (click)="leaveReject(row)" title="Reject">cancel_presentation</i>
            <!--<mat-icon (click)="leaveReject(row)" title="Reject" >cancel</mat-icon>-->
            <!--<mat-icon   title="view" (click)="leaveReview(row)">visibility</mat-icon>-->
             <i class="material-icons" (click)="leaveReview(row)" title="Review and approve">preview</i>


            <!--<a routerLink="/" (click)="onApproveClick(row)">Review and Approve</a>-->
          </td>
        </ng-container>
        <!-- Color Column -->
        <tr class="headerbox title" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="9"  style="text-align: center;">No data found</td>
        </tr>
      </table>
      </mat-card-content>
       <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      <!--<mat-paginator [pageSizeOptions]="!pageLoading ? getPageSizes() : [5, 10, 20]" *ngIf="arrayList.length>5"></mat-paginator>-->

    </div>
  </mat-card>
</div>
<ngx-spinner size="medium" type='ball-fussion'></ngx-spinner>
