<div fxLayout="column" >
    <form [formGroup]="companyForm" autocomplete="off" >
        <mat-card>
            <mat-card-header class="">
                <mat-card-title class="title"> Company Information </mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">
  
                <mat-form-field fxFlex.xs="100" fxFlex="30" class="mx-2 my-2" appearance="outline">
                    <mat-label>Fullcompanyname</mat-label>
                    <input formControlName="companyname" matInput placeholder="" >
                    <!-- <mat-error class="con-error" *ngIf="designationForm.controls.designation.errors?.required">
                      {{errorDesName}}
                  </mat-error> -->
                </mat-form-field>
                <mat-form-field fxFlex.xs="100" fxFlex="30" class="mx-2 my-2" appearance="outline">
                    <mat-label>Company website</mat-label>
                    <input formControlName="companyname" matInput placeholder="" >
                    <!-- <mat-error class="con-error" *ngIf="designationForm.controls.designation.errors?.required">
                      {{errorDesName}}
                  </mat-error> -->
                </mat-form-field>
                <mat-form-field fxFlex.xs="100" fxFlex="30"  class="mx-2 my-2" appearance="outline">
                    <mat-label>Country</mat-label>
                    <mat-select required formControlName="country"  required>
                        <ng-container >
                            <div *ngFor="let b of CountryDetails">    
                                <mat-option   value={{b.id}}>{{b.country}}</mat-option>
                            </div>
                        </ng-container>
                    </mat-select>
                    <!-- <mat-error class="con-error" *ngIf="employeeAddForm.controls.country.errors?.required">
                        {{msgLM3}}
                    </mat-error> -->
                </mat-form-field>   
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center" >
  
                <mat-form-field fxFlex.xs="100" fxFlex="30" class="mx-2 my-2" appearance="outline">
                    <mat-label>Primary Contact</mat-label>
                    <input formControlName="contact" matInput placeholder="" >
                    <!-- <mat-error class="con-error" *ngIf="designationForm.controls.designation.errors?.required">
                      {{errorDesName}}
                  </mat-error> -->
                </mat-form-field>
                <mat-form-field fxFlex.xs="100" fxFlex="30" class="mx-2 my-2" appearance="outline">
                    <mat-label>Primary Contact Email</mat-label>
                    <input formControlName="email" matInput placeholder="" >
                    <!-- <mat-error class="con-error" *ngIf="designationForm.controls.designation.errors?.required">
                      {{errorDesName}}
                  </mat-error> -->
                </mat-form-field>
                <mat-form-field fxFlex.xs="100" fxFlex="30" class="mx-2 my-2" appearance="outline">
                    <mat-label>State</mat-label>
                    <mat-select required formControlName="state"  required>
                        <ng-container >
                            <div *ngFor="let b of stateDetails">
                                
                                <mat-option   value={{b.id}}>{{b.state}}</mat-option>
                            </div>

                        </ng-container>
                    </mat-select>
                    <!-- <mat-error class="con-error" *ngIf="employeeAddForm.controls.country.errors?.required">
                        {{msgLM3}}
                    </mat-error> -->
                </mat-form-field>   
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center" >
  
                <mat-form-field fxFlex.xs="100" fxFlex="30" class="mx-2 my-2" appearance="outline">
                    <mat-label>Address1</mat-label>
                    <input formControlName="address1" matInput placeholder="" >
                    <!-- <mat-error class="con-error" *ngIf="designationForm.controls.designation.errors?.required">
                      {{errorDesName}}
                  </mat-error> -->
                </mat-form-field>
                <mat-form-field fxFlex.xs="100" fxFlex="30" class="mx-2 my-2" appearance="outline">
                    <mat-label>Address2</mat-label>
                    <input formControlName="address2" matInput placeholder="" >
                    <!-- <mat-error class="con-error" *ngIf="designationForm.controls.designation.errors?.required">
                      {{errorDesName}}
                  </mat-error> -->
                </mat-form-field>
                <mat-form-field fxFlex.xs="100" fxFlex="30"   class="mx-2 my-2" appearance="outline">
                    <mat-label>City</mat-label>
                    <mat-select required formControlName="city"  required>
                        <ng-container >
                            <div *ngFor="let b of cityDetails">
                                
                                <mat-option   value="{{b.id}}">{{b.location}}</mat-option>
                            </div>

                        </ng-container>
                    </mat-select>
                    <!-- <mat-error class="con-error" *ngIf="employeeAddForm.controls.country.errors?.required">
                        {{msgLM3}}
                    </mat-error> -->
                </mat-form-field>   
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center" >
  
                <mat-form-field fxFlex.xs="100" fxFlex="30"  class="mx-2 my-2" appearance="outline">
                    <mat-label>Pincode</mat-label>
                    <input type="text" onlyNumber  formControlName="pincode" matInput placeholder="" maxlength="6" required>
                    <!-- <mat-error class="con-error" *ngIf="employeeAddForm.controls.pincode.errors?.required">
                        {{msgLM1}}
                    </mat-error> -->
                    <!-- <input *ngIf="isview"  formControlName="firstname" matInput placeholder="" readonly> -->
                </mat-form-field>
                
            </div>
            <div fxLayoutAlign="center" class="">
                <button class="mx-1 mat-stroked-button button-save text-end"  style="background-color:#3f51b5;color:aliceblue" (click)="save()"   type="submit">
                    <span>Submit</span>
                </button>
  
                <button class="mx-1  mat-stroked-button button-clear text-end" style="background-color:#550534;color:aliceblue" (click)="cancel()">
                    <span >Cancel</span>
                </button>
                <br />
            </div>
          
        </mat-card>
    </form>
</div>