table {
  width: 100%;
}

::ng-deep .cdk-overlay-container {
  z-index:1050 !important;
}

/* td, th {
    width: 25%;
  } */
.headerbox {
  padding: 5px;
  background-color: #28acaf;
}




::ng-deep {
  .mat-select-panel[aria-label="Items per page:"] {
    mat-option:last-child:before {
      content: 'All';
    }
  }
}

::ng-deep {
  .mat-select-panel[aria-label="Items per page:"] {
    mat-option:last-child .mat-option-text {
      display: none;
    }
  }
}