<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" >
<div class="container" fxFlex="40">
	<h2 style="text-align: center;">Reset Password</h2>
	<form
	  [formGroup]="formGroup"
	  class="form"
	>
	  <mat-form-field floatLabel="never" class="form-element">
		<input
         [type]="hide1 ? 'password' : 'text'"
		  matInput
          pattern="(?=.*?[0-9])(?=.*[a-z])(?=.*?[!@#\$&*~])(?=.*[A-Z]).{8,20}"
		  placeholder="New Password"
		  formControlName="newpassword"
		/>
        <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
		<mat-error *ngIf="formGroup.controls['newpassword'].invalid">
			One lower case letter.One UPPER case letter. <br>
			One Number.
			One special character (! @ ^ $ % or a space).<br>
			Minimum 8 characters in length (20 characters max).
		</mat-error>
        <!-- <mat-error *ngIf="formGroup.controls['newpassword'].pattern">
			
          </mat-error> -->
        
	  </mat-form-field>
  
	  <mat-form-field floatLabel="never" class="form-element">
		<input
        [type]="hide2 ? 'password' : 'text'"
		  matInput
		  placeholder="Confirm Password"
		  formControlName="confirmpassword"
		/>
        <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
		<mat-error *ngIf="formGroup.controls['confirmpassword'].invalid">
		  This field is required
		</mat-error>
	  </mat-form-field>
  
	  <div class="form-element">
		<button
		  mat-raised-button
		  color="primary"
		  type="submit"
		  class="button"
		  [disabled]="formGroup.invalid"
		  (click)="submit()"
		>
		  Submit
		</button>
        <button
		  mat-raised-button
		  color="primary"
		  type="Clear"
		  class="button"
		  (click)="cancel()"
		>
		  Cancel
		</button>
	  </div>
	</form>
  </div>
  </div>