.Sub{
  margin-top: 2%;margin-left:20px;margin-bottom:20px; margin-right:20px;
}
.mat-card{
  padding: 0px !important;
  border:2px solid #F5F5DC;
}
matInputCheckbox{
  margin-top: 20px;
  margin-left: 20px;
}
table{
  border: 1px solid;
}
.iconstyle{
  height: 4px;
  width: 4px;
}

  button.link {
    background: transparent;
    color: blue;
    border: none;
    outline: 0;
    // text-decoration: underline;
  }
  button.link:hover {
    color: #80286a;
  }

  ::ng-deep .cdk-overlay-container {
    z-index:1050 !important;
  }
::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0px!important;
}
