.Sub{
  margin-top: 2%;margin-left:20px;margin-bottom:20px; margin-right:20px;
}
.mat-card{
 // padding: 0px !important;
  border:2px solid #F5F5DC;
}
matInputCheckbox{
  margin-top: 20px;
  margin-left: 20px;
}
table{
  border: 1px solid;
  border-color: #cfcfcf;
}
.iconstyle{
  height: 4px;
  width: 4px;
}

  button.link {
    background: transparent;
    color: blue;
    border: none;
    outline: 0;
    // text-decoration: underline;
  }
  button.link:hover {
    color: #80286a;
  }

  ::ng-deep .cdk-overlay-container {
    z-index:1050 !important;
  }
::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0px!important;
}
.table thead th {
  color: #000;
  border-bottom-width: 2px;
}
.table {
  color: #000 !important;
}


mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 0px;
}
.tableP{
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
}
.section {
  padding-top: 1%;
  padding-left: 1%;
  margin-bottom: 2px;
  font-size: 17px;
  color: #000000;
  text-align: left;
  line-height: 28px;
}

.truncate-cell {
  max-width: 120px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
::ng-deep {
  .mat-select-panel[aria-label="Items per page:"] {
    mat-option:last-child:before {
      content: 'All';
    }
  }
}

::ng-deep {
  .mat-select-panel[aria-label="Items per page:"] {
    mat-option:last-child .mat-option-text {
      display: none;
    }
  }
}
.headerbox{
  height: 45px;
  background-color: #28acaf !important;
  align-items: center;
}
.title{
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
   font-stretch: normal;
   font-style: normal;
  letter-spacing: 0.32px;
  color: #ffffff;
  margin-bottom: 0px;
}
::ng-deep.mat-card-header-text {
  margin: 0 6px !important;
}
::ng-deeptr.mat-header-row {
  height: 45px !important;
}
::ng-deep.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0.2em 0 !important;
}