<div fxLayout="column">
  <form [formGroup]="leaveRequestForm" autocomplete="off">
  <mat-card style="flex-flow: nowrap">
    <mat-card-header>
      <mat-card-title>Leave Request</mat-card-title>
    </mat-card-header>
     <mat-divider></mat-divider>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
    <mat-card fxFlex="60">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
      <mat-form-field fxFlex="50" fxFlex.xs="100"  class="mx-1 my-1" appearance="outline">
      <mat-label>Leave Types</mat-label>
      <mat-select formControlName="leaveTypeId" required>
        <ng-container>
          <div *ngFor="let l of leavesTypeData">

          <mat-option value={{l.id}}>{{l.leavename}}</mat-option>
          </div>
        </ng-container>
      </mat-select>
        <!--<mat-error class="con-error" *ngIf="leaveRequestForm.controls.leaveTypeId.errors?.required">-->
          <!--{{msgLM3}}-->
        <!--</mat-error>-->
      </mat-form-field>
    </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" *ngIf="leaveRequestForm.controls.leaveTypeId.value == 9||8" >
        <mat-form-field fxFlex="50" fxFlex.xs="100" *ngIf="leaveRequestForm.controls.leaveTypeId.value == 9" class="mx-1 my-1" appearance="outline">
          <mat-label>Worked Dates</mat-label>
          <mat-select formControlName="compoffApprovedDate" >
            <ng-container>
              <div *ngFor="let compoff of compOffApprovedDates">
                <!-- <mat-option value="" disabled selected>Select </mat-option> -->
                <mat-option value={{compoff.comp_off_date}}>{{compoff.comp_off_date}}</mat-option>
              </div>

            </ng-container>
          </mat-select>
          <mat-error class="con-error" *ngIf="leaveRequestForm.controls.compoffApprovedDate.errors?.required">
            {{msgLM3}}
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="50" fxFlex.xs="100" *ngIf="leaveRequestForm.controls.leaveTypeId.value == 8" class="mx-1 my-1" appearance="outline">
          <mat-label>Employee Relations</mat-label>
          <mat-select formControlName="relation" >
            <ng-container>
              <div *ngFor="let relation of employeeRelations">
                <!-- <mat-option value="" disabled selected>Select </mat-option> -->
                <mat-option value={{relation.id}}>{{relation.name}}</mat-option>
              </div>

            </ng-container>

          </mat-select>
          <mat-error class="con-error" *ngIf="leaveRequestForm.controls.relation.errors?.required">
            {{msgLM3}}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" *ngIf="leaveRequestForm.controls.leaveTypeId.value == 9">

        <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-1 my-1" appearance="outline">
          <mat-label>From Date </mat-label>
          <!-- <input type="text"  required  matInput  formControlName="workeddate"     bsDatepicker [bsConfig]="{ isAnimated: true, dateInputFormat: 'MM-DD-YYYY', showWeekNumbers:false }" > -->
          <input matInput readonly  [min]="minDate" [max]="fromMaxDate" [matDatepicker]="picker" [matDatepickerFilter]="fromDateFilter"
                 placeholder="MM/DD/YYYY" formControlName="fromDate"  required (click)="picker.open()">

          <mat-datepicker-toggle class="datepicker" matSuffix [for]="picker">
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error class="con-error" *ngIf="leaveRequestForm.controls.fromDate.errors?.required">
            {{msgLM3}}
          </mat-error>
          <!-- <mat-error class="con-error" *ngIf="CompoffForm.controls.workeddate.errors?.required">
              Please select an option [min]="min" [max]="max"
          </mat-error> -->
        </mat-form-field>
        <div fxFlex.xs="100" fxFlex="50" class="mx-1 my-1">
          <mat-checkbox  style="margin-top: 20px;margin-left: 20px;"  [disabled]="isDisableSecondHalf"  *ngIf="isSecondHalf" formControlName="fromDateHalf">Second Half</mat-checkbox>
        </div>

      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" *ngIf="leaveRequestForm.controls.leaveTypeId.value == 9">

        <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-1 my-1" appearance="outline">
          <mat-label>To Date </mat-label>
          <!-- <input type="text"  required  matInput  formControlName="workeddate"     bsDatepicker [bsConfig]="{ isAnimated: true, dateInputFormat: 'MM-DD-YYYY', showWeekNumbers:false }" > -->
          <input matInput readonly [disabled]="true" [min]="leaveRequestForm.controls.fromDate.value" [max]="maxDate"
          [matDatepicker]="picker1" [matDatepickerFilter]="toDateFilter"
                 placeholder="MM/DD/YYYY" formControlName="toDate"  required (click)="picker1.open()">

          <mat-datepicker-toggle class="datepicker" matSuffix [for]="picker1">
          </mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <!-- <mat-error class="con-error" *ngIf="CompoffForm.controls.workeddate.errors?.required">
              Please select an option [min]="min" [max]="max"
          </mat-error> -->
          <mat-error class="con-error" *ngIf="leaveRequestForm.controls.toDate.errors?.required">
            {{msgLM3}}
          </mat-error>
        </mat-form-field>
        <div fxFlex.xs="100" fxFlex="50" class="mx-1 my-1">
          <mat-checkbox  style="margin-top: 20px;margin-left: 20px;" *ngIf="isFirstHalf" [disabled]="isDisableFirstHalf" formControlName="toDateHalf">First Half</mat-checkbox>
        </div>

      </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" *ngIf="leaveRequestForm.controls.leaveTypeId.value != 9 ">

    <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-1 my-1" appearance="outline">
      <mat-label>From Date </mat-label>
      <!-- <input type="text"  required  matInput  formControlName="workeddate"     bsDatepicker [bsConfig]="{ isAnimated: true, dateInputFormat: 'MM-DD-YYYY', showWeekNumbers:false }" > -->
      <input matInput readonly [min]="minDate" [max]="leaveRequestForm.controls.leaveTypeId.value == 5 || leaveRequestForm.controls.leaveTypeId.value == 6 || leaveRequestForm.controls.leaveTypeId.value == 7 || leaveRequestForm.controls.leaveTypeId.value == 8 ?'':fromMaxDate"
           [matDatepicker]="picker" [matDatepickerFilter]="fromDateFilter"
             placeholder="MM/DD/YYYY" formControlName="fromDate"  required (click)="picker.open()">

      <mat-datepicker-toggle class="datepicker" matSuffix [for]="picker">
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

      <mat-error class="con-error" *ngIf="leaveRequestForm.controls.fromDate.errors?.required">
        {{msgLM3}}
      </mat-error>
      <!-- <mat-error class="con-error" *ngIf="CompoffForm.controls.workeddate.errors?.required">
          Please select an option [min]="min" [max]="max"
      </mat-error> -->
    </mat-form-field>
      <div fxFlex.xs="100" fxFlex="50" class="mx-1 my-1">
      <mat-checkbox  style="margin-top: 20px;margin-left: 20px;"  [disabled]="isDisableSecondHalf"  *ngIf="isSecondHalf" formControlName="fromDateHalf">Second Half</mat-checkbox>
      </div>

    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" *ngIf="leaveRequestForm.controls.leaveTypeId.value != 9 && leaveRequestForm.controls.leaveTypeId.value != 8 && leaveRequestForm.controls.leaveTypeId.value != 7 && leaveRequestForm.controls.leaveTypeId.value != 6 && leaveRequestForm.controls.leaveTypeId.value != 5">

      <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-1 my-1" appearance="outline">
        <mat-label>To Date </mat-label>
        <!-- <input type="text"  required  matInput  formControlName="workeddate"     bsDatepicker [bsConfig]="{ isAnimated: true, dateInputFormat: 'MM-DD-YYYY', showWeekNumbers:false }" > -->
        <input matInput readonly [min]="leaveRequestForm.controls.fromDate.value" [max]="leaveRequestForm.controls.leaveTypeId.value == 5 || leaveRequestForm.controls.leaveTypeId.value == 6 || leaveRequestForm.controls.leaveTypeId.value == 7 || leaveRequestForm.controls.leaveTypeId.value == 8 ?'':maxDate"
        [matDatepicker]="picker1" [matDatepickerFilter]="toDateFilter"
               placeholder="MM/DD/YYYY" formControlName="toDate"  required (click)="picker1.open()">

        <mat-datepicker-toggle class="datepicker" matSuffix [for]="picker1">
        </mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error class="con-error" *ngIf="leaveRequestForm.controls.toDate.errors?.required">
          {{msgLM3}}
        </mat-error>
        <!-- <mat-error class="con-error" *ngIf="CompoffForm.controls.workeddate.errors?.required">
            Please select an option [min]="min" [max]="max"
        </mat-error> -->
      </mat-form-field>
      <div fxFlex.xs="100" fxFlex="50" class="mx-1 my-1">
        <mat-checkbox  style="margin-top: 20px;margin-left: 20px;" *ngIf="isFirstHalf" [disabled]="isDisableFirstHalf" formControlName="toDateHalf">First Half</mat-checkbox>
      </div>

    </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" *ngIf="leaveRequestForm.controls.leaveTypeId.value == 8 || leaveRequestForm.controls.leaveTypeId.value == 5 || leaveRequestForm.controls.leaveTypeId.value == 6 || leaveRequestForm.controls.leaveTypeId.value == 7">

        <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-1 my-1" appearance="outline">
          <mat-label>To Date </mat-label>
          <!-- <input type="text"  required  matInput  formControlName="workeddate"     bsDatepicker [bsConfig]="{ isAnimated: true, dateInputFormat: 'MM-DD-YYYY', showWeekNumbers:false }" > -->
          <input matInput readonly   [disabled]="true"[min]="leaveRequestForm.controls.fromDate.value" [max]="leaveRequestForm.controls.leaveTypeId.value == 5 || leaveRequestForm.controls.leaveTypeId.value == 6 || leaveRequestForm.controls.leaveTypeId.value == 7 || leaveRequestForm.controls.leaveTypeId.value == 8 ?'':maxDate"
           [matDatepicker]="picker1"
                 placeholder="MM/DD/YYYY" formControlName="toDate"  required (click)="picker1.open()">

          <mat-datepicker-toggle class="datepicker" matSuffix [for]="picker1">
          </mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <!-- <mat-error class="con-error" *ngIf="CompoffForm.controls.workeddate.errors?.required">
              Please select an option [min]="min" [max]="max"
          </mat-error> -->
        </mat-form-field>
        <div fxFlex.xs="100" fxFlex="50" class="mx-1 my-1">
          <mat-checkbox  style="margin-top: 20px;margin-left: 20px;" *ngIf="isFirstHalf" [disabled]="isDisableFirstHalf" formControlName="toDateHalf">First Half</mat-checkbox>
        </div>

      </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
      <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-1 my-1" appearance="outline">
      <mat-label>Leave Count</mat-label>
      <input formControlName="leaveCount" [disabled]="true" required matInput placeholder="Leave Count" >
      </mat-form-field>

    </div>
    <div fxLayout="row"  fxLayout.xs="column" fxLayoutGap="10px">
      <mat-form-field fxFlex.xs="100" fxFlex="50"  class="mx-1 my-1" appearance="outline">
        <mat-label>Reason</mat-label>
        <textarea formControlName="reason" required matInput placeholder="Reason" maxlength="500"></textarea>
        <mat-error class="con-error" *ngIf="leaveRequestForm.controls.reason.errors?.required">
          {{msgLM1}}
        </mat-error>
      </mat-form-field>
    </div>
      <div fxLayout="row" *ngIf="document" fxLayout.xs="column" fxLayoutGap="10px">
        <!--<mat-form-field fxFlex.xs="100" fxFlex="50"  class="mx-1 my-1" appearance="outline">-->
          <!--<mat-label>Supporting Document </mat-label>-->
      <div style="padding-bottom: 1.34375em;margin-left: 10px" >
        <label style="margin-left: 10px">Supporting Document<mat-icon title="pdf/docx/doc file upto 15MB can be uploaded" class="iconstyle">info</mat-icon></label><br>
          <input style="margin-left: 10px" type="file" formControlName="document" (change)=onSelectFile($event) required single> &nbsp;
           <mat-icon   title="delete" *ngIf="leaveRequestForm.controls.document.value"  (click)="delete()">delete</mat-icon> &nbsp;
        <!--<i  style="color : black" class="fa-solid fa-trash-can" (click)="delete()" title="Delete"></i>-->
        <mat-error style="margin-left: 10px" *ngIf="submitted && leaveRequestForm.controls.document.errors?.required" class="invalid-feedback">
          {{msgLM3}}
        </mat-error>
      </div>

      </div>

    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
      <mat-form-field fxFlex.xs="100" fxFlex="50"  class="mx-1 my-1" appearance="outline">
        <mat-label>Contact</mat-label>
        <input formControlName="contact" maxlength="10" onlyNumber required matInput placeholder="Contact Number" >
        <mat-error class="con-error" *ngIf="leaveRequestForm.controls.contact.errors?.required">
          {{msgLM1}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
      <mat-form-field fxFlex.xs="100" fxFlex="50"  class="mx-1 my-1" appearance="outline">
        <mat-label>Emergency Email</mat-label>
        <input formControlName="emergencyEmail"  matInput placeholder="Emergency Email(optional)" >
      </mat-form-field>
    </div>
      <div fxLayout="row"  style="justify-content: center;"  class="showLine">
                <span>
                    <button class="mx-2 my-2 button-save" style="height: 44px;"  (click)="setApplyLeave()"
                            mat-stroked-button>
                        Submit
                    </button>
                </span>
        <span class="line" style="color:#1898D5;font-size:16px"></span>
        <button class="mx-2 my-2 mat-flat-button  button-clear" style="height: 44px;" (click)="cancel(1)">
          <span>Cancel</span>
        </button>
      </div>
      </mat-card>
    <mat-card fxFlex="40" style="margin-top: 200px">
      <mat-card-header>
        <mat-card-title> Available Leave Balance</mat-card-title>
      </mat-card-header>
      <mat-card-content style="width: 100%;overflow-x: auto">
      <table id="table" class="table  table-striped"  >
        <thead>
        <tr >
          <th scope="col" class="space"></th>
          <th scope="col" class="space">Used</th>
          <th scope="col" class="space">Available</th>
          <th scope="col" class="space">Total</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let item of leavebalance">

          <tr scope="row" class="spacetd">
            <td >{{item.leavename}}</td>
            <td>{{item.used}}</td>
            <td>{{item.leave_balance}}</td>
            <td>{{item.total}}</td>
          </tr>
        </ng-container>
        <tr *ngIf="leavebalance && leavebalance.length === 0">
          <td colspan="10" style="text-align: center;">No Data Found</td>
        </tr>
        </tbody>

      </table>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">

        <div fxFlex.xs="100" fxFlex="100" class="mx-1 my-1"  >
          <label ><b>Manager Name:</b></label>
          <label ><b>{{userSession.roles[0].rm_name}}</b></label>
        </div>
        </div>
      </mat-card-content>
    </mat-card>
    </div>
  </mat-card>
  </form>
</div>
