.btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
  .custom-image {
    margin-bottom:10px;
    height:193px;
    width: 188px;
  }
  .custom-button-save {
    width:33%;
  }
  .custom-font-white {
    color: white;
  }
  .custom-view-mbt-1 {
    margin-bottom: 1rem;
  }
  .title{
    margin-top: 10px;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: normal;
     font-stretch: normal;
     font-style: normal;
    letter-spacing: 0.32px;
    color: white;
  }
  mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
  }