.btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
  .custom-image {
    margin-bottom:10px;
    height:193px;
    width: 188px;
  }
  .custom-button-save {
    width:33%;
  }
  .custom-font-white {
    color: white;
  }
  .custom-view-mbt-1 {
    margin-bottom: 1rem;
  }
  