<mat-sidenav-container class="example-sidenav-container" autosize="true" style="overflow: hidden;">

  <mat-sidenav #sidenav *ngIf="flag" class="example-sidenav" mode="side" opened="true" style="position: fixed;  padding-top:80px;transform: scale;padding-left: 0.2rem;width: 56px;">
    <mat-nav-list class="dashboard" >
      <a mat-list-item >
        <div class="row" style="flex-flow: column" matTooltip={{istoolTip}} (click)='toggleBack($event)' >
           <mat-icon style="color:#28acaf">menu</mat-icon>
        </div>
      </a>
      <span *ngFor="let item of menuList">
        <a mat-list-item >
          <div class="row" style="flex-flow: column" (mouseover)="sidemenuHover(item)" #tooltip="matTooltip" matTooltip={{moduleName}} >
            <img [src]="item.iconpath" style="height: 30px; width: 45px;max-inline-size: fit-content;" [routerLink]="item.default_url" [routerLinkActive]="['active']" (click)="toggleChild(item,item.default_url)" />
          </div>
        </a>
      </span>
    </mat-nav-list>
  </mat-sidenav>

  <div style="width:100%;display:flex;" *ngIf="flag">
    <div [ngStyle]="{'width': isExpanded ? (sideNavigationWidth)+'%' : '0%'}" *ngIf=" toggleExpand()">
      <mat-drawer-container class="example-container" style="border: none;overflow-x: hidden;" >
        <mat-drawer mode="side" opened class="sideNavCss"
                    style="overflow-x: hidden;position: relative;padding-top: 15px;border: none;transform: scale; visibility: collapse;padding-bottom: 100%;" >
          <div  style="flex-flow: column;margin-left: 1%;overflow-x: hidden;overflow-y:auto; height:calc(100vh - 80px);"  >
            <!-- <mat-nav-list style="align-items: center; height: 45px;  margin: inherit;" (click)="onClickMainDashboard()">
              <mat-list-item  style="font: -webkit-control;" >
                <span style="margin-left: 6%;color:white;   font-size: medium;" > Dashboard </span>
              </mat-list-item>
            </mat-nav-list> -->

      <span *ngFor="let item of menuList" >
        <span *ngIf="item.displayStatus && item.children">
          <!-- <mat-toolbar style="overflow-x: hidden;">
            <span style="margin-left: 15px; color:#28acaf;"> {{ item.modulename }}</span>
          </mat-toolbar> -->
              <span *ngIf="item.children && item.children[0]" style="margin: top 10px;overflow-x: hidden;" >
               
                  <mat-expansion-panel *ngFor="let child of item.children"  [expanded]="(child.displayName===self)?true:child.isOpen" [disabled]="(child.displayName===self)"  [hideToggle]="child.displayName===self" style="background: white;" >
                  <mat-expansion-panel-header style="background: white;">
                  <mat-toolbar style="align-items: end; height: 40px;color:#28acaf;   font-size: medium;    margin-left: 15px;background: white;" >
                    <span style="background: white;"> {{ child.displayName != self ? child.displayName: item.modulename  }}</span>
                  </mat-toolbar>
                </mat-expansion-panel-header>
                 
                  <span *ngIf="child.subChildren && child.subChildren[0]" style="background-color: white;" >
                    <mat-nav-list *ngFor="let subchild of child.subChildren" style="height: 45px;"  >
                      <mat-list-item [routerLink]="subchild.routename" [routerLinkActive]="['active']"  style="font: -webkit-control;" (click)="toggleChild(item,subchild.routename)">
                        <span  style="font:auto;" > {{ subchild.screen_name }}</span>
                      </mat-list-item>
                    </mat-nav-list>
                  </span>
               
                </mat-expansion-panel>
               
              </span>
        </span>
      </span>

          </div>
        </mat-drawer>

      </mat-drawer-container>
    </div>
    <div [ngStyle]="{'width': isExpanded ? (100-sideNavigationWidth)+'%' : '100%'}">
      <div  style="flex-flow: column;margin-left: 1%;overflow-x: hidden;overflow-y:auto; height:calc(100vh - 80px);"  >
      <section>
        <router-outlet></router-outlet>
      </section>
    </div>
    </div>
  </div>

  <div style="width:100%;" *ngIf="!flag">
    <section>
      <router-outlet></router-outlet>
    </section>
  </div>

</mat-sidenav-container>

