

<mat-sidenav-container class="example-sidenav-container" autosize="true" >

  <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" style="position: fixed;  padding-top:80px;transform: scale;background: lightcyan;margin-left: 0.5rem;">
    <mat-nav-list class="dashboard">
      <a mat-list-item >
        <div class="row" style="flex-flow: column" (click)='toggleBack($event)' >
           <mat-icon style="color:#28acaf">menu</mat-icon>
        </div>
      </a>
      <span *ngFor="let item of menuList">
        <a mat-list-item >
          <div class="row" style="flex-flow: column" (mouseover)="sidemenuHover(item)" #tooltip="matTooltip" matTooltip={{moduleName}} (click)="toggleActive(item)">
            <img [src]="item.iconpath" style="height: 30px; width: 45px;max-inline-size: fit-content;" />
          </div>
        </a>
      </span>
    </mat-nav-list>
  </mat-sidenav>

  <div style="width:100%;display:flex;">
    <div style="width:19%;">
      <mat-drawer-container class="example-container" style="border: none;overflow: hidden;" >
        <mat-drawer mode="side" opened class="sideNavCss"
                    style="overflow: hidden;position: relative;padding-top: 15px;border: none;background: lightcyan;transform: scale; visibility: collapse;padding-bottom: 100%;" >
          <div  style="flex-flow: column;margin-left: 1%;overflow: hidden;"  >
            <mat-nav-list style="align-items: center; height: 45px;  background-color:#28acaf ;margin: inherit;" (click)="onClickMainDashboard()">
              <mat-list-item  style="font: -webkit-control;" >
                <span style="margin-left: 6%;color:white;   font-size: medium;" > Dashboard </span>
              </mat-list-item>
            </mat-nav-list>

            <span *ngFor="let item of menuList" >
        <span *ngIf="item.displayStatus && item.children">
          <mat-toolbar style="background: lightcyan;overflow: hidden;">
            <span style="margin-left: 15px; background: lightcyan;"> {{ item.modulename }}</span>
          </mat-toolbar>
              <span *ngIf="item.children && item.children[0]" style="margin: top 10px;overflow: hidden;" >
                <mat-nav-list  *ngFor="let child of item.children">
                  <mat-toolbar style="align-items: end; height: 40px;color:#28acaf;   font-size: medium;    margin-left: 15px;background: lightcyan;"  *ngIf="child.displayName != self">
                    <span> {{ child.displayName }}</span>
                  </mat-toolbar>
                  <span *ngIf="child.subChildren && child.subChildren[0]">
                    <mat-nav-list *ngFor="let subchild of child.subChildren" style="height: 45px;">
                      <mat-list-item [routerLink]="subchild.routename" [routerLinkActive]="['active']"  style="font: -webkit-control;" (click)="toggleChild(item,child,subchild,subchild.routename,subchild.screen_name)">
                        <span  style="font:auto;" > {{ subchild.screen_name }}</span>
                      </mat-list-item>
                    </mat-nav-list>
                  </span>
                </mat-nav-list>
                <!-- </mat-expansion-panel> -->
              </span>
        </span>
      </span>

          </div>
        </mat-drawer>

      </mat-drawer-container>
    </div>
    <div style="width:81%;">
      <section>
        <router-outlet></router-outlet>
      </section>
    </div>
  </div>

<!--
<div class="row" style="flex-flow: column;display:flex;overflow: hidden;background: lightcyan;margin: auto;position: fixed;">

  </div>
-->


</mat-sidenav-container>

