<div fxLayout="column">
  <form [formGroup]="editForm" autocomplete="off">
    <mat-card>
      <mat-card-header>
        <mat-card-title > Edit Profile </mat-card-title>
      </mat-card-header>
      <div fxLayout="row" fxLayout.xs="column" >
        <div class="row col-md-12 profileImage">
          <!--<div class="column custom-view-mbt-1">-->
          <div class="productAddfromImages customForImage" *ngFor='let url of imageurls; let i = index'>
            <img class="img-fluid custom-image"  [src]="url.base64String">
            <div class="row "  style="justify-content: center;">
                                      <span class="btn btn-success btn-file mr-3 mx-2 my-2" >
                                        Change <input type="file"
                                                      class="form-control"
                                                      (change)="onSelectFile($event)"
                                                      accept="image/*" />
                                    </span>
              <!--<span class="btn btn-primary btn-file mr-3 mx-2 my-2 custom-button-save" *ngIf="isFileImage" style="width: fit-content;" (click)="saveImage(false)">-->
                                        <!--Save-->
                                    <!--</span>-->
              <!--<span class="btn btn-primary btn-danger mr-3 mx-2 my-2 custom-button-save" *ngIf="isRemoveImage" style="width: fit-content;" (click)="removeImage()">-->
                                      <!--Remove-->
                                  <!--</span>-->
              <!--<span class="btn btn-primary btn-danger mr-3 mx-2 my-2 custom-button-save"  *ngIf="isFileImage" style="width: fit-content;" (click)="cancelImage()">-->
                                    <!--Cancel-->
                                <!--</span>-->

            </div>

            <!-- <button (click)="removeImage()" class="btn btn-xs btn-danger  mx-2 my-2 custom-font-white"*ngIf="isRemoveImage" >Remove</button> -->
            <!-- <button (click)="cancelImage()"class="btn btn-xs btn-danger  mx-2 my-2 custom-font-white" *ngIf="isFileImage">cancel</button> -->
          </div>
          <!--</div>-->
        </div>

      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">

        <mat-form-field fxFlex.xs="100" fxFlex="30" class="mx-2 my-2" appearance="outline">
          <mat-label>First Name</mat-label>
          <input formControlName="firstName"  matInput placeholder="First Name">
          <mat-error class="con-error"
                     *ngIf="editForm.controls.firstName.errors?.required">
            {{LM1}}          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex.xs="100" fxFlex="30" class="mx-2 my-2" appearance="outline">
          <mat-label>Middle Name</mat-label>
          <input formControlName="middlename"  matInput placeholder="Middle Name">
          <mat-error class="con-error"
                     *ngIf="editForm.controls.middlename.errors?.required">
            {{LM1}}          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex.xs="100"  fxFlex="30" class="mx-2 my-2" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input formControlName="lastName" required matInput placeholder="Last Name" >
          <mat-error class="con-error"
                     *ngIf="editForm.controls.lastName.errors?.required">
            {{LM1}}          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">

      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center" >
        <mat-form-field fxFlex.xs="100"  fxFlex="30" class="mx-2 my-2" appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" required matInput placeholder="" maxlength="100" >
          <mat-error class="con-error" *ngIf="editForm.controls.email.errors?.email">
            Please enter valid email
          </mat-error>
          <mat-error class="con-error"
                     *ngIf="editForm.controls.email.errors?.required">
            {{LM1}}          </mat-error>
        </mat-form-field>

        <mat-form-field  fxFlex.xs="100"  fxFlex="30" class="mx-2 my-2" appearance="outline">
          <mat-label>Contact</mat-label>
          <input formControlName="contact" onlyNumber required matInput placeholder="" maxlength="10"  >
          <mat-error class="con-error"
                     *ngIf="editForm.controls.contact.errors?.required">
            {{LM1}}
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex.xs="100"  fxFlex="30" class="mx-2 my-2" appearance="outline">
          <mat-label>Address</mat-label>
          <input formControlName="address" required matInput placeholder="" maxlength="100"  >
          <mat-error class="con-error"
                     *ngIf="editForm.controls.address.errors?.required">
            {{LM1}}          </mat-error>
        </mat-form-field>


      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">

      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center"  >

        <mat-form-field fxFlex.xs="100"  fxFlex="30" class="mx-2 my-2" appearance="outline">
          <!--<mat-label>Country</mat-label>-->
          <!--<input formControlName="countryId" required matInput placeholder="" >-->
          <mat-label>Country</mat-label>
          <mat-select required formControlName="countryId" required>
            <ng-container>
              <div *ngFor="let b of CountryDetails">

                <mat-option value={{b.id}}>{{b.country}}</mat-option>
              </div>

            </ng-container>
          </mat-select>
          <mat-error class="con-error"
                     *ngIf="editForm.controls.countryId.errors?.required">
            {{LM2}}
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex.xs="100"  fxFlex="30" class="mx-2 my-2" appearance="outline">
          <!--<mat-label>State</mat-label>-->
          <!--<input formControlName="stateId" required matInput placeholder="" >-->
          <mat-label>State</mat-label>
          <mat-select formControlName="stateId" required>
            <ng-container>
              <div *ngFor="let b of stateDetails">
                <!-- <mat-option value="" disabled selected>Select </mat-option> -->
                <mat-option value={{b.id}}>{{b.state}}</mat-option>
              </div>

            </ng-container>
          </mat-select>
          <mat-error class="con-error"
                     *ngIf="editForm.controls.stateId.errors?.required">
            {{LM2}}
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex.xs="100"  fxFlex="30" class="mx-2 my-2" appearance="outline">
          <!--<mat-label >City</mat-label>-->
          <!--<input formControlName="cityId" required matInput placeholder="" >-->
          <mat-label>City</mat-label>
          <mat-select formControlName="cityId" required>
            <ng-container>
              <div *ngFor="let b of cityDetails">
                 <!--<mat-option value=""  selected>Select </mat-option>-->
                <mat-option value="{{b.id}}">{{b.location}}</mat-option>
              </div>

            </ng-container>
          </mat-select>

          <mat-error class="con-error" *ngIf="editForm.controls.cityId.errors?.required">
            {{LM2}}
          </mat-error>

        </mat-form-field>

      </div>

      <div fxLayout="row" fxLayout.xs="column"  >
        <mat-form-field fxFlex.xs="100"  fxFlex="30" class="mx-2 my-2" appearance="outline">
          <mat-label>Zip Code</mat-label>
          <input formControlName="zipCode" onlyNumber required matInput placeholder="" minlength="6" maxlength="6"  >
          <!--<div *ngIf="pincodeno['pincdctrl'].touched && pincodeno['pincdctrl'].invalid" class="show-error">-->
            <!--<div *ngIf="pincodeno['pincdctrl'].errors?.['required'] && pincodeno['pincdctrl'].dirty">Please enter pin code-->
            <!--</div>-->
            <!--<div *ngIf="pincodeno['pincdctrl'].errors?.['pattern'] && pincodeno['pincdctrl'].dirty"> 6 digit pin code required-->
            <!--</div>-->
          <!--</div>-->

          <mat-error class="con-error"
                     *ngIf="editForm.controls.zipCode.errors?.required">
            {{LM1}}
          </mat-error>
          <mat-error class="con-error" *ngIf="editForm.controls.zipCode.errors?.minlength">
           {{LM54}}
          </mat-error>
        </mat-form-field>
        <!--<mat-form-field fxFlex.xs="100"  class="mx-7 my-2" appearance="outline">-->
        <!--&lt;!&ndash;<mat-label>Zip Code</mat-label>&ndash;&gt;-->
        <!--&lt;!&ndash;<input formControlName="zipCode" required matInput placeholder="" >&ndash;&gt;-->
        <!--</mat-form-field>-->
      </div>



      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center" style="justify-content: center;">
        <button class="col-md-2 mr-2 btn btn-primary" [disabled]="!editForm.valid"(click)="saveImage(true)" type="submit">
          <span>Submit</span>
        </button>
        <button class="col-md-2 mr-2 btn btn-danger" (click)="cancel()" type="submit">
          <span>Cancel</span>
        </button>
      </div>
      <!--</div>-->
    </mat-card>
  </form>
</div>
<ngx-spinner size="medium" type='ball-fussion'></ngx-spinner>
