<div fxLayout="column">
  <form [formGroup]="editForm" autocomplete="off">
    <mat-card>
      <mat-card-header>
        <mat-card-title > Edit Profile </mat-card-title>
      </mat-card-header>
      <br>
      <div fxLayout="row" fxLayoutAlign="center">
         <label  class="hoverable1" for="fileInput" >
            <img  class="img1" *ngIf="!imageurls" src="../../../assets/img/profile.jpg" alt="user-img">
            <img   class="img1"*ngIf="imageurls" [src]="imageurls">
            <div class="hover-text"><mat-icon>camera_enhance</mat-icon></div>
                    <div class="background"></div>
             <input id="fileInput" accept='image/*' type='file' (change)="onSelectFile($event)">
        </label>
      </div>
      <div class="tableP">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">

        <mat-form-field fxFlex.xs="100" fxFlex class="mx-2 my-2" appearance="outline">
          <mat-label>First Name</mat-label>
          <input formControlName="firstName" required  matInput placeholder="First Name">
          <mat-error class="con-error"
                     *ngIf="editForm.controls.firstName.errors?.required">
            {{LM1}}          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex.xs="100" fxFlex class="mx-2 my-2" appearance="outline">
          <mat-label>Middle Name</mat-label>
          <input formControlName="middlename"  matInput placeholder="Middle Name">
          <mat-error class="con-error"
                     *ngIf="editForm.controls.middlename.errors?.required">
            {{LM1}}          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex.xs="100"  fxFlex class="mx-2 my-2" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input formControlName="lastName" required matInput placeholder="Last Name" >
          <mat-error class="con-error"
                     *ngIf="editForm.controls.lastName.errors?.required">
            {{LM1}}          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center" >
        <mat-form-field fxFlex.xs="100"  fxFlex class="mx-2 my-2" appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput placeholder="" maxlength="100" >
          <mat-error class="con-error" *ngIf="editForm.controls.email.errors?.email">
            Please enter valid email
          </mat-error>
          <!-- <mat-error class="con-error"
                     *ngIf="editForm.controls.email.errors?.required">
            {{LM1}}          </mat-error> -->
        </mat-form-field>

        <mat-form-field  fxFlex.xs="100"  fxFlex class="mx-2 my-2" appearance="outline">
          <mat-label>Contact</mat-label>
          <input formControlName="contact" onlyNumber required matInput placeholder="" maxlength="10" minlength="10" >
          <mat-error class="con-error"
                     *ngIf="editForm.controls.contact.errors?.required">
            {{LM1}}
          </mat-error>
          <mat-error class="con-error" *ngIf="editForm.get('contact').hasError('pattern')">
            Please enter valid mobile number
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex.xs="100"  fxFlex class="mx-2 my-2" appearance="outline">
          <mat-label>Address</mat-label>
          <input formControlName="address" required matInput placeholder="" maxlength="100"  >
          <mat-error class="con-error"
                     *ngIf="editForm.controls.address.errors?.required">
            {{LM1}}          </mat-error>
        </mat-form-field>


      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">

      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center"  >

        <mat-form-field fxFlex.xs="100"  fxFlex class="mx-2 my-2" appearance="outline">
          <!--<mat-label>Country</mat-label>-->
          <!--<input formControlName="countryId" required matInput placeholder="" >-->
          <mat-label>Country</mat-label>
          <mat-select required formControlName="countryId" required>
            <ng-container>
              <div *ngFor="let b of CountryDetails">

                <mat-option [value]="b.id">{{b.country}}</mat-option>
              </div>

            </ng-container>
          </mat-select>
          <mat-error class="con-error"
                     *ngIf="editForm.controls.countryId.errors?.required">
            {{LM2}}
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex.xs="100"  fxFlex class="mx-2 my-2" appearance="outline">
          <mat-label>State</mat-label>
          <mat-select formControlName="stateId" required>
            <ng-container>
              <div *ngFor="let b of stateDetails">
                <mat-option [value]="b.id">{{b.state}}</mat-option>
              </div>

            </ng-container>
          </mat-select>
          <mat-error class="con-error"
                     *ngIf="editForm.controls.stateId.errors?.required">
            {{LM2}}
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex.xs="100"  fxFlex class="mx-2 my-2" appearance="outline">
          <mat-label>City</mat-label>
          <mat-select formControlName="cityId" required>
            <ng-container>
              <div *ngFor="let b of cityDetails">
                <mat-option [value]="b.id">{{b.location}}</mat-option>
              </div>

            </ng-container>
          </mat-select>

          <mat-error class="con-error" *ngIf="editForm.controls.cityId.errors?.required">
            {{LM2}}
          </mat-error>

        </mat-form-field>

      </div>

      <div fxLayout="row" fxLayout.xs="column"  >
        <mat-form-field fxFlex.xs="100"  fxFlex="32" class="mx-2 my-2" appearance="outline">
          <mat-label>Pincode</mat-label>
          <input formControlName="zipCode" onlyNumber required matInput placeholder="" minlength="6" maxlength="6"  >
          <!--<div *ngIf="pincodeno['pincdctrl'].touched && pincodeno['pincdctrl'].invalid" class="show-error">-->
            <!--<div *ngIf="pincodeno['pincdctrl'].errors?.['required'] && pincodeno['pincdctrl'].dirty">Please enter pin code-->
            <!--</div>-->
            <!--<div *ngIf="pincodeno['pincdctrl'].errors?.['pattern'] && pincodeno['pincdctrl'].dirty"> 6 digit pin code required-->
            <!--</div>-->
          <!--</div>-->

          <mat-error class="con-error"
                     *ngIf="editForm.controls.zipCode.errors?.required">
            {{LM1}}
          </mat-error>
          <mat-error class="con-error" *ngIf="editForm.controls.zipCode.errors?.minlength">
           {{LM54}}
          </mat-error>
        </mat-form-field>
      </div>

     <div fxLayout="row" fxLayoutAlign="center" fxLayout.xs="column" fxLayoutAlign.xs="center center">
        <button class="btn btn-primary mr-2 mb-2" (click)="submit(true)" type="submit">
          <span>Submit</span>
        </button>
        <button class="btn btn-danger mr-2 mb-2" (click)="cancel()" type="submit">
          <span>Cancel</span>
        </button>
      </div>
    </div>
    </mat-card>
  </form>
</div>
<ngx-spinner size="medium" type='ball-fussion'></ngx-spinner>
