<div fxLayout="column" class="first-col">

      <mat-card>
        <mat-card-header class="headerbox" fxLayout="row" fxLayoutAlign="space-between center">
          <mat-card-title class="title"> Employee Directory </mat-card-title>
            <div style="margin-right: 2%;">
               <button mat-icon-button style="padding-right: 40px;" (click)="newHire()" matTooltip="Add New">
                    <mat-icon style="font-size: 30px">add_circle</mat-icon>
                  </button>
               </div>
            </mat-card-header>
       
          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center" fxLayoutAlign="end">

                <mat-form-field fxFlex.xs="100" fxFlex="28" fxFlex.lt-lg="30" class="mx-2 my-2" appearance="outline" style="padding-top: 1%;padding-right: 1%;">
                  <mat-icon matSuffix style="color: #28acaf;">search</mat-icon>
                  <mat-label>Search Employee</mat-label>
                    <input (keyup)="applyFilter($event)"  matInput placeholder="" maxlength="100" >
                  </mat-form-field>
          
        </div>
        <form [formGroup]="employeeDirectoryForm" style="padding-left: 1%;padding-right: 1%;">
        <!-- <div *ngIf="ishideFilter" style="margin-left: 1%;">
          <mat-card>
          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center" class="text2" >
           <mat-checkbox class="example-margin"  [checked]="ischecked" (change)="setonboarding($event)"
           color="primary">
          </mat-checkbox> Designation
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center" class="text2">
            <ul *ngIf="ishideonbord">
                <div  *ngIf="ishideonbord" ><mat-checkbox class="example-margin " color="primary"></mat-checkbox>New Hire Added</div>
                <div  *ngIf="ishideonbord"><mat-checkbox class="example-margin" color="primary"></mat-checkbox>Onboarding completion</div>
                <div   *ngIf="ishideonbord"><mat-checkbox class="example-margin" color="primary"></mat-checkbox>Employee not joining</div>
            </ul>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center" class="text2" >
          <mat-checkbox class="example-margin"  [checked]="ischecked" (change)="setonboarding($event)"
          color="primary">
         </mat-checkbox>Status
         </div>
         <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center" class="text2">
           <ul *ngIf="ishideonbord">
               <div  *ngIf="ishideonbord" ><mat-checkbox class="example-margin " color="primary"></mat-checkbox>Active</div>
               <div  *ngIf="ishideonbord"><mat-checkbox class="example-margin" color="primary"></mat-checkbox>Inactive</div>
               <div   *ngIf="ishideonbord"><mat-checkbox class="example-margin" color="primary"></mat-checkbox>Terminated</div>
           </ul>
       </div>

       <div fxLayoutAlign="start">
        <button class="col-md-1 btn btn-primary mx-2 my-2"  (click)="search()" type="button">
            <span>Search</span>
        </button>
      <button class="col-md-1 btn btn-danger mx-2 my-2"   (click)="clear()" >
            <span >Clear</span>
        </button>

    </div>
  </mat-card>
        </div> -->

        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" >

              <div class="card" *ngFor="let emp of employeeFilteredList">
                <div fxLayoutAlign="end">
                     <span (click)="editEmployee($event,emp)">
                      <button mat-icon-button matTooltip="Edit">
                        <mat-icon class="icon">edit</mat-icon>
                               </button>
                          <!-- <mat-icon class="icon">edit</mat-icon> -->
                        </span>
                     </div>
                <div fxLayoutAlign="center" style="height: 90px;"> <img mat-card-sm-image src="assets/img/profile.jpg" ></div>
                <div fxLayout="row" style="padding: 3px;" fxLayoutAlign="space-around center">
                    <span class="fontSize textLength ">{{emp.ename | titlecase}}</span>
                   </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                  <span class="textLength">{{emp.designation}}</span>
                  <span ss="textLength">{{emp.location}}</span>
                    <!-- <p style="color: black;"></p> -->
                </div>
                <!-- <span fxLayoutAlign="center">
                  <p style="color: black;">{{emp.location}}</p>
              </span> -->
              </div>
              <div *ngIf="employeeFilteredList == 0">
                <span>No data found</span>

              </div>
           </div>
          </form>
      </mat-card>

</div>
