<div fxLayout="column"  class="bg-image"  
style="height: 100%;padding: 10px ; padding-left: 10%;padding-right: 10%;overflow-y: auto;">
    <mat-card style="background-color: #ffffff;border: 1px solid #cccbcb;">

        
                      
          
                <div>
                <div class="section" fxLayoutAlign="center"><b>GET STARTED WITH SPRYPLE</b></div>
                <br>
                <mat-divider></mat-divider>
                <mat-horizontal-stepper [linear]="isLinear" #stepper>
                    <mat-step [stepControl]="signUpForm" >
                        <ng-template  matStepLabel>Sign Up</ng-template>
                        <form [formGroup]="signUpForm">
                            <div>
                            
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center" style="padding-top: 1%;">
                                <mat-form-field fxFlex.xs="100" fxFlex class="mx-2 my-2" appearance="outline">
                                    <mat-label>Company Name</mat-label>
                                    <input type="text"  formControlName="companyName" matInput maxlength="100" />
                                    <mat-error class="reg-error" *ngIf="signUpForm.controls.companyName.errors?.required ||
                                         signUpForm.controls.companyName.errors?.['whitespace']">
                                    This field is required
                                    </mat-error>
                                </mat-form-field>
            
                                <mat-form-field fxFlex.xs="100" fxFlex class="mx-2 my-2" appearance="outline">
                                    <mat-label>Company Code</mat-label>
                                    <input type="text" formControlName="companyCode" matInput 
                                        maxlength="50" [ngClass]="{'disable':true}" [readonly]="true"/>
                                </mat-form-field>
            
                                <mat-form-field fxFlex.xs="100" fxFlex class="mx-2 my-2" appearance="outline">
                                    <mat-label>Company Size</mat-label>
                                    <mat-select formControlName="companySize">
                                        <ng-container>
                                            <div *ngFor="let b of companySizeList">
                                                <mat-option [value]="b.value">{{b.value}}</mat-option>
                                            </div>
                                        </ng-container>
                                    </mat-select>
                                    <mat-error class="reg-error" *ngIf="signUpForm.controls.companySize.hasError('required')">
                                        This field is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
            
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center">
                                <mat-form-field fxFlex.xs="100" fxFlex class="mx-2 my-2" appearance="outline">
                                    <mat-label>Total Users</mat-label>
                                    <input type="text" onlyNumber formControlName="totalUsers" matInput 
                                        maxlength="3" />
                                </mat-form-field>
                                <mat-form-field fxFlex.xs="100" fxFlex="32" class="mx-2 my-2" appearance="outline">
                                    <mat-label>GST Number</mat-label>
                                    <input type="text" formControlName="gstNumber" matInput 
                                        maxlength="15" minlength="6" numbersOnly />
                                        <mat-error class="reg-error" *ngIf="signUpForm.controls.gstNumber.errors?.required">
                                            This fiels is required
                                            </mat-error>
                                    <mat-error class="reg-error"
                                        *ngIf="signUpForm.controls.gstNumber.errors?.minlength">
                                        GST Number should be minimux 6 digits
                                    </mat-error>
                                </mat-form-field>
            
                               
            
                                <mat-form-field fxFlex.xs="100" fxFlex class="mx-2 my-2" appearance="outline">
                                    <mat-label>Mobile</mat-label>
                                    <input type="text" onlyNumber formControlName="mobile" matInput 
                                    maxlength="10" minlength="10" (keypress)="stopLeadingZero($event)"/>
                                    <mat-error class="reg-error" *ngIf="signUpForm.controls.mobile.hasError('required')">
                                        This field is required
                                    </mat-error>
                                </mat-form-field>
            
                               
                            </div>
            
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center">
                               <mat-form-field fxFlex.xs="100" fxFlex class="mx-2 my-2" appearance="outline">
                                    <mat-label>Name</mat-label>
                                    <input type="text" specialIsAlpha formControlName="contactPerson" matInput 
                                        maxlength="50" />
                                        <mat-error class="reg-error" *ngIf="signUpForm.controls.contactPerson.hasError('required')">
                                            This field is required
                                        </mat-error>
                                </mat-form-field>
            
                                <mat-form-field fxFlex.xs="100" fxFlex class="mx-2 my-2" appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input type="text" formControlName="companyemail" [ngClass]="{'disable':true}" [readonly]="true" matInput  />
                                   
                                </mat-form-field>
            
                                <mat-form-field fxFlex.xs="100" fxFlex class="mx-2 my-2" appearance="outline">
                                    <mat-label>Password</mat-label>
                                    <input #aadharnumber type="text" formControlName="password" matInput maxlength="30"/>
                                </mat-form-field>
            
                        
                              
                            </div>
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center">
            
                                <mat-form-field fxFlex.xs="100" fxFlex class="mx-2 my-2" appearance="outline">
                                    <mat-label>Address 1</mat-label>
                                    <input type="text" formControlName="address1" matInput maxlength="100"  />
                                    <mat-error class="reg-error" *ngIf="signUpForm.controls.address1.errors?.required">
                                    This fiels is required
                                    </mat-error>
                                </mat-form-field>
            
                                <mat-form-field fxFlex.xs="100" fxFlex class="mx-2 my-2" appearance="outline">
                                    <mat-label>Address 2</mat-label>
                                    <input type="text"  formControlName="address2" matInput  maxlength="100"  />
                                    <mat-error class="reg-error" *ngIf="signUpForm.controls.address2.errors?.required">
                                    This fiels is required
                                    </mat-error>
                                </mat-form-field>
            
                                <mat-form-field fxFlex.xs="100" fxFlex class="mx-2 my-2" appearance="outline">
                                    <mat-label>Country</mat-label>
                                    <mat-select formControlName="country" >
                                        <ng-container>
                                            <div *ngFor="let b of countryDetails">
                                                <mat-option [value]="b.id">{{ b.country }}</mat-option>
                                            </div>
                                        </ng-container>
                                    </mat-select>
                                    <mat-error class="reg-error" *ngIf="signUpForm.controls.country.errors?.required">
                                        This fiels is required
                                        </mat-error>
                                </mat-form-field>
            
                            </div>
            
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center">
            
                                <mat-form-field fxFlex.xs="100" fxFlex class="mx-2 my-2" appearance="outline">
                                    <mat-label>State</mat-label>
                                    <mat-select formControlName="state" >
                                        <ng-container>
                                            <div *ngFor="let b of stateDetails">
                                                <mat-option [value]="b.id">{{ b.state }}</mat-option>
                                            </div>
                                        </ng-container>
                                    </mat-select>
                                    <mat-error class="reg-error" *ngIf="signUpForm.controls.state.errors?.required">
                                        This fiels is required
                                        </mat-error>
                                </mat-form-field>
            
                                <mat-form-field fxFlex.xs="100" fxFlex class="mx-2 my-2" appearance="outline">
                                    <mat-label>City</mat-label>
                                    <mat-select formControlName="city" >
                                        <ng-container>
                                            <div *ngFor="let b of cityDetails">
                                                <mat-option [value]="b.id">{{ b.location }}</mat-option>
                                            </div>
                                        </ng-container>
                                    </mat-select>
                                    <mat-error class="reg-error" *ngIf="signUpForm.controls.city.errors?.required">
                                        This fiels is required
                                        </mat-error>
                                </mat-form-field>
            
                                <mat-form-field fxFlex.xs="100" fxFlex class="mx-2 my-2" appearance="outline">
                                    <mat-label>Pincode</mat-label>
                                    <input type="text" formControlName="pincode" matInput 
                                        maxlength="6" minlength="6" numbersOnly />
                                        <mat-error class="reg-error" *ngIf="signUpForm.controls.pincode.errors?.required">
                                            This fiels is required
                                            </mat-error>
                                    <mat-error class="reg-error"
                                        *ngIf="signUpForm.controls.pincode.errors?.minlength">
                                        Pincode should be 6 digits
                                    </mat-error>
                                </mat-form-field>
            
                            </div>
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center">
                                <mat-form-field fxFlex.xs="100" fxFlex="32" class="mx-2 my-2" appearance="outline">
                                    <mat-label>Plan Id</mat-label>
                                    <input type="text" formControlName="planid" matInput 
                                         [readonly]="true"/>
                                        
                                    
                                </mat-form-field>
            
                                <mat-form-field fxFlex.xs="100" fxFlex="32" class="mx-2 my-2" appearance="outline">
                                    <mat-label>Industry Type</mat-label>
                                    <mat-select formControlName="IndustryType" >
                                        <ng-container>
                                            <div *ngFor="let b of industryTypeList">
                                                <mat-option [value]="b">{{b.industry_type_name}}</mat-option>
                                            </div>
                                        </ng-container>
                                    </mat-select>
                                    <mat-error class="reg-error" *ngIf="signUpForm.controls.IndustryType.hasError('required')">
                                        This field is required
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex.xs="100" fxFlex="32" class="mx-2 my-2" appearance="outline" *ngIf="hide">
                                    <mat-label>Enter Industry type</mat-label>
                                    <input type="text" formControlName="others" matInput />
                                        <mat-error class="reg-error" *ngIf="signUpForm.controls.others.errors?.required">
                                            This fiels is required
                                            </mat-error>
                                    <mat-error class="reg-error"
                                        *ngIf="signUpForm.controls.pincode.errors?.minlength">
                                        Pincode should be 6 digits
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <section style="padding-left:7px" fxlayout="row">
                               <mat-checkbox class="example-margin"  formControlName="isChecked" [(ngModel)]="checked"></mat-checkbox>
                           <span style="font-size: 16px;">
                                    I agree to <a [routerLink]=""(click)="agree()">    terms & conditions</a>
                                </span>
                              </section>
                        </div>
                        <br>
                        <div fxLayoutAlign="center">
                            <button class="btn btn-primary mr-2 mb-2" (click)="submit()" type="submit">
                                <span>Sign up</span>
                            </button>
                            <button class="btn btn-danger mr-2 mb-2" (click)="clear()" type="submit">
                                <span>Clear</span>
                            </button>
                            <br>
                        </div>    
                    </form>
           
     
        
                    </mat-step>
              <!-- payment details -->
                    <mat-step [stepControl]="PayviewForm" >
                        <ng-template  matStepLabel>Payment Details</ng-template>
                        <form [formGroup]="PayviewForm">
                            <div fxFlex="100" fxLayout="row">

                            <div fxFlex.gt-md="20" fxFlex.lt-lg="5"></div>

                            <div ngStyle.lt-lg="width:100%" fxFlex.gt-md="60" fxLayout="column" fxLayoutAlign="center center">
                                 <mat-form-field ngStyle.gt-md="width:60%" ngStyle.lt-md="width:100%" fxFlex.xs="100" fxFlex class="mx-2 my-2" appearance="outline">
                                        <mat-label>Plan</mat-label>
                                        <input type="text"  formControlName="plan" matInput [ngClass]="{'disable':true}" [readonly]="true" />
                                    </mat-form-field>
                
                                    <mat-form-field ngStyle.gt-md="width:60%" ngStyle.lt-md="width:100%" fxFlex.xs="100" fxFlex class="mx-2 my-2" appearance="outline">
                                        <mat-label>Total Users</mat-label>
                                        <input type="text" formControlName="totalusers" matInput [ngClass]="{'disable':true}" [readonly]="true"/>
                                    </mat-form-field>
                                 <div fxLayout="row" fxLayout.xs="column">
                                    <mat-form-field ngStyle.gt-md="width: 172px;" fxFlex.xs="100" fxFlex class="mx-2 my-2" appearance="outline">
                                        <mat-label>Valid From</mat-label>
                                        <input type="text" formControlName="validFrom" matInput [ngClass]="{'disable':true}" [readonly]="true"/>
                                    </mat-form-field>
                                    <mat-form-field ngStyle.gt-md="width: 175px;"  fxFlex.xs="100" fxFlex class="mx-2 my-2" appearance="outline">
                                        <mat-label>Valid To</mat-label>
                                        <input type="text" formControlName="validTo" matInput [ngClass]="{'disable':true}" [readonly]="true"/>
                                    </mat-form-field>
                                </div>
                                    <mat-form-field ngStyle.gt-md="width:60%" ngStyle.lt-md="width:100%" fxFlex.xs="100" fxFlex class="mx-2 my-2" appearance="outline">
                                        <mat-label>Cost</mat-label>
                                        <input type="text" formControlName="cost" matInput [ngClass]="{'disable':true}" [readonly]="true"/>
                                    </mat-form-field>
                                    <div fxLayoutAlign="center">
                                        <button class="btn btn-primary mr-2 mb-2 custom1" (click)="submit()" type="submit">
                                            <span>Pay Now</span>
                                        </button>
                                        <br>
                                    </div>   
                            </div>

                            <div fxFlex.gt-md="20" fxFlex.lt-lg="5"></div>
                        </div>
                        </form>
           
           
        
                    </mat-step>
                
                    <!-- final details -->

                    <mat-step>
                        <ng-template  matStepLabel>Finish</ng-template>
                        <form [formGroup]="PayForm"></form>
     
        
                    </mat-step>
                </mat-horizontal-stepper>
    
   
        </div>
    </mat-card>
</div>
