
<div class="example-container" style="overflow: hidden;">
    <form [formGroup]="leaveTypeForm" autocomplete="off" style="text-align: centre;">
      <h4 style="text-align: centre;">Add</h4>
          <mat-form-field class="popup" fxFlex.xs="100" >
            <input matInput formControlName="leavetypename" placeholder="Leave Type Name" required>
            <mat-error class="con-error" *ngIf="leaveTypeForm.controls.leavetypename.errors?.required">
              This field required
            </mat-error>
          </mat-form-field><br>
        
          <mat-form-field class="popup" fxFlex.xs="100" >
            <input matInput formControlName="displayname" placeholder="Display Name" required>
            <mat-error class="con-error" *ngIf="leaveTypeForm.controls.displayname.errors?.required">
              This field required
          </mat-error>
          <!-- <mat-error class="con-error" *ngIf="isLeaveAlreadyExists">
            This field required
        </mat-error> -->
          
          </mat-form-field><br>
        
          <mat-form-field class="popup" fxFlex.xs="100">
            <input style="width: 50%;" matInput formControlName="colors" type="color"   placeholder="Color" required>
            <!-- <mat-error  *ngIf="leaveTypeForm.controls.colors.errors?.required">
              This field required
            </mat-error> -->
            
            <!-- <mat-error *ngIf="isLeaveColorAlreadyExists" >
              This color  existeddd
            </mat-error> -->
           
          </mat-form-field><br>
          <div style="color: red;" *ngIf="isLeaveColorAlreadyExists">
            This color  existed
          </div>
    </form>
    
  </div>
  <div fxLayoutAlign="end">
    <button class="mx-1 mat-stroked-button button-save"  style="background-color:#3f51b5;color:aliceblue" (click)="submit()" type="submit">
        <span>Submit</span>
    </button>

    <button class="mx-1  mat-stroked-button button-clear"  style="background-color:#550534;color:aliceblue" (click)="cancel()">
        <span >Cancel</span>
    </button>
    <br />
</div>