<div fxLayout="column" class="first-col">
 

        <mat-card fxLayout="column">
            <mat-card-header class="headerbox">
                <mat-card-title class="title">Monthly Payroll</mat-card-title>
            </mat-card-header>
            <div fxLayout="column" class="div-pad">
              
                  <form [formGroup]="monthlyPayrollForm" autocomplete="off" style="padding-top: 1%;">
                    <div fxLayout="row" fxLayout.xs="column">
                        <mat-form-field fxFlex="28" fxFlex.lt-lg="48" fxFlex.xs="100" class="mx-2 my-2" appearance="outline">
                            <mat-label>Financial Year</mat-label>
                            <mat-select formControlName="financial_year">
                                <ng-container>
                                  <div *ngFor="let fy of financeyears">
                                      <mat-option [value]="fy.return_value">{{fy.financial_year}}</mat-option>
                                  </div>
                              </ng-container>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field fxFlex="28" fxFlex.lt-lg="48" fxFlex.xs="100" class="mx-2 my-2" appearance="outline">
                            <mat-label>Month and Year</mat-label>
                            <mat-select formControlName="Month_year">
                                <ng-container>
                                  <div *ngFor="let my of monthyear">
                                      <mat-option [value]="my.month_value">{{my.display_value}}</mat-option>
                                  </div>
                              </ng-container>
                            </mat-select>
                        </mat-form-field>

                      </div>
                    </form>
                    

              
                <div class="mat-elevation-z1" *ngIf="hide">
                    <table mat-table [dataSource]="dataSource">
                    
                      <!-- Checkbox Column -->
                      <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef  style="background-color: #28acaf;color: white;">
                          <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                                        
                                       >
                          </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                          <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(row) : null"
                                        [checked]="selection.isSelected(row)"
                                        >
                          </mat-checkbox>
                        </td>
                      </ng-container>
                    
                      <!-- Position Column -->
                      <!-- <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef style="background-color: #28acaf;color: white;font-size: medium;">  Emp ID  </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                      </ng-container> -->
                      <!-- Emp Name -->
                      <ng-container matColumnDef="empid">
                        <th mat-header-cell *matHeaderCellDef style="background-color: #28acaf;color: white;font-size: medium;"> Emp ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.employee_code}} </td>
                      </ng-container>
                    
                      <!-- Name Column -->
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef style="background-color: #28acaf;color: white;font-size: medium;"> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.employee_name}} </td>
                      </ng-container>
                    
                      <!-- Designation Column -->
                      <ng-container matColumnDef="designation">
                        <th mat-header-cell *matHeaderCellDef style="background-color: #28acaf;color: white;font-size: medium;"> Designation </th>
                        <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
                      </ng-container>
                    
                      <!-- worklocation Column -->
                      <ng-container matColumnDef="worklocation">
                        <th mat-header-cell *matHeaderCellDef style="background-color: #28acaf;color: white;font-size: medium;"> Work Location </th>
                        <td mat-cell *matCellDef="let element"> {{element.location}} </td>
                      </ng-container>
                    
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                          (click)="selection.toggle(row)">
                      </tr>
                    </table>
                      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
                      </div>

            </div>


  
    <div class="form-group row" *ngIf="hide">
        <div class="col-sm-6 text-right" style="padding:0px">
        <button class="btn btn-primary custom mr-2 mb-2" (click)="validateSalaryProcessingDate()"   type="submit">
            <span>Calculate Salary</span>
        </button>
        </div>
        <div class="col-sm-6">
        <button class="btn btn-danger mr-2 mb-2" (click)="cancel()">
            <span >Cancel</span>
        </button>
        </div>
    </div>
    <br><br>
  </mat-card>
    </div>
      <!-- <div>
        <button  mat-raised-button (click)="logSelection()">Console Log Selected</button>
      </div> -->
