<div fxLayout="column">
    <form [formGroup]="employeeAddForm" autocomplete="off">
        <mat-card>
            
            <div *ngIf="emp" >
                <mat-card-header class="">
                    <mat-card-title class="title"> Employee Master </mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-header class="">
                    <mat-card-title class="title"> General Information </mat-card-title>
                </mat-card-header>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">

                    <mat-form-field fxFlex.xs="100"   fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>First Name<span  style="color: red">*</span></mat-label>
                        <input   formControlName="firstname" matInput placeholder="" [readonly]="isview">
                        <!-- <input *ngIf="isview"  formControlName="firstname" matInput placeholder="" readonly> -->
                    </mat-form-field>
                    <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>Last Name<span  style="color: red">*</span></mat-label>
                        <input   formControlName="lastname" matInput placeholder="">
                        <!-- <input *ngIf="isview" formControlName="lastname" matInput placeholder="" readonly> -->
                    </mat-form-field>
                    
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">

                    <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>Middle Name</mat-label>
                        <input formControlName="middlename" matInput placeholder="" appRemoveSpace >
                        <!-- <input *ngIf="isview"  formControlName="middlename" matInput placeholder="" > -->
                    </mat-form-field>
                    <mat-form-field fxFlex.xs="100"  fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>Contact Number<span  style="color: red">*</span></mat-label>
                        <input  formControlName="contactnumber" matInput placeholder="" appRemoveSpace>
                        <!-- <input *ngIf="isview" formControlName="contactnumber" matInput placeholder="" > -->
                    </mat-form-field>
                    
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">
    
                    <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>personal Email</mat-label>
                        <input  formControlName="personalemail" matInput placeholder="" appRemoveSpace >
                        <!-- <input *ngIf="isview"  formControlName="personalemail" matInput placeholder="" > -->
                    </mat-form-field>  
                </div>
                <mat-card-header class="">
                    <mat-card-title class="title"> personal Information </mat-card-title>
                </mat-card-header>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">
                    <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>Date Of Birth</mat-label>
                        <input matInput readonly  [matDatepicker]="dateofbirth" [min]="minDate" [max]="maxBirthDate"
                        placeholder="MM/DD/YYYY" formControlName="dateofbirth">
                    <mat-datepicker-toggle class="datepicker" matSuffix [for]="dateofbirth"></mat-datepicker-toggle>
                    <mat-datepicker #dateofbirth></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field fxFlex.xs="100"  fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>Blood Group</mat-label>
                        <mat-select formControlName="bloodgroup">
                            <ng-container >
                                <div *ngFor="let b of bloodGroupdetails">
                                    <!-- <mat-option value="" disabled selected>Select </mat-option> -->
                                    <mat-option  value={{b.id}}>{{b.bloodgroup}}</mat-option>
                                </div>
    
                            </ng-container>
                        </mat-select>
                    </mat-form-field>        
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">
                    
                    <mat-form-field fxFlex.xs="100"  fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>Gender</mat-label>
                        <mat-select formControlName="gender" required>
                            <ng-container >
                                <div *ngFor="let b of genderDetails">
                                    <!-- <mat-option value="" disabled selected>Select </mat-option> -->
                                    <mat-option   value="{{b.id}}">{{b.gender}}</mat-option>
                                </div>
    
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>Emergency Contact</mat-label>
                        <input  formControlName="emergencycontact" matInput placeholder="" appRemoveSpace >
                       
                    </mat-form-field>        
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">
                    <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>Aadhar Number</mat-label>
                        <input  formControlName="aadharnumber" matInput placeholder="" appRemoveSpace >
                       
                    </mat-form-field>
                    <mat-form-field fxFlex.xs="100"  fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>Marital Status</mat-label>
                        <mat-select formControlName="maritalstatus" required>
                            <ng-container >
                                <div *ngFor="let b of maritalStatusDetails">
                                    <!-- <mat-option value="" disabled selected>Select </mat-option> -->
                                    <mat-option   value="{{b.id}}">{{b.maritalstatus}}</mat-option>
                                </div>
    
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                      
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">
    
                    <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>PAN Number</mat-label>
                        <input formControlName="pan" matInput placeholder="" appRemoveSpace >
                        <!-- <input *ngIf="isview"  formControlName="middlename" matInput placeholder="" > -->
                    </mat-form-field>
                    <mat-form-field fxFlex.xs="100"  fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>Passport Number</mat-label>
                        <input  formControlName="passport" matInput placeholder="" appRemoveSpace>
                        <!-- <input *ngIf="isview" formControlName="contactnumber" matInput placeholder="" > -->
                    </mat-form-field>
                    
                </div>
              
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">
    
                    <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>ESI Number</mat-label>
                        <input formControlName="esi" matInput placeholder="" appRemoveSpace >
                        <!-- <input *ngIf="isview"  formControlName="middlename" matInput placeholder="" > -->
                    </mat-form-field>
                    <mat-form-field fxFlex.xs="100"  fxFlex="50"  class="mx-2 my-2" appearance="outline">
                        <mat-label>UAN Number</mat-label>
                        <input  formControlName="uanumber" matInput placeholder="" appRemoveSpace>
                        <!-- <input *ngIf="isview" formControlName="contactnumber" matInput placeholder="" > -->
                    </mat-form-field>
                    
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">
    
                    <mat-form-field fxFlex.xs="100" fxFlex="50"  class="mx-2 my-2" appearance="outline">
                        <mat-label>PF Number</mat-label>
                        <input  formControlName="pfaccountnumber" matInput placeholder="" appRemoveSpace >
                        <!-- <input *ngIf="isview"  formControlName="personalemail" matInput placeholder="" > -->
                    </mat-form-field>  
                </div>
                <!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">
    
                    <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label> <input type="checkbox">Same as residence address</mat-label>
                    
                    </mat-form-field>  
                </div> -->
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">
    
                    <mat-form-field fxFlex.xs="100"  fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>Residance Address<span  style="color: red">*</span></mat-label>
                        <input   formControlName="address" matInput placeholder="" [readonly]="isview">
                        <!-- <input *ngIf="isview"  formControlName="firstname" matInput placeholder="" readonly> -->
                    </mat-form-field>
                    <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>Permanent Address</mat-label>
                        <input   formControlName="paddress" matInput placeholder="">
                        <!-- <input *ngIf="isview" formControlName="lastname" matInput placeholder="" readonly> -->
                    </mat-form-field>
                    
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">
                   
                    <mat-form-field fxFlex.xs="100"  fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>Country</mat-label>
                        <mat-select formControlName="country"  required>
                            <ng-container >
                                <div *ngFor="let b of CountryDetails">
                                    
                                    <mat-option   [value]="b.id">{{b.country}}</mat-option>
                                </div>
    
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex.xs="100"  fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>Country</mat-label>
                        <mat-select formControlName="pcountry"  >
                            <ng-container >
                                <div *ngFor="let b of permanentCountryDetails">
                                    <!-- <mat-option value="" disabled selected>Select </mat-option> -->
                                    <mat-option  [value]="b.id">{{b.country}}</mat-option>
                                </div>
    
                            </ng-container>
                        </mat-select>
                    </mat-form-field>                  
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">
                   
                    <mat-form-field fxFlex.xs="100"  fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>State</mat-label>
                        <mat-select formControlName="state"    required>
                            <ng-container >
                                <div *ngFor="let b of stateDetails">
                                    <!-- <mat-option value="" disabled selected>Select </mat-option> -->
                                    <mat-option [value]="b.id">{{b.state}}</mat-option>
                                </div>
    
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex.xs="100"  fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>State</mat-label>
                        <mat-select formControlName="pstate" >
                            <ng-container >
                                <div *ngFor="let b of permanentStateDetails">
                                    <!-- <mat-option value="" disabled selected>Select </mat-option> -->
                                    <mat-option [value]="b.id">{{b.state}}</mat-option>
                                </div>
    
                            </ng-container>
                        </mat-select>
                    </mat-form-field>                  
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">
                   
                    <mat-form-field fxFlex.xs="100"  fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>City</mat-label>
                        <mat-select formControlName="city" required>
                            <ng-container >
                                <div *ngFor="let b of cityDetails">
                                    <!-- <mat-option value="" disabled selected>Select </mat-option> -->
                                    <mat-option   value="{{b.id}}">{{b.location}}</mat-option>
                                </div>
    
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex.xs="100"  fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>City</mat-label>
                        <mat-select formControlName="pcity">
                            <ng-container >
                                <div *ngFor="let b of permanentCityDetails">
                                    <!-- <mat-option value="" disabled selected>Select </mat-option> -->
                                    <mat-option   value="{{b.id}}">{{b.location}}</mat-option>
                                </div>
    
                            </ng-container>
                        </mat-select>
                    </mat-form-field>                  
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">
    
                    <mat-form-field fxFlex.xs="100"  fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>Pincode<span  style="color: red">*</span></mat-label>
                        <input   formControlName="pincode" matInput placeholder="" maxlength="6">
                        <!-- <input *ngIf="isview"  formControlName="firstname" matInput placeholder="" readonly> -->
                    </mat-form-field>
                    <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>Pincode</mat-label>
                        <input type="number"  formControlName="ppincode" matInput placeholder="" >
                        <!-- <input *ngIf="isview" formControlName="lastname" matInput placeholder="" readonly> -->
                    </mat-form-field>
                    
                </div>
                <div class="form-group row ml-1 mt-3">
                    <div class="col-sm-6" style="padding:0px">
                      <button  class="col-md-2 btn btn-primary">Cancel</button>
                    </div>
                    <div class="col-sm-6 text-right">
                      <button  class="col-md-2 btn btn-primary"  (click)="firstNext()">Next</button>
                    </div>
                </div>
            </div>
            <div *ngIf="family">
                <mat-card-header class="">
                    <mat-card-title class="title"> Add Employee Details </mat-card-title>
                </mat-card-header>
                <mat-card-header class="">
                    <mat-card-title class="title"> Bank Information </mat-card-title>
                </mat-card-header>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">
    
                    <mat-form-field fxFlex.xs="100"  fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>Bank Name</mat-label>
                        <input   formControlName="bankname" matInput placeholder="">
                        <!-- <input *ngIf="isview"  formControlName="firstname" matInput placeholder="" readonly> -->
                    </mat-form-field>
                    <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>IFSC Code</mat-label>
                        <input   formControlName="ifsccode" matInput placeholder="">
                        <!-- <input *ngIf="isview" formControlName="lastname" matInput placeholder="" readonly> -->
                    </mat-form-field>   
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">
    
                    <mat-form-field fxFlex.xs="100"  fxFlex="100" class="mx-2 my-2" appearance="outline">
                        <mat-label>Name as per bank Account</mat-label>
                        <input   formControlName="nameasperbankaccount" matInput placeholder="">
                        <!-- <input *ngIf="isview"  formControlName="firstname" matInput placeholder="" readonly> -->
                    </mat-form-field>
                    
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">
    
                    <mat-form-field fxFlex.xs="100"  fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>Branch Name</mat-label>
                        <input   formControlName="branchname" matInput placeholder="" >
                        <!-- <input *ngIf="isview"  formControlName="firstname" matInput placeholder="" readonly> -->
                    </mat-form-field>
                    <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>Account Number</mat-label>
                        <input   formControlName="bankaccountnumber" matInput placeholder="">
                        <!-- <input *ngIf="isview" formControlName="lastname" matInput placeholder="" readonly> -->
                    </mat-form-field>   
        
                </div>
                <mat-divider></mat-divider>
                <mat-card-header class="">
                    <mat-card-title class="title"> Family Details </mat-card-title>
                </mat-card-header>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">

                    <mat-form-field fxFlex.xs="100"   fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>First Name<span  style="color: red">*</span></mat-label>
                        <input   formControlName="familyfirstname" matInput placeholder="" >
                        <!-- <input *ngIf="isview"  formControlName="firstname" matInput placeholder="" readonly> -->
                    </mat-form-field>
                    <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>Last Name<span  style="color: red">*</span></mat-label>
                        <input   formControlName="familylastname" matInput placeholder="">
                        <!-- <input *ngIf="isview" formControlName="lastname" matInput placeholder="" readonly> -->
                    </mat-form-field>
                    
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">

                    <mat-form-field fxFlex.xs="100"  fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>Gender</mat-label>
                        <mat-select formControlName="familygender" required>
                            <ng-container >
                                <div *ngFor="let b of genderDetails">
                                    <!-- <mat-option value="" disabled selected>Select </mat-option> -->
                                    <mat-option   value="{{b.id}}">{{b.gender}}</mat-option>
                                </div>
    
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>Contact Number</mat-label>
                        <input  formControlName="familycontact" matInput placeholder="" appRemoveSpace >
                       
                    </mat-form-field> 
                    
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">
                    <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>Date Of Birth</mat-label>
                        <input matInput readonly  [matDatepicker]="familydateofbirth" [min]="minDate" [max]="maxBirthDate"
                        placeholder="MM/DD/YYYY" formControlName="familydateofbirth">
                    <mat-datepicker-toggle class="datepicker" matSuffix [for]="familydateofbirth"></mat-datepicker-toggle>
                    <mat-datepicker #familydateofbirth></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field fxFlex.xs="100"  fxFlex="50"class="mx-2 my-2" appearance="outline">
                        <mat-label>Relationship</mat-label>
                        <mat-select formControlName="relation">
                            <ng-container >
                                <div *ngFor="let b of employeeRelationship">
                                    <!-- <mat-option value="" disabled selected>Select </mat-option> -->
                                    <mat-option  value={{b.id}}>{{b.relationship}}</mat-option>
                                </div>
    
                            </ng-container>
                        </mat-select>
                    </mat-form-field>        
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">
                    <mat-form-field fxFlex.xs="100"  fxFlex="50"class="mx-2 my-2" appearance="outline">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="familystatus">
                            <ng-container >
                                <div >
                                    <!-- <mat-option value="" disabled selected>Select </mat-option> -->
                                    <mat-option  value="Alive">Alive</mat-option>
                                </div>
    
                            </ng-container>
                        </mat-select>
                    </mat-form-field> 
                    <div class="col-sm-6 mx-2 my-2 text-right">
                        <button  class="col-md-2 btn btn-primary" (click)="addfamily()" >{{ isfamilyedit ? "Update":"Add" }}</button>
                        <!-- <button  class="col-md-2 btn btn-primary" (click)="addfamily()" *ngIf="isfamilyedit">Update</button> -->
                    </div>
                    <!-- <div class="col-sm-6 mx-2 my-2 text-right">
                        <button  class="col-md-2 btn btn-primary" >Cancel</button>
                    </div> -->
                </div>
                <div class="mat-elevation-z8"  *ngIf="familyDetails.length > 0">
                <table mat-table [dataSource]="dataSource" >
                    <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef> SNo </th>
                      <td mat-cell *matCellDef="let data; let i = index;"> {{i+1}} </td>
                    </ng-container>
                  
                   
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let data"> {{data.firstname}} </td>
                    </ng-container>
                  
                    
                    <ng-container matColumnDef="relation">
                      <th mat-header-cell *matHeaderCellDef> Relationship </th>
                      <td mat-cell *matCellDef="let data"> {{data.relationship}} </td>
                    </ng-container>
                  
                    
                    <ng-container matColumnDef="gender">
                      <th mat-header-cell *matHeaderCellDef> Gender </th>
                      <td mat-cell *matCellDef="let data"> {{data.gender}} </td>
                    </ng-container>
                    <ng-container matColumnDef="contact">
                        <th mat-header-cell *matHeaderCellDef> Contact Number </th>
                        <td mat-cell *matCellDef="let data"> {{data.contactnumber}} </td>
                      </ng-container>
                    
                     
                      <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let data"> {{data.status}} </td>
                      </ng-container>
                    
                    
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element; let i = index;">  
                            <mat-icon title="Edit" (click)="editfamily(i)">edit</mat-icon>
                            <mat-icon title="Delete" (click)="deletefamily(i)">delete</mat-icon>
                        </td>
                      </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </div>
                <div class="form-group row ml-1 mt-3">
                    <div class="col-sm-6" style="padding:0px">
                      <button  class="col-md-2 btn btn-primary">Prev</button>
                    </div>
                    <div class="col-sm-6 text-right">
                      <button  class="col-md-2 btn btn-primary"  (click)="secondnext()">Next</button>
                    </div>
                </div>
            </div>
            <div *ngIf="work">
                <mat-card-header class="">
                    <mat-card-title class="title"> Add Employee Details </mat-card-title>
                </mat-card-header>
                <mat-card-header class="">
                    <mat-card-title class="title"> Work Information </mat-card-title>
                </mat-card-header>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">
    
                    <mat-form-field fxFlex.xs="100"  fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>Employee ID</mat-label>
                        <input   formControlName="empid" matInput placeholder="Employee ID" [readonly]="isview">
                        <!-- <input *ngIf="isview"  formControlName="firstname" matInput placeholder="" readonly> -->
                    </mat-form-field>
                    <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>Date Of Join</mat-label>
                        <input matInput readonly  [matDatepicker]="dateofjoin" [min]="minDate" [max]="maxBirthDate"
                        placeholder="MM/DD/YYYY" formControlName="dateofjoin">
                    <mat-datepicker-toggle class="datepicker" matSuffix [for]="dateofjoin"></mat-datepicker-toggle>
                    <mat-datepicker #dateofjoin></mat-datepicker>
                    </mat-form-field>  
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">
                    <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>Official Email</mat-label>
                        <input  formControlName="officeemail" matInput placeholder="" appRemoveSpace >
                       
                    </mat-form-field> 
                    <mat-form-field fxFlex.xs="100"  fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>Employee Status</mat-label>
                        <mat-select formControlName="status" required>
                            <ng-container >
                                <div >
                                    <!-- <mat-option value="" disabled selected>Select </mat-option> -->
                                    <mat-option   value=1>Active</mat-option>
                                </div>
    
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    
                    
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">
    
                    <mat-form-field fxFlex.xs="100"  fxFlex="50"class="mx-2 my-2" appearance="outline">
                        <mat-label>Employment Type</mat-label>
                        <mat-select formControlName="employmenttype">
                            <ng-container >
                                <div *ngFor="let b of EmploymentTypeDetails">
                                    <!-- <mat-option value="" disabled selected>Select </mat-option> -->
                                    <mat-option  value={{b.id}}>{{b.employmenttype}}</mat-option>
                                </div>
    
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex.xs="100"  fxFlex="50"class="mx-2 my-2" appearance="outline">
                        <mat-label>Designation</mat-label>
                        <mat-select formControlName="designation">
                            <ng-container >
                                <div *ngFor="let b of availableDesignations">
                                    <!-- <mat-option value="" disabled selected>Select </mat-option> -->
                                    <mat-option  value={{b.id}}>{{b.designation}}</mat-option>
                                </div>
    
                            </ng-container>
                        </mat-select>
                    </mat-form-field>         
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">
    
                    <mat-form-field fxFlex.xs="100"  fxFlex="50"class="mx-2 my-2" appearance="outline">
                        <mat-label>Department</mat-label>
                        <mat-select formControlName="department">
                            <ng-container >
                                <div *ngFor="let b of availableDepartments">
                                    <!-- <mat-option value="" disabled selected>Select </mat-option> -->
                                    <mat-option  [value]=b.id>{{b.deptname}}</mat-option>
                                </div>
    
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex.xs="100"  fxFlex="50"class="mx-2 my-2" appearance="outline">
                        <mat-label>Shifts</mat-label>
                        <mat-select formControlName="Shift">
                            <ng-container >
                                <div *ngFor="let b of availableShifts">
                                    <!-- <mat-option value="" disabled selected>Select </mat-option> -->
                                    <mat-option  value={{b.id}}>{{b.shiftname}}</mat-option>
                                    <!-- <mat-option  value=2>Night Shift</mat-option> -->

                                </div>
    
                            </ng-container>
                        </mat-select>
                    </mat-form-field>         
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">
    
                    <mat-form-field fxFlex.xs="100"  fxFlex="50"class="mx-2 my-2" appearance="outline">
                        <mat-label>Manager</mat-label>
                        <mat-select formControlName="reportingmanager">
                            <ng-container >
                                <div *ngFor="let b of availablereportingmanagers">
                                    <!-- <mat-option value=23>Select </mat-option> -->
                                    <mat-option  value={{b.id}}>{{b.employee_name}}</mat-option>
                                </div>
    
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex.xs="100"  fxFlex="50"class="mx-2 my-2" appearance="outline">
                        <mat-label>Company Location</mat-label>
                        <mat-select formControlName="companylocation">
                            <ng-container >
                                <div *ngFor="let b of worklocationDetails">
                                    <!-- <mat-option value="" disabled selected>Select </mat-option> -->
                                    <mat-option  value={{b.city}}>{{b.cityname}}</mat-option>
                                </div>
    
                            </ng-container>
                        </mat-select>
                    </mat-form-field>         
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">
    
                    <mat-form-field fxFlex.xs="100"  fxFlex="50" class="mx-2 my-2" appearance="outline">
                        <mat-label>Role</mat-label>
                        <mat-select formControlName="usertype">
                            <ng-container >
                                <div *ngFor="let b of availableRole">
                                    <!-- <mat-option value="" disabled selected>Select </mat-option> -->
                                    <mat-option  value={{b.id}}>{{b.name}}</mat-option>
                                </div>
    
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                         
                </div>
                <mat-card-header class="">
                    <mat-card-title class="title"> Education Details </mat-card-title>
                </mat-card-header>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">
                     <mat-form-field fxFlex.xs="100" fxFlex="10" class="mx-2 my-2" appearance="outline">
                        <mat-label>Course</mat-label>
                        <input formControlName="course" matInput placeholder="" appRemoveSpace >
                    </mat-form-field>
                    <mat-form-field fxFlex.xs="100" fxFlex="15" class="mx-2 my-2" appearance="outline">
                        <mat-label>Institute Name</mat-label>
                        <input formControlName="institutename" matInput placeholder="" appRemoveSpace >
                    </mat-form-field>
                    <mat-form-field fxFlex.xs="100" fxFlex="25" class="mx-2 my-2" appearance="outline">
                        <mat-label>From Date</mat-label>
                        <input matInput readonly  [matDatepicker]="efromdate" [min]="minDate" [max]="maxBirthDate"
                        placeholder="MM/DD/YYYY" formControlName="efromdate">
                    <mat-datepicker-toggle class="datepicker" matSuffix [for]="efromdate"></mat-datepicker-toggle>
                    <mat-datepicker #efromdate></mat-datepicker>
                    </mat-form-field>  
                    <mat-form-field fxFlex.xs="100" fxFlex="25" class="mx-2 my-2" appearance="outline">
                        <mat-label>To Date</mat-label>
                        <input matInput readonly  [matDatepicker]="etodate" [min]="minDate" [max]="maxBirthDate"
                        placeholder="MM/DD/YYYY" formControlName="etodate">
                    <mat-datepicker-toggle class="datepicker" matSuffix [for]="etodate"></mat-datepicker-toggle>
                    <mat-datepicker #etodate></mat-datepicker>
                    </mat-form-field> 
                    <div fxFlex.xs="100" fxFlex="20" class="mx-2 my-2 mr2" appearance="outline">
                        <mat-icon>add</mat-icon>
                        <mat-icon>delete</mat-icon>
                    </div>
  
                  
    
                
                         
                </div>
                <mat-card-header class="">
                    <mat-card-title class="title"> Work Experience </mat-card-title>
                </mat-card-header>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">
                    <mat-form-field fxFlex.xs="100" fxFlex="20" class="mx-2 my-2" appearance="outline">
                        <mat-label>Company Name</mat-label>
                        <input formControlName="companyname" matInput placeholder="" appRemoveSpace >
                    </mat-form-field>
                    <mat-form-field fxFlex.xs="100" fxFlex="25" class="mx-2 my-2" appearance="outline">
                        <mat-label>From Date</mat-label>
                        <input matInput   [matDatepicker]="wfromdate" [min]="minDate" [max]="maxBirthDate"
                        placeholder="MM/DD/YYYY" formControlName="wfromdate">
                    <mat-datepicker-toggle class="datepicker" matSuffix [for]="wfromdate"></mat-datepicker-toggle>
                    <mat-datepicker #wfromdate></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field fxFlex.xs="100" fxFlex="25" class="mx-2 my-2" appearance="outline">
                        <mat-label>To Date</mat-label>
                        <input matInput   [matDatepicker]="wtodate" [min]="minDate" [max]="maxBirthDate"
                        placeholder="MM/DD/YYYY" formControlName="wtodate">
                    <mat-datepicker-toggle class="datepicker" matSuffix [for]="wtodate"></mat-datepicker-toggle>
                    <mat-datepicker #wtodate></mat-datepicker>
                    </mat-form-field> 
                    <div fxFlex.xs="100" fxFlex="20" class="mx-2 my-2 mr2" appearance="outline">
                        <mat-icon>add</mat-icon>
                        <mat-icon>delete</mat-icon>
                    </div>
                    <!-- <mat-form-field fxFlex.xs="100" fxFlex="15" class="mx-2 my-2" appearance="outline">
                        <mat-label>Actions</mat-label>
                        <input formControlName="middlename" matInput placeholder="" appRemoveSpace >
                    </mat-form-field>  -->
      
                  
                         
                </div>
                
                
                <div class="form-group row ml-1 mt-3">
                    <div class="col-sm-6" style="padding:0px">
                      <button  class="col-md-2 btn btn-primary">Prev</button>
                    </div>
                    <div class="col-sm-6 mr2 text-right">
                      <button  class="col-md-2  btn btn-primary" (click)="save()" >Save</button>
                      <button  class="col-md-2  btn btn-danger"  >Close</button>
                    </div>
                </div>
            </div>

           
        </mat-card>
        
    </form>
    <mat-divider></mat-divider>
    
  
  
  
  </div>
