
mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .dev-Pad {
    padding: 1%
  }
  .custom{
    width: 160px !important;
  }
  ::ng-deep {
    .mat-select-panel[aria-label="Items per page:"] {
      mat-option:last-child:before {
        content: 'All';
      }
    }
  }
  
  ::ng-deep {
    .mat-select-panel[aria-label="Items per page:"] {
      mat-option:last-child .mat-option-text {
        display: none;
      }
    }
  }
  
  .headerbox {
    height: 45px;
    background-color: #28acaf !important;
    align-items: center;
  }
  
  .title {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.32px;
    color: #ffffff;
    margin-bottom: 0px;
  }
  
  ::ng-deep tr.mat-header-row {
    height: 45px !important;
  }
  
  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0.2em 0 !important;
  }
  
  .example-container {
    overflow-x: auto;
  }
  
  .table-pad {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .select-container {
    margin-top: 10px;
  }
  .section {
    padding-top: 1%;
    margin-bottom: 2px;
    font-size: 17px;
    text-align: left;
    line-height: 28px;
    padding-left: 5px;
  }
  .section1 {
    margin-bottom: 2px;
    font-size: 15px;
     text-align: left;
    line-height: 28px;
    padding-left: 5px;
  }
  .disable:hover{
    cursor: not-allowed;
    }
    .disable:active{
    pointer-events: none;
    }