<div fxLayout="row" fxLayoutAlign="center">
	<div fxLayout="column" fxFlexAlign="center" >

	<mat-card style="margin-top: 30%;">
			<mat-card-title style="text-align: center;">Login</mat-card-title>
			<mat-card-content>	
		<form
		  [formGroup]="formGroup"
		  class="form"
		>
		  <mat-form-field floatLabel="never" class="form-element">
			<input
			  type="text"
			  matInput
			  placeholder="Username"
			  formControlName="username"
			/>
			<mat-error *ngIf="formGroup.controls['username'].invalid">
				{{msgLM1}}
			</mat-error>
		  </mat-form-field>
		  
		  <mat-form-field floatLabel="never" class="form-element">
			<!-- <mat-icon>lock</mat-icon>  -->
			<input 
			  [type]="hide ? 'password' : 'text'" 
			  matInput
			  placeholder="Password"
			  formControlName="password"
			/>
			<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
			<mat-error *ngIf="formGroup.controls['password'].invalid">
			 {{msgLM1}}
			</mat-error>
		  </mat-form-field>
		  <a href="ForgotPassword" >Forgot Password?</a>
	  
		  <div class="form-element">
			<button
			  mat-raised-button
			  color="primary"
			  type="submit"
			  class="button"
			  [disabled]="!formGroup.valid"
			  (click)="login()"
			>
			  Login
			</button>
		  </div>
		</form>
	  </mat-card-content>
   </mat-card>
</div>
</div>