<body class="authentication-bg" data-layout-config='{"darkMode":false}'>
  <div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xxl-4 col-lg-5">
          <div class="card">
            <form [formGroup]="formGroup">
              <!-- Logo -->
              <div fxLayout="column" class="card-header pt-4 pb-4 text-center bg-secondary">
                <span class="text-white"><img class="logo-img mr-2" style="height: 45px" src="assets/img/spryple_trns_logo.png" alt="" /></span>
              </div>

              <div class="card-body p-4">
                <!-- <form [formGroup]="formGroup" > -->

                <!-- <div class="text-center w-75 m-auto">

                  <p class="text-muted mb-4">
                    Enter your email address and password to access the
                    application.
                  </p>
                  <p class="text-muted mb-4">Enter your email address and password to access admin panel.</p>
                </div> -->

                <div>

                  <mat-form-field fxFlex.xs="100" fxFlex="100" class="mx-2 my-2" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput class="form-control" type="email" formControlName="username"
                    id="emailaddress" formc
                       placeholder="" maxlength="30" />
                    <mat-error class="con-error" *ngIf="formGroup.controls.username.errors?.required">
                      {{ msgLM1 }}
                    </mat-error>
                  </mat-form-field>

                </div>

                <div>
                  <div fxLayout="row">
                    <mat-form-field fxFlex.xs="100" fxFlex="100" class="mx-2 my-2" appearance="outline">
                      <mat-label>Password</mat-label>
                      <input matInput id="password-field" [type]="hide ? 'password' : 'text'" formControlName="password"
                        class="form-control" name="password" placeholder="Enter your password" maxlength="30"
                        />
                      <mat-icon matSuffix (click)="hide = !hide">{{
                        hide ? "visibility_off" : "visibility"
                        }}</mat-icon>
                      <mat-error class="con-error" *ngIf="formGroup.controls.password.errors?.required">
                        {{ msgLM1 }}
                      </mat-error>
                    </mat-form-field>

                  </div>
                  <div fxLayout="row" fxLayout.sm="column" fxLayoutAlign="space-between center">
                    <mat-checkbox formControlName="rememberme">
                    Remember Me
                      </mat-checkbox>
                      <span (click)="Forgotpassword()">
                        Forgot your password?</span>

                  </div>


                </div>

                <!-- <div class="mb-3 mb-3">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="checkbox-signin" checked>
                                            <label class="form-check-label" for="checkbox-signin">Remember me</label>
                                        </div>
                                    </div> -->

                <!-- </form> -->
              </div>
              <!-- end card-body -->
              <div class="mb-3 mb-0 text-center">
                <button class="btn btn-primary" type="submit" (click)="login()">
                  Log In
                </button>
              </div>
            </form>
          </div>
          <!-- end card -->
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end page -->

  <!-- <footer class="footer footer-alt">
            2022 - <script>document.write(new Date().getFullYear())</script> © keerthihospitals
        </footer> -->

  <!-- bundle -->
</body>
