<div fxLayout="column" fxFill class="custom-investment-of custom-pgr-height-auto first-col">
    <mat-card>
        <mat-card-header class="headerbox">
            <div fxLayout="row" fxFlex="50">
                <mat-card-title class="title"> Dashboard</mat-card-title>
            </div>
            </mat-card-header>
  
        <form [formGroup]="Empdashboardform" autocomplete="off">  
            <div fxLayout="row" fxLayout.lt-lg="column" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="2px" style="padding-top: 1%;">
                <div fxFlex="65" fxFlex.lt-lg="100" fxFill>
                <div class="dashboard-1 custom-investment-th">Gross Salary Breakdown by Departments</div>
                    <!-- <div class="card card-stats" >
                      <div class="card-body " style="width: 50%; min-height: 50px;">
                        <canvas  baseChart [type]="'doughnut'" [data]="data" [options]="options">
                        </canvas>
                      </div>
                    </div>    
                  -->
                    <div fxLayout="row" fxLayout.xs="column">
                        
                        <div class="card card-stats custom-epf-mini-tab">
                            <div class="card-body ">
                            <div class="col-12">
                                <div class="numbers text-center">
                                    <mat-form-field appearance="outline" fxFlex fxFlex.xs="100">
                                        <mat-label>EPF</mat-label>
                                        <mat-select formControlName="EPF">
                                          <ng-container>
                                            <div *ngFor="let fy of EPFfulldetails">
                                                <mat-option [value]="fy.month_name">{{fy.month_name}}</mat-option>
                                            </div>
                                        </ng-container>
                                      </mat-select>                                  
                                    </mat-form-field>
                                   
                    
                                </div>
                                <div class="col-4" style="float: left;">
                                    <p style="text-align: center;color: #5a5c69!important;font-weight: 700;">Month</p>
                                    <p style="text-align: center;color: #5a5c69!important;">{{month}}</p>
                                </div>
                                <div class="col-8" style="float: left;">
                                    <p style="text-align: center;color: #5a5c69!important;font-weight: 700;">Deduction Amount</p>
                                    <p style="text-align: center;color: #5a5c69!important;">{{deduction}}</p>
                                </div>
                               </div> 
                            </div>
                        </div>                           
                        <div class="card card-stats custom-esi-mini-tab">
                            <div class="card-body ">
                            <div class="col-12">
                                <div class="numbers text-center">                                        
                                    <mat-form-field appearance="outline" fxFlex fxFlex.xs="100">
                                      <mat-label>ESI</mat-label>
                                      <mat-select > 
                                          <mat-option value="January">Jan</mat-option>
                                          <mat-option value="Feb">Feb</mat-option>
                                          <mat-option value="Yearly">Mar</mat-option>
                                      </mat-select>                                    
                                  </mat-form-field>
                                </div>
                                <div class="col-4" style="float: left;">
                                    <p style="text-align: center;color: #5a5c69!important;font-weight: 700;">Month</p>
                                    <p style="text-align: center;color: #5a5c69!important;"></p>
                                </div>
                                <div class="col-8" style="float: left;">
                                    <p style="text-align: center;color: #5a5c69!important;font-weight: 700;">Deduction Amount</p>
                                    <p style="text-align: center;color: #5a5c69!important;"></p>
                                </div>
                            </div> 
                            </div>                           
                        </div>    
                    </div>
   
            </div>

            <div fxFlex="35" fxFlex.lt-lg="100" fxFill>
                <div class="custom-mob-paySlips">
                    
                    <div class="card card-stats">
                        <div class="card-body ">
                          <div>
                              <span style="font-size: 16px;">Pay Slips
                               </span>
                                <mat-divider></mat-divider>
                                   <div style="padding-top: 1%;">
                                        <br>
                                        <mat-form-field appearance="outline" fxFlex.lt-lg="50" >
                                          <mat-label>Pay Slips</mat-label>
                                          <mat-select formControlName="financial_year">
                                            <ng-container>
                                              <div *ngFor="let fy of financeyears">
                                                  <mat-option [value]="fy.return_value">{{fy.financial_year}}</mat-option>
                                              </div>
                                          </ng-container>
                                        </mat-select>                                  
                                      </mat-form-field>
                                    </div>
                                </div>

                                <div class="col-12" *ngFor="let array of dataSource;index as i;">
                                    <div style="text-align: left;">
                                    <div style="float: left;margin-right:50px;width:50%;">{{array.salary_month}}</div>
                                    <div>
                                        <mat-icon  style="cursor: pointer;" title="View" (click)="payslipview(array)">visibility</mat-icon>
                                    </div>
                                    </div>
                                </div>
                         
                        </div>
                    </div>

                </div> 
            </div> 
            
            </div>  
    </form>

  </mat-card>
  <br><br>
  </div>    