<div fxLayout="column" class="first-col">
<mat-card>
    <mat-card-header>
      <mat-card-title style="text-align: center"> Leave History</mat-card-title>
    </mat-card-header>
  <br>
    <mat-card-content class="table-pad">
     <div fxLayout="column">
      <div class="example-container mat-elevation-z1">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="sno">
          <th mat-header-cell *matHeaderCellDef>S.No</th>
          <td mat-cell *matCellDef="let element; let i=index;">
              {{ (i+1) + (paginator.pageIndex * paginator.pageSize) }} </td>
      </ng-container>
        <ng-container matColumnDef="appliedOn">
          <th mat-header-cell *matHeaderCellDef class="no-break"> Applied On</th>
          <td mat-cell *matCellDef="let row"  class="no-break">{{row.appliedon  | date:'dd-MM-yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="empId">
          <th mat-header-cell *matHeaderCellDef class="no-break"> Emp Id </th>
          <td mat-cell *matCellDef="let row"> {{row.employee_id}}</td>
        </ng-container>
        <ng-container matColumnDef="empName">
          <th mat-header-cell *matHeaderCellDef class="no-break"> Emp Name </th>
          <td mat-cell *matCellDef="let row"> {{row.emp_name}}</td>
        </ng-container>
    
        <ng-container matColumnDef="leaveType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="no-break"> Leave Type</th>
          <td mat-cell *matCellDef="let row"> {{row.display_name}}</td>
        </ng-container>
        <ng-container matColumnDef="fromDate">
          <th mat-header-cell *matHeaderCellDef > From</th>
          <td mat-cell *matCellDef="let row" class="no-break"> {{row.fromdate | date:'dd-MM-yyyy'}}</td>
        </ng-container>
        <ng-container matColumnDef="toDate">
          <th mat-header-cell *matHeaderCellDef > To</th>
          <td mat-cell *matCellDef="let row" class="no-break"> {{row.todate  | date:'dd-MM-yyyy'}}</td>
        </ng-container>
     
        <ng-container matColumnDef="noOfDays">
          <th mat-header-cell *matHeaderCellDef> Days </th>
          <td mat-cell *matCellDef="let row"  style="text-align: center;"> {{row.leavecount}} </td>
        </ng-container>

              <ng-container matColumnDef="pendingSince">
          <th mat-header-cell *matHeaderCellDef  class="no-break"> Approved On</th>
          <td mat-cell *matCellDef="let row" class="no-break"> {{row.approvedon| date:'dd-MM-yyyy'}} </td>
        </ng-container>
    
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Status </th>
          <td mat-cell *matCellDef="let row" style="cursor: pointer;">{{row.leavestatus}}
           </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef  ></th>
          <td mat-cell *matCellDef="let row" style="cursor: pointer;">
            <button mat-icon-button (keyup.enter)="leaveReview(row)">
            <mat-icon [tabIndex]="3"  title="view" (click)="leaveReview(row)">visibility</mat-icon>
          </button>
          </td>
        </ng-container>
    
        <tr class="headerbox title" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

 
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="11" style="text-align: center;">No data found</td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="!pageLoading ? getPageSizes() : [5, 10, 20]"></mat-paginator>
    </div>
     </div>
  </mat-card-content>
  </mat-card>
</div>
