<html>
    <head>
        <app-header></app-header>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Leave Management</title>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
        <link rel="icon" href="http://localhost:4200//assets/img/favicon.png" type="image/x-icon"/>
        <link rel="stylesheet" href="http://localhost:4200//assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
        <link rel="stylesheet" href="http://localhost:4200//assets/css/ready.css">
        <link rel="stylesheet" href="http://localhost:4200//assets/css/style.css">
        <link rel="stylesheet" href="http://localhost:4200//assets/css/simple-calendar.css">
        <link rel="stylesheet" href="http://localhost:4200//assets/css/simple-calendar.css">
    </head>
    <body>
        <div class="card">
            <!-- <div class="card-header ">
                <h4 class="card-title">HRMS Dashboard</h4>
            </div> -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row m-0" >
                            <div class="col-md-3" *ngFor="let module of allModuleDetails; index as i;">
                                <div class="card card-stats card-warning casual-leave bg-white h-auto">
                                    <div class="card-body ">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="icon-big text-center" (click)="getrolescreenfunctionalities(module.id,module.effectivestartdate)" >
                                                    <img src="assets\img\core-hr-icon.png" *ngIf="module.id === 1" alt="" title="" /> 
                                                    <img src="assets\img\leave-icon-nw.png" *ngIf="module.id === 2" alt="" title="" /> 
                                                    <img src="assets\img\timesheet-icon.png" *ngIf="module.id === 3" alt="" title="" /> 
                                                    <img src="assets\img\attendance-icon.png" *ngIf="module.id === 4" alt="" title="" /> 
                                                    <img src="assets\img\payroll-icon.png" *ngIf="module.id === 5" alt="" title="" /> 
                                                    <img src="assets\img\asset-icon.png" *ngIf="module.id === 6" alt="" title="" /> 
                                                    <img src="assets\img\recruitment-icon.png" *ngIf="module.id === 7" alt="" title="" /> 
                                                    <img src="assets\img\ess-icon.png" *ngIf="module.id === 8" alt="" title="" /> 
                                                    <!-- <img src="assets/img/recruitment-icon.png" alt="" title="" /> -->
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="numbers text-center">
                                                    <!-- <h4 class="card-title title">recruitment</h4> -->
                                                    <h4 class="card-title title">{{module.modulename}}</h4>
                                                    
                                                </div>
                                                <div class="card-sub-title">									
                                                    My Actions
                                                </div>
                                                <ul class="b">
                                                    <li><a href="#">Configuring of leave policies</a></li>
                                                    <li><a href="#">add roles &amp; permissions</a></li>
                                                    <li><a href="#">add holidays</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                   
                    </div>
                </div>
            </div>
        </div>
        <script src="http://localhost:4200//assets/js/core/jquery.3.2.1.min.js"></script>
        <script src="http://localhost:4200//assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
        <script src="http://localhost:4200//assets/js/core/popper.min.js"></script>
        <script src="http://localhost:4200//assets/js/core/bootstrap.min.js"></script>
        <!-- Chart JS -->
        <script src="http://localhost:4200//assets/js/chart.js/chart.min.js"></script>
        <script src="http://localhost:4200//assets/js/plugin/chartist/chartist.min.js"></script>
        <script src="http://localhost:4200//assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
        <script src="http://localhost:4200//assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
        <script src="http://localhost:4200//assets/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
        <script src="http://localhost:4200//assets/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
        <script src="http://localhost:4200//http://localhost:4200//assets/js/plugin/chart-circle/circles.min.js"></script>
        <script src="http://localhost:4200//http://localhost:4200//assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

        <script src="http://localhost:4200//assets/js/main.js"></script>
        <script>
            $("#header").load("header.html");
            $("#footer").load("footer.html");
        </script>
    

    </body>
</html>

