<div fxLayout="column" style="background-color: white;">
    <form [formGroup]="departmentForm" autocomplete="off" >
         <mat-card-header class="">
                <mat-card-title > Department </mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <div fxLayout="column" fxLayout.xs="column" *ngIf="isAdd">
                <div fxLayout="row" fxLayout.xs="row">
                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                    <mat-label>Department</mat-label>
                    <input formControlName="department" matInput placeholder="" appRemoveSpace required maxlength="64">
                    <!-- <mat-error class="con-error" *ngIf="departmentForm.controls.department.errors?.cannotContainSpace">
                      Please enter valid data
                  </mat-error> -->
                  <mat-error class="con-error" *ngIf="departmentForm.controls.department.errors?.required ||departmentForm.controls.department.errors?.['whitespace']">
                    {{msgLM1}}
                </mat-error>
                </mat-form-field>
            </div>
                <div fxLayoutAlign="center">
                    <button class="col-md-1 btn btn-primary mx-2 my-2"  (click)="setdepartment()"   type="submit">
                        <span>Submit</span>
                    </button>

                    <button class="col-md-1 btn btn-danger mx-2 my-2"   (click)="cancel()">
                        <span >Cancel</span>
                    </button>
                    <br />
                </div>


            </div><br>
            <!-- <mat-divider></mat-divider> -->
            <div  *ngIf="isdata">
                <div fxLayout="row" fxLayoutAlign="end">
                    <button class="mx-1 mat-stroked-button button-save" style="background-color:#3f51b5;color:aliceblue" (click)="Add()" type="submit">
                        <span>Add</span>
                    </button>
                </div><br>
                <div fxLayout="column" class="tableP">
                <div class="mat-elevation-z1">
                    <table mat-table [dataSource]="dataSource" matSort>

                        <ng-container matColumnDef="department">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Department </th>
                            <!-- <td mat-cell *matCellDef="let row" > {{row.deptname}} </td> -->
                            <td mat-cell *matCellDef="let row" >
                                <span *ngIf="enable != row.id">{{row.deptname}}&nbsp;</span>
                                <mat-form-field appearance="outline" *ngIf="enable === row.id">
                                    <input formControlName="department" value="row.deptname" matInput placeholder="" >
                                </mat-form-field>

                            </td>
                        </ng-container>


                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 60px"> Status </th>
                            <!-- <td mat-cell *matCellDef="let row"> {{row.status}}</td> -->
                            <td mat-cell *matCellDef="let row">
                                <!-- <mat-radio-group >
                                    <mat-radio-button value="{{row.status}}">Active</mat-radio-button> &nbsp;
                                    <mat-radio-button value="{{row.status}}">Inactive</mat-radio-button>
                                  </mat-radio-group> -->
                                  <mat-radio-group  >
                                    <mat-radio-button class="mr-2" color="primary" *ngFor="let halfs of arrayValue;index as i;" (change)="status(halfs.id,row.id,row.deptname)" [checked]="halfs.id == row.status"  [value]="halfs.id"  >{{halfs.name}}</mat-radio-button>
                                  </mat-radio-group>
                            </td>
                        </ng-container>


                        <ng-container matColumnDef="Action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                            <!-- <td mat-cell *matCellDef="let row"> </td> -->
                            <td mat-cell *matCellDef="let row">
                                <mat-icon (click)="edit($event,row)"  title="Edit" *ngIf="enable != row.id">edit</mat-icon>
                                <mat-icon (click)="save($event,row.id,departmentForm.controls.department.value,row)"  title="Save" *ngIf="enable == row.id">save</mat-icon>
                                <mat-icon (click)="canceledit($event,row.id)"  title="Cancel"  *ngIf="enable == row.id">cancel</mat-icon>
                            </td>
                        </ng-container>


                        <tr class="headerbox title" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                    <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="3" style="text-align: center;">No data found</td>
                        </tr>
                    </table>

                    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
                    <mat-paginator [pageSizeOptions]="!pageLoading ? getPageSizes() : [5, 10, 20]"></mat-paginator>
                </div>
            </div>
            </div>
    </form>
</div>
