<div fxLayout="column" class="first-col">
    
    <div fxLayout="row wrap" fxLayout.xs="column">
        <mat-card style="width: 50%;text-align: center;">
            <h2 style="color: #28acaf;">Standard</h2>
            <p>
                Comprehencive payroll,benfits and HR tools to help <br>employers build a great place to work-in-person or remote.
            </p>
            <h3><img src="./assets/img/currency-block.png"> 150</h3>
            <p>per user/month,billed annually <br> Or Rs 175 per user,billed monthly</p>
            <h3 style="color: #28acaf;">Features</h3>
            <p>Employee profiles and self-service</p>
            <p>Select escape to tooltip content</p>
            <p>Basic hiring and onbording tools</p>
            <p>Custom admin permissions</p>
            <p>Basic Support</p>
            <button class="btn  custom mr-2 mb-2"  style="background-color: #28acaf;">Start Now</button>

        </mat-card>
        <mat-card style="width: 50%;text-align: center;">
            <h2 style="color: #28acaf;">Exclusive Pricing</h2>
            <p>
                Any size Team
            </p>
            <p>Contact our sales team for custom price packages.</p>
            <button  class="btn  custom mr-2 mb-2" style="background-color: #28acaf;">Contact Us</button><br>
            <button  class="btn  custom mr-2 mb-2" style="background-color: #28acaf;">Email Us</button>
            <!-- <button  class="btn  custom mr-2 mb-2" ><mat-icon style="width: -20px;"> call</mat-icon>Contact Us</button><br>
            <button  class="btn  custom mr-2 mb-2" ><mat-icon style="width: -20px;"> mail_outline</mat-icon>Email Us</button> -->
        </mat-card>

    </div>
    
</div>
