.search-hover {
  background: #dddddd url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: 1px solid #ccc;
  outline: none;
  background-size: 18px;
  background-position: 9px;
  border-radius: 30px;
  width: 38px;
  height: 35px;
  padding: 20px;
  transition: all 0.5s;
}

.search-hover:hover {
  width: 300px;
  padding-left: 50px;
}

.styles {
  width: 40px;
}

.example-margin {
  margin: 0 12px;
}

.example-section {
  list-style-type: none;
  margin-top: 4px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

.mat-table {
  display: block;
  width: 100%;
  overflow-x: auto;
}

// .mat-column-sno {
//   max-width: 70px;
//   min-width: 80px;
// }

.mat-column-name {
  min-width: 120px;
}

.mat-column-email {
  max-width: 200px;
  min-width: 200px;
}

// .mat-column-mobile {
//   max-width: 150px;
//   min-width: 120px;
// }

// .mat-column-empstatus {
//   max-width: 100px;
//   min-width: 80px;
// }

// .mat-column-emptype {
//   max-width: 120px;
//   min-width: 100px;
// }

// .mat-column-desg {
//   max-width: 150px;
//   min-width: 120px;
// }

// .mat-column-location {
//   max-width: 150px;
//   min-width: 120px;
// }

// .mat-column-blood {
//   max-width: 120px;
//   min-width: 100px;
// }

// .mat-column-marital {
//   max-width: 120px;
//   min-width: 100px;
// }

table {
  width: 100%;
  table-layout: fixed;
}

th,
td {
  overflow: hidden;
  width: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block !important;
}