::ng-deep .mat-toolbar-row, .mat-toolbar-single-row{
	padding:0 0px !important
}

.navbar-header {
    padding: 0px !important;
}
.mat-nav-list .mat-list-item:focus,
.mat-action-list .mat-list-item:focus,
.mat-list-option:focus {
  background: #80286a !important;
  color: white !important;
}