::ng-deep .mat-toolbar-row, .mat-toolbar-single-row{
	padding:0 0px !important
}

.navbar-header {
    padding: 0px !important;
}
.mat-nav-list .mat-list-item:focus,
.mat-action-list .mat-list-item:focus,
.mat-list-option:focus {
  background: #80286a !important;
  color: white !important;
}
.mat-list-item.active{
  background: #80286a !important;
  color: white !important;
}
.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}
.dropdown-submenu {
  position:relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
  text-decoration: underline;
  transform: rotate(-90deg);
}

.tab-view {
  display: flex;
}
.mobile-view {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .tab-view {
    display: none;
  }
  .mobile-view {
    display: block;
  }
  .dropdown-item {
    display: inline !important;
  }
  .custom-mob-icons {
    width: 75%;
    justify-content: initial !important;
    margin-left:40px;
  }

  /* rotate caret on hover */
  .dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
  }
  .custom-mob-main-header {
    display: grid;
    min-height: 8% !important;
    margin-top: -14px !important;
  }
  .custom-mob-img-circle {
    margin-left: 65px;
  }
  .custom-mob-ul {
    margin-left:-153px;
  }
}
.mat-list-base {
  padding-top: 0px !important;
}

