<div fxLayout="column" >
    
        <mat-card>
            <mat-card-header class="">
                <mat-card-title class="title"> Leave Policies </mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider><br>
                
            <div *ngIf="isaddnew">    
                <div fxLayout="row" fxLayout.xs="column" fxFlex.xs="100%" fxLayoutAlign="end">
                    <button class="mx-1 mat-stroked-button button-save" style="background-color:#3f51b5;color:aliceblue"
                         (click)="addLeaveConfigure()" type="submit">
                        <span>Add New</span><br>
                    </button>
                </div><br>
                
                <div>
                    <form [formGroup]="leavepoliciesForm" autocomplete="off">
                        <h4 >Common rules for all leave types</h4>
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort>
            
                            <ng-container matColumnDef="sno">
                                <th mat-header-cell *matHeaderCellDef> SNo </th>
                                        <td mat-cell *matCellDef="let data; let i = index;"> {{i+1}} </td>
                                
                            </ng-container>
            
            
                            <ng-container matColumnDef="configurationrules">
                                <th mat-header-cell *matHeaderCellDef  style="padding-left: 60px"> Configuration Rules </th>
                                    <td mat-cell *matCellDef="let data">{{data.ruledescription}}</td>
                            </ng-container>
             
                            <ng-container matColumnDef="data">
                                <th mat-header-cell *matHeaderCellDef  style="padding-left: 60px"></th>
                                    <td mat-cell *matCellDef="let data ;let i = index;">
                                        <div *ngIf="i==0">
                                            <input type="text" style="width: 60%;" onlyNumber formControlName="pastdays" matInput [readonly]="!isEditDefaultRules" placeholder="{{data.value}}" >
                    
                                        </div>
                                        <div *ngIf="i==1">
                                            <mat-select formControlName="email" *ngIf="isEditDefaultRules">
                                                <ng-container>
                                                    <div *ngFor="let b of arrayValue">
                                                        <!-- <mat-option value="" disabled selected>Select </mat-option> -->
                                                        <mat-option value={{b.value}}>{{b.name}}</mat-option>
                                                    </div>
                
                                                </ng-container>
                                            </mat-select>
                                            <span class="form-control" *ngIf="!isEditDefaultRules" style="background: #e8e8e8 !important;border-color: #e8e8e8 !important;opacity: 0.6 !important;width: 60%">{{ (data.value == '1') ? "Yes":"No"}}</span>
                                           
                                        </div>
                                        <div *ngIf="i==2">
                                            <mat-select formControlName="leavecycleyear" *ngIf="isEditDefaultRules">
                                                <ng-container>
                                                    <div *ngFor="let b of arrayValueOne">
                                                        <!-- <mat-option value="" disabled selected>Select </mat-option> -->
                                                        <mat-option value={{b.value}}>{{b.name}}</mat-option>
                                                    </div>
                
                                                </ng-container>
                                            </mat-select>
                                            <span class="form-control" *ngIf="!isEditDefaultRules" style="background: #e8e8e8 !important;border-color: #e8e8e8 !important;opacity: 0.6 !important;width: 60%">{{ (data.value == '1') ? "Jan-Dec":"Apr-Mar"}}</span>
                                           
                                        </div>
                                    </td>
                            </ng-container>
            
                            
                            <ng-container matColumnDef="addditionalinformation">
                                <th mat-header-cell *matHeaderCellDef > Additional Information </th>
                                <td mat-cell *matCellDef="let data">{{data.rule_additional_info}}</td>
                               
                            </ng-container>
            
            
                            <tr class="headerbox title" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let data; columns: displayedColumns;"></tr>
                            
                        </table>
                        
                    </div><br>
                    <div fxLayoutAlign="end" >
                        <button *ngIf="isEditDefaultRules"
                                class="col-md-1 btn btn-primary mr-2"
                                (click)="saveDefaultrules()">Save
                        </button>
                        <button *ngIf="isEditDefaultRules"
                                class="col-md-1 btn btn-default"
                                (click)="cancelDefaultRules()">Cancel
                        </button>
                            <button *ngIf="!isEditDefaultRules" style="float: right"
                                    class="col-md-1 btn btn-primary"
                                    (click)="editDefaultRules()">Edit
                            </button>
                        </div>
        
                    </form>
                    
        
                </div><br>
                <mat-divider></mat-divider>
                
                <div>
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource2" matSort>
            
                            <ng-container matColumnDef="leavetypename">
                                <th mat-header-cell *matHeaderCellDef> Leave Type Name </th>
                                <td mat-cell *matCellDef="let leave; let i = index;">{{ leave.leavename }} </td>
                                
                            </ng-container>
                            <ng-container matColumnDef="displayname">
                                <th mat-header-cell *matHeaderCellDef> Display Name </th>
                                <td mat-cell *matCellDef="let leave; let i = index;">{{ leave.display_name }}  </td>
                                
                            </ng-container>
                            <ng-container matColumnDef="daysperyear">
                                <th mat-header-cell *matHeaderCellDef> Days Per Year </th>
                                <td mat-cell *matCellDef="let leave; let i = index;"> {{ leave.leavetypecount }}</td>
                            
                            </ng-container>
            
            
                            <ng-container matColumnDef="color">
                                <th mat-header-cell *matHeaderCellDef  style="padding-left: 60px"> Color </th>
        
                                <td mat-cell *matCellDef="let leave; let i = index;"><span [style.background-color]="leave.leavecolor" class="customColor"></span></td>
                                
                            </ng-container>
            
            
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef > Status </th> 
                                <td mat-cell *matCellDef="let leave; let i = index;">{{(leave.status == 'Active') ? 'Active':'Inactive'}} </td>                 
                            </ng-container>
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef> Action </th>
                                <td mat-cell *matCellDef="let leave; let i = index;">
                                    <button type="button" class="btn btn-success" (click)="editLeaveTypeName(leave)">Edit</button>     
                                </td>
                               
                            </ng-container>
            
            
                            <tr class="headerbox title" mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                            <tr mat-row *matRowDef="let leave; columns: displayedColumns2;"></tr>
                            
                        </table>
                    </div>
        
                </div>

            </div>
            <div *ngIf="!isaddnew">
                <div fxLayout="row" fxLayout.xs="column" fxFlex.xs="100%" fxLayoutAlign="end">
                    <button class="mx-1 mat-stroked-button button-save" style="background-color:#3f51b5;color:aliceblue"
                        (click)="addnewleave()"  type="submit">
                        <span>Add </span><br>
                    </button>
                </div><br>
                <form [formGroup]="addleaveForm" autocomplete="off">
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center">

                        <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                            <mat-label>Leave Type</mat-label>
                            <mat-select  formControlName="leaveid" required>
                                <ng-container>
                                    <div *ngFor="let b of leaveTypes">
                                        <mat-option value={{b.id}}>{{b.leavename}}</mat-option>
                                    </div>
                                </ng-container>
                            </mat-select>
                            
                        </mat-form-field>
                        <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                            <mat-label>Display Name</mat-label>
                            <input type="text" formControlName="displayname" matInput placeholder="" maxlength="100"
                                required>
                           
                        </mat-form-field>
    
                        
                        
                    </div>
                    
                    <div fxLayout="row" fxLayout.xs="column"  fxLayoutAlign.xs="center center" *ngIf="isadvanced">

                        <mat-form-field fxFlex.xs="100"  fxFlex="100"  class="mx-2 my-2" appearance="outline">
                            <mat-label>Which leave type should be taken as advance leave</mat-label>
                            <mat-select  formControlName="advancedleaveid" >
                                <ng-container>
                                    <div *ngFor="let b of advanceLeavetypes">
                                        <mat-option value={{b.id}}>{{b.leavename}}</mat-option>
                                    </div>
                                </ng-container>
                            </mat-select>                            
                        </mat-form-field>  
                    </div>

                    <mat-divider></mat-divider><br>


                    <div class="mat-elevation-z8" *ngIf="tabledata">
                        <table mat-table [dataSource]="dataSource3" matSort>
            
                            <ng-container matColumnDef="sno">
                                <th mat-header-cell *matHeaderCellDef> SNo </th>
                                        <td mat-cell *matCellDef="let data; let i = index;"> {{i+1}} </td>
                                
                            </ng-container>
            
            
                            <ng-container matColumnDef="configurationrules">
                                <th mat-header-cell *matHeaderCellDef  style="padding-left: 60px"> Configuration Rules </th>
                                    <td mat-cell *matCellDef="let data">{{data.ruledescription}}</td>
                            </ng-container>
             
                            <ng-container matColumnDef="data">
                                <th mat-header-cell *matHeaderCellDef  style="padding-left: 60px"></th>
                                     <td mat-cell *matCellDef="let data ;let i = index;"> 
                                        <div *ngIf="data.rulename == 'LEAVES_MAX_COUNT_PER_YEAR'">
                                            <input type="text" style="width: 60%;" onlyNumber formControlName="leavecountperyear" matInput placeholder="{{data.value}}" >
                    
                                        </div>
                                        <div *ngIf="data.rulename == 'LEAVES_CREDIT_FREQUENCY'">
                                            <mat-select formControlName="data" >
                                                <ng-container>
                                                    <div *ngFor="let b of arrayValuess">
                                                        <mat-option value={{b.value}}>{{b.name}}</mat-option>
                                                    </div>
                
                                                </ng-container>
                                            </mat-select>

                                        </div>
                                        <div *ngIf="data.rulename == 'LEAVES_WEEKENDS_INCLUDED'">
                                            <mat-select formControlName="data" >
                                                <ng-container>
                                                    <div *ngFor="let b of arrayValues">
                                                        <mat-option value={{b.value}}>{{b.name}}</mat-option>
                                                    </div>
                
                                                </ng-container>
                                            </mat-select>

                                        </div>
                                        <div *ngIf="data.rulename == 'LEAVES_COMPANY_HOLIDAYS_INCLUDED'">
                                            <mat-select formControlName="data" >
                                                <ng-container>
                                                    <div *ngFor="let b of arrayValues">
                                                        <mat-option value={{b.value}}>{{b.name}}</mat-option>
                                                    </div>
                
                                                </ng-container>
                                            </mat-select>

                                        </div>
                                        <div *ngIf="data.rulename == 'LEAVES_MAX_CAP_FOR_ONE_INSTANCE'">
                                            <input type="text" style="width: 60%;" onlyNumber formControlName="maxcapyear" matInput placeholder="{{data.value}}" >
                    
                                        </div>
                                        <div *ngIf="data.rulename == 'LEAVES_MIN_SERVICE_ELIGIBILITY'">
                                            <input type="text" style="width: 60%;" onlyNumber formControlName="maxcapyear" matInput placeholder="{{data.value}}" >
                    
                                        </div>
                                        <div *ngIf="data.rulename == 'LEAVES_MIN_DAYS_PRIOR_APPLICATION'">
                                            <input type="text" style="width: 60%;" onlyNumber formControlName="maxcapyear" matInput placeholder="{{data.value}}" >
                                        </div>
                                        <div *ngIf="data.rulename == 'LEAVES_COUNT_TO_BE_CARRIED_FORWARD'">
                                            <input type="text" style="width: 60%;" onlyNumber formControlName="maxcapyear" matInput placeholder="{{data.value}}" >
                                        </div>
                                        <div *ngIf="data.rulename == 'LEAVES_MAX_AVAIL_COUNT'">
                                            <input type="text" style="width: 60%;" onlyNumber formControlName="maxcapyear" matInput placeholder="{{data.value}}" >
                                        </div>
                                        <div *ngIf="data.rulename == 'LEAVES_MIN_DAYS_FOR_DOCUMENT_UPLOAD'">
                                            <input type="text" style="width: 60%;" onlyNumber formControlName="maxcapyear" matInput placeholder="{{data.value}}" >
                                        </div>
                                        <div *ngIf="data.rulename == 'LEAVES_GAP_BETWEEN_TERMS'">
                                            <input type="text" style="width: 60%;" onlyNumber formControlName="maxcapyear" matInput placeholder="{{data.value}}" >
                                        </div>
                                        <div *ngIf="data.rulename == 'MAX_AVAIL_COUNT'">
                                            <input type="text" style="width: 60%;" onlyNumber formControlName="maxcapyear" matInput placeholder="{{data.value}}" >
                                        </div>
                                        <div *ngIf="data.rulename == 'LEAVES_MAX_COUNT_PER_TERM'">
                                            <input type="text" style="width: 60%;" onlyNumber formControlName="maxcapyear" matInput placeholder="{{data.value}}" >
                                        </div>
                                        <div *ngIf="data.rulename == 'LEAVES_ELIGIBLE_ON_WEEKOFFS'">
                                            <mat-select formControlName="data" >
                                                <ng-container>
                                                    <div *ngFor="let b of arrayValues">
                                                        <mat-option value={{b.value}}>{{b.name}}</mat-option>
                                                    </div>
                
                                                </ng-container>
                                            </mat-select>

                                        </div>
                                        <div *ngIf="data.rulename == 'LEAVES_ELIGIBLE_ON_COMPANY_HOLIDAYS'">
                                            <mat-select formControlName="data" >
                                                <ng-container>
                                                    <div *ngFor="let b of arrayValues">
                                                        <mat-option value={{b.value}}>{{b.name}}</mat-option>
                                                    </div>
                
                                                </ng-container>
                                            </mat-select>

                                        </div>
                                        <div *ngIf="data.rulename == 'LEAVES_LAPSED_CONVERSION_TO_PERKS_APPLICABLE'">
                                            <mat-select formControlName="data" >
                                                <ng-container>
                                                    <div *ngFor="let b of arrayValues">
                                                        <mat-option value={{b.value}}>{{b.name}}</mat-option>
                                                    </div>
                
                                                </ng-container>
                                            </mat-select>

                                        </div>
                                        <div *ngIf="data.rulename == 'COMPOFF_MIN_WORKING_HOURS_FOR_ELIGIBILITY'">
                                            <input type="text" style="width: 60%;" onlyNumber formControlName="maxcapyear" matInput placeholder="{{data.value}}" >
                                        </div>
                                        <div *ngIf="data.rulename == 'COMPOFF_MAX_BACKDATED_DAYS_PERMITTED_FOR_SUBMISSION'">
                                            <input type="text" style="width: 60%;" onlyNumber formControlName="maxcapyear" matInput placeholder="{{data.value}}" >
                                        </div>
                                        <div *ngIf="data.rulename == 'COMPOFF_THRESHOLD_DAYS_TO_LAPSE_OR_CONVERT_LEAVES_TO_PERKS'">
                                            <input type="text" style="width: 60%;" onlyNumber formControlName="maxcapyear" matInput placeholder="{{data.value}}" >
                                        </div>
                                        
                                        <!-- <div *ngIf="i==2">
                                            <mat-select formControlName="leavecycleyear" >
                                                <ng-container>
                                                    <div *ngFor="let b of arrayValuess">
                                                        <mat-option value={{b.value}}>{{b.name}}</mat-option>
                                                    </div>
                
                                                </ng-container>
                                            </mat-select>
                                            <span class="form-control" *ngIf="!isEditDefaultRules" style="background: #e8e8e8 !important;border-color: #e8e8e8 !important;opacity: 0.6 !important;width: 60%">{{ (data.value == '1') ? "Jan-Dec":"Apr-Mar"}}</span>
                                           
                                        </div>-->
                                    </td> 
                            </ng-container>
            
                            
                            <ng-container matColumnDef="addditionalinformation">
                                <th mat-header-cell *matHeaderCellDef > Additional Information </th>
                                <td mat-cell *matCellDef="let data">{{data.rule_additional_info}}</td>
                               
                            </ng-container>
                            <!-- <div > -->
                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef > Action </th>
                                    <td mat-cell *matCellDef="let data; let i = index;"> <mat-slide-toggle></mat-slide-toggle></td>
                                   
                                </ng-container>

                            <!-- </div> -->
                            
            
            
                            <tr class="headerbox title" mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                            <tr mat-row *matRowDef="let data; columns: displayedColumns3;"></tr>
                            
                        </table><br>
                      
                        
                    </div><br>
                   
                </form>
                <div *ngIf="tabledata" class="mx-2 my-2">
                    <div fxLayoutAlign="start">
                        <button class="mx-1 mat-stroked-button button-save"  style="background-color:#3f51b5;color:aliceblue"  type="submit">
                            <span>Actvate</span>
                        </button>
                        <button class="mx-1  mat-stroked-button button-clear"  style="background-color:#550534;color:aliceblue" >
                            <span >Deactivate</span>
                        </button>
                        
                    </div>
                    <div fxLayoutAlign="end" >
                        <button class="mx-1 mat-stroked-button button-save"  style="background-color:#3f51b5;color:aliceblue"  type="submit">
                            <span>Submit</span>
                        </button>
                    
                        <button class="mx-1  mat-stroked-button button-clear"  style="background-color:#550534;color:aliceblue" >
                            <span >Cancel</span>
                        </button>
                        <br />
                    </div>

                </div>
                
                
                

            </div>
            
        </mat-card>

    
    
    
        

</div>