
.list:hover {
  font-weight: bold;
 // background-color: #4dd0e1;
}

.addBtn{
  padding-top: 8px;
  padding-left: 45px;
  place-content: stretch flex-end;
  align-items: stretch;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  font-size: 50px;
  color: #28acaf;
}
::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #80286a;
}
::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #80286a;
}
::ng-deep.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle {
  border-color: #80286a;
}
::ng-deep.mat-radio-button.mat-primary .mat-radio-inner-circle, .mat-radio-button.mat-primary .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-primary.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-primary:active .mat-radio-persistent-ripple {
  background-color: #80286a;
}
mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
}
.tableP{
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
}

::ng-deep {
  .mat-select-panel[aria-label="Items per page:"] {
    mat-option:last-child:before {
      content: 'All';
    }
  }
}

::ng-deep {
  .mat-select-panel[aria-label="Items per page:"] {
    mat-option:last-child .mat-option-text {
      display: none;
    }
  }
}
.headerbox{
  height: 45px;
  background-color: #28acaf !important;
  align-items: center;
}
.title{
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
   font-stretch: normal;
   font-style: normal;
  letter-spacing: 0.32px;
  color: #ffffff;
  margin-bottom: 0px;
}
::ng-deep.mat-card-header-text {
  margin: 0 6px !important;
}
::ng-deeptr.mat-header-row {
  height: 45px !important;
}
::ng-deep.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0.2em 0 !important;

}
.mat-card-title:not(:first-child), .mat-card-subtitle:not(:first-child) {
  margin-top: 9px !important;
}