.space {
  width:10%;
  white-space: nowrap;
  margin-top: 10px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.32px;
  color: #000000;
}
.spacetd {
  margin-top: 10px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.32px;
  color: #000000;
}

// table, td{
//   border: 0px solid;
// }
//
//table {
//  width: 100%;
//  border-collapse: collapse;
//}
::ng-deep .cdk-overlay-container {
  z-index:1050 !important;
}
::ng-deep {
  .mat-select-panel[aria-label="Items per page:"] {
    mat-option:last-child:before {
      content: 'All';
    }
  }
}

::ng-deep {
  .mat-select-panel[aria-label="Items per page:"] {
    mat-option:last-child .mat-option-text {
      display: none;
    }
  }
}