button.link {
    background: transparent;
    color: blue;
    border: none;
    outline: 0;
    // text-decoration: underline;
  }
  button.link:hover {
    color: #80286a;
  }
  .tableP{
    padding: 10px;
  }
  ::ng-deep {
    .mat-select-panel[aria-label="Items per page:"] {
      mat-option:last-child:before {
        content: 'All';
      }
    }
  }
  
  ::ng-deep {
    .mat-select-panel[aria-label="Items per page:"] {
      mat-option:last-child .mat-option-text {
        display: none;
      }
    }
  }