table {
    width: 100%;
  }



  /* td, th {
    width: 25%;
  } */
  .headerbox{
    padding: 5px;
    background-color:#28acaf;
  }

  .select{
  ::ng-deep .mat-form-field-infix {
  border-top:0 !important;
  }
  ::ng-deep .mat-select-value{
    width: 85% !important;
  }
}
::ng-deep {
  .mat-select-panel[aria-label="Items per page:"] {
    mat-option:last-child:before {
      content: 'All';
    }
  }
}

::ng-deep {
  .mat-select-panel[aria-label="Items per page:"] {
    mat-option:last-child .mat-option-text {
      display: none;
    }
  }
}
