
<!--<div class="example-container" class="h-100">-->
  <mat-toolbar>
    <div class="main-header">
      <div class="logo-header">
        <div class="custom-mob-icons" style="margin-top: 4% ">
          <a href="/#/main/MainDashboard" (click)="onClickMainDashboard()" class="logo"><img [src]="pic" style="width: 25px;" alt="" class="logo-img mr-2">{{companyName}}</a>
          <!--<button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>-->
        </div>
        <div class="navbar-nav topbar-nav ml-md-auto mobile-view">
          <div>
            <!--<ul>-->
            <li class="nav-item dropdown">
              <a class="dropdown-toggle profile-pic"  data-toggle="dropdown" href="#"
              aria-expanded="false">
               <img *ngIf="!imageurls" src="assets/img/profile.jpg" alt="user-img" width="30"
               class="img-circle"><img *ngIf="imageurls" [src]="imageurls"  width="30"
               class="img-circle">
               <span >{{this.usersession.firstname}}{{" "}}{{this.usersession.middlename}}{{" "}}
                {{this.usersession.lastname}}</span></a>
              <ul class="dropdown-menu dropdown-user">
                <li>
                  <div class="user-box">
                    <div *ngIf="!imageurls" class="u-img"><img src="assets/img/profile.jpg" alt="user" width="30" class="img-circle"></div>
                    <div *ngIf="imageurls" class="u-img" ><img [src]="imageurls"  width="30" class="img-circle"></div>
                    <div class="u-text">
                      <h4>{{this.usersession.firstname}}{{" "}}{{this.usersession.middlename}}{{" "}}
                        {{this.usersession.lastname}}
                      </h4>
                      <p class="text-muted">{{this.usersession.officeemail}}</p>
                      <a (click)="editProfile()" [routerLink]="">Edit Profile</a>
                    </div>
                  </div>
                </li>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="changePassword()"  ><i class="ti-settings"></i> Change Password</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()"><i class="fa fa-power-off"></i> Logout</a>
              </ul>
             </li>
           </div>
        </div>

      </div>
      <nav class="navbar navbar-header navbar-expand-lg tab-view" >

        <div class="container-fluid">
          <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">

            <li class="nav-item dropdown">
              <a class="dropdown-toggle profile-pic"  data-toggle="dropdown" href="#"
              aria-expanded="false"> <img *ngIf="!imageurls" src="assets/img/profile.jpg"
              alt="user-img" width="30" class="img-circle">
              <img *ngIf="imageurls" [src]="imageurls"  width="30"
              class="img-circle">
              <span >{{this.usersession.firstname}}{{" "}}{{this.usersession.middlename}}{{" "}}
                {{this.usersession.lastname}}
              </span>
            </a>
              <ul class="dropdown-menu dropdown-user">
                <li>
                  <div class="user-box">
                    <div *ngIf="!imageurls" class="u-img"><img src="assets/img/profile.jpg" alt="user" width="30" class="img-circle"></div>
                    <div *ngIf="imageurls" class="u-img" ><img [src]="imageurls"  width="30" class="img-circle"></div>
                    <div class="u-text">
                      <h4>{{this.usersession.firstname}}{{" "}}{{this.usersession.middlename}}{{" "}}
                        {{this.usersession.lastname}}
                      </h4>
                      <p class="text-muted">{{this.usersession.officeemail}}</p>
                      <a (click)="editProfile()" [routerLink]="">Edit Profile</a>
                    </div>
                  </div>
                </li>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="changePassword()"  ><i class="ti-settings"></i> Change Password</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()"><i class="fa fa-power-off"></i> Logout</a>
              </ul>
              <!-- /.dropdown-user -->
            </li>
          </ul>
        </div>
      </nav>
      <div style="width:100%;background:lightseagreen;color:white;text-align: center; " *ngIf="flag">
      <span >
        Welcome {{selectedModule?'to':''}} {{selectedModule?selectedModule:'Spryple'}}
      </span>
    </div>
    </div>



  </mat-toolbar>
<ngx-spinner size="medium" type='ball-fussion'></ngx-spinner>


