table {
  width: 100%;
  overflow-x: auto;
}


.headerbox{
  padding: 5px;
  background-color:#28acaf;
}

::ng-deep {
.mat-select-panel[aria-label="Items per page:"] {
  mat-option:last-child:before {
    content: 'All';
  }
}
}

::ng-deep {
.mat-select-panel[aria-label="Items per page:"] {
  mat-option:last-child .mat-option-text {
    display: none;
  }
}
}
::ng-deep .cdk-overlay-container {
  z-index:1050 !important;
}
.tableP{
  padding: 10px;
}
.mat-table {
  display: block;
  width: auto;
  overflow-x: auto;
}

.mat-column-sno {
  max-width: 70px;
  min-width: 80px;
}

.mat-column-empname {
  max-width: 200px;
  min-width: 130px;
}

.mat-column-attendancedate {
  max-width: 150px;
  min-width: 120px;
}

.mat-column-firstlogintime {
  max-width: 150px;
  min-width: 120px;
}

.mat-column-lastlogouttime {
  max-width: 150px;
  min-width: 120px;
}

.mat-column-totalhours {
  max-width: 120px;
  min-width: 100px;
}

.mat-column-breaks {
  max-width: 110px;
  min-width: 100px;
}

.mat-column-breaktime {
  max-width: 110px;
  min-width: 100px;
}
.mat-column-productivehours {
  max-width: 110px;
  min-width: 100px;
}
.mat-column-action {
  max-width: 100px;
  min-width: 90px;
}
