table {
  width: 100%;
  overflow-x: auto;
}

::ng-deep .cdk-overlay-container {
  z-index:1050 !important;
}

.mat-table {
  display: block;
  width: auto;
  overflow-x: auto;
}

.mat-column-sno {
  max-width: 70px;
  min-width: 80px;
}

.mat-column-empname {
  max-width: 200px;
  min-width: 130px;
}

.mat-column-attendancedate {
  max-width: 150px;
  min-width: 120px;
}

.mat-column-firstlogintime {
  max-width: 150px;
  min-width: 120px;
}

.mat-column-lastlogouttime {
  max-width: 150px;
  min-width: 120px;
}

.mat-column-totalhours {
  max-width: 120px;
  min-width: 100px;
}

.mat-column-breaks {
  max-width: 110px;
  min-width: 100px;
}

.mat-column-breaktime {
  max-width: 110px;
  min-width: 100px;
}
.mat-column-productivehours {
  max-width: 110px;
  min-width: 100px;
}
.mat-column-action {
  max-width: 100px;
  min-width: 90px;
}
mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding-left: 1%;
  padding-right: 0px;
}
.tableP{
  padding:1%;
}
.tablePadding{
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
}

::ng-deep {
  .mat-select-panel[aria-label="Items per page:"] {
    mat-option:last-child:before {
      content: 'All';
    }
  }
}

::ng-deep {
  .mat-select-panel[aria-label="Items per page:"] {
    mat-option:last-child .mat-option-text {
      display: none;
    }
  }
}
.headerbox{
  height: 45px;
  background-color: #28acaf !important;
  align-items: center;
}
.title{
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
   font-stretch: normal;
   font-style: normal;
  letter-spacing: 0.32px;
  color: #ffffff;
  margin-bottom: 0px;
}
::ng-deep.mat-card-header-text {
  margin: 0 6px !important;
}
::ng-deeptr.mat-header-row {
  height: 45px !important;
}
::ng-deep.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0.2em 0 !important;
}