// Imports
// 
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Roboto');

mat-header-cell {
    font-size: 14px !important;
} 
.custom-mat-row {
    border-bottom: 2px solid white;
}
.custom-mat-row:last-child {
    border-bottom: none !important;
}    
.custom-payroll-div {
  margin-top: 20px;
  margin-bottom: 50px;
}
.custom-card {
    border-radius: 0px;
    background-color: #ffffff;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 1px 15px 1px rgb(69 65 78 / 8%);
    -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
    box-shadow: 0px 1px 15px 1px rgb(69 65 78 / 8%);
    border: 1px solid #eee;
 }
 .custom-payRoll-header {    
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
}
.dashboard-1{
    background-color: #28acaf;    
}
.custom-investment-header {
    height: 0 !important;  
}
.custom-investment-th {
    color:white !important;
    font-size: 16px !important;  
    // padding: 0.75rem !important;
    padding-top: 7px;
    padding-left: 5px;
    background-color: #28acaf;
    height: 35px;
 } 
 .example-element-detail {
    overflow: hidden;
    display: flex;
    background: #fff;
    // width: 80vw;
    border-bottom: 1px solid #28acaf !important;
  }
  .example-detail-row {
    height: 0 !important;
    .mat-cell {
      border-bottom-width: 0 !important;
    }
  }
  .example-element-detail {
    border-bottom: 0 !important;
    .mat-cell {
      border-width: 0 !important;
    }
  }
  .table-expanded-description {
    .example-element-detail {
      margin-right: -15px;
    }
    .custom-form-group {
      padding-left: 0;
      text-align: left;
      label {
        max-width: initial !important;
        min-width: auto !important;
        margin-right: 20px;
        padding-left: 10px;
        .dots {
          width: auto;
          float: none;
        }
      }
      p{
        padding-left: 15px !important;
      }
    }
  }
  
 .custom-investment-td {
   padding: 0.75rem !important;
 }
 .custom-investment-of {
   overflow-y: auto !important;
   overflow-x: hidden !important;
 }
.mt-10 {
    margin-top:10px;
}
.card .card-title {
    font-weight: 500 !important;
}
.custom-current-month {
    content: "|";
    margin: 0 10px;
}
.custom-pgr-height-auto {
  height: auto !important;
}
@media only screen and (min-width: 1000px) and (max-width: 1300px) {
::ng-deep .mat-select {
  width: 80% !important
}
}
@media only screen and (min-width: 1301px) and (max-width: 1370px) {
  ::ng-deep .mat-select {
    width: 80% !important
  }
}
@media only screen and (max-width: 600px) {
  ::ng-deep .mat-select {
    width: 70% !important
  }
  .mob-pt {
    margin-bottom: 109px;
  }
}
.headerbox{
  height: 45px;
  background-color: #28acaf !important;
  align-items: center;
}
.title{
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
   font-stretch: normal;
   font-style: normal;
  letter-spacing: 0.32px;
  color: #ffffff;
  margin-bottom: 0px;
}
mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
}

.outline{
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #28acaf;
  background-color: #ffffff
}
.mcard {
  width: 230px;
  margin: 10px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 10px;
  transition: all .25s linear;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
   display: block;
  display: inline-block;
}

.mcard:hover{
  box-shadow: -1px 10px 15px 0px rgba(0,0,0,0.8);
}
.scard {
  width: 150px;
  margin: 10px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 10px;
  transition: all .25s linear;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
   display: block;
  display: inline-block;
}
.scard:hover{
  box-shadow: -1px 10px 15px 0px rgba(0,0,0,0.8);
}
.fontStyle{
  color:#5a5c69;
  font-size: 1.2rem;
}