<div fxLayout="column" class="first-col">
<mat-card>
   <mat-card-header class="headerbox">
            <div fxLayout="row" fxFlex="50">
                <mat-card-title class="title"> Leave Balance </mat-card-title>
            </div>
            </mat-card-header>

        <div fxLayout="column" >
            <div class="tableP" fxLayout="row wrap">
            <ng-container *ngFor="let leave of leavedata;index as i;">
                <mat-card style="width:250px; margin:10px;padding: 1%;" class="outline">
                    <mat-label fxLayoutAlign="center" style="font-size: 17px;">{{leave.display_name}}</mat-label>
                    <mat-divider></mat-divider>
                    <div fxLayout="row" fxLayoutAlign="space-between" style="padding:5px">
                        <mat-label>Used</mat-label>
                        <mat-label>{{leave.used}}</mat-label>
                    </div>
                    <mat-divider></mat-divider>
                    <div fxLayout="row" fxLayoutAlign="space-between" style="padding:5px">
                        <mat-label>Available</mat-label>
                        <mat-label>{{leave.leave_balance}}</mat-label>
                    </div>
                    <mat-divider></mat-divider>
                    <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="leave.total"  style="padding:5px">
                        <mat-label>Total</mat-label>
                        <mat-label>{{leave.total}}</mat-label>
                    </div>



                </mat-card>

            </ng-container>
        </div>


        </div>
</mat-card>
</div>
