

.demo-app-main {
 // flex-grow: 1;
  padding: 1em;
}
.pending-attendance{
  // padding: 5px;
 // margin-top: 5em;
  background-color: #28acaf;
}

.clock-attendance{
  // padding: 5px;
  padding-right: 5px;
  padding-left: 5px;
  /* margin-top: 5em; */
  background-color: #28acaf;
}
.time-attendance{
  padding: 5px;
  background-color:azure;
}
.green-icon {
  color: green;
}
.red-icon {
color: red;
}
.blue-icon {
color: blue;
}
.yellow-icon {
color: #800000;
}
.orange-icon {
  color: #FF8C00;
}
mat-icon {
font-size: 20px;
}

.example-viewport {
  height: 100%;
  width: 100%;
//  border: 1px solid black;
//  box-sizing: border-box;
}
::ng-deep .fc .fc-button-primary{
	background-color:#28acaf !important;
}
mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 0px;
}
.tableP{
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
}
.section {
  padding-top: 1%;
  padding-left: 1%;
  margin-bottom: 2px;
  font-size: 17px;
  color: #000000;
  text-align: left;
  line-height: 28px;
}

::ng-deep {
  .mat-select-panel[aria-label="Items per page:"] {
    mat-option:last-child:before {
      content: 'All';
    }
  }
}

::ng-deep {
  .mat-select-panel[aria-label="Items per page:"] {
    mat-option:last-child .mat-option-text {
      display: none;
    }
  }
}
.headerbox{
  height: 45px;
  background-color: #28acaf !important;
  align-items: center;
}
.title{
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
   font-stretch: normal;
   font-style: normal;
  letter-spacing: 0.32px;
  color: #ffffff;
  margin-bottom: 0px;
}
::ng-deep.mat-card-header-text {
  margin: 0 6px !important;
}
::ng-deeptr.mat-header-row {
  height: 45px !important;
}
::ng-deep.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0.2em 0 !important;
}