<!DOCTYPE html>
<html lang="en">

<body style="overflow: hidden;">
    <div class="container-fluid top">
        <div class="row">
            <div class="col-md-12">
                <div class="header">Welcome To HRMS</div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row"  >
            <div class="col-md-3" *ngFor="let module of allModuleDetails; index as i;">
                <div class="p3 column ">{{module.modulename}}</div>
            </div>
            <!-- <div class="col-md-3 bottom  ">
                <div class="p3 column ">.col-12 .col-md-8</div>
            </div>
            <div class="col-md-3 bottom ">
                <div class="p3 column ">.col-12 .col-md-8</div>
                </div>
            <div class="col-md-3 bottom ">
                <div class="p3 column ">.col-12 .col-md-8</div>
            </div>
            <div class="col-md-3 bottom ">
                <div class="p3 column ">.col-12 .col-md-8</div>
            </div>
            <div class="col-md-3 bottom ">
                <div class="p3 column ">.col-12 .col-md-8</div>
            </div>
            <div class="col-md-3 bottom ">
                <div class="p3 column ">.col-12 .col-md-8</div>
            </div>
            <div class="col-md-3 bottom ">
                <div class="p3 column ">.col-12 .col-md-8</div>
            </div> -->
        </div>
       
    </div>
</body>
</html>
