.r_style{
    color: #28acaf;
    font-weight: 500;
}
.r_style2{
    color: #051c1d;font-weight: 500;
}
.icon_style{
    font-weight: 500;
    font-size: medium;
        padding-top: 2px;
        //color: #28acaf;
}