<div>
   
    <span fxLayoutAlign="end" >
        <button mat-icon-button (click)="onNoClick()" title="close">
         <mat-icon>cancel</mat-icon>
        </button>  
    </span>
    <div style="text-align: center;">
    <span><h1 class="r_style">Exclusive Pricing</h1></span><br>
    <span><h2 class="r_style">Contact our sales team for custom pricing packages.</h2></span><br>
   
 <span fxLayoutAlign="center center" fxLayout="column">
    <span fxLayout="row"><mat-icon style="color: #3737ad;" > phone_in_talk</mat-icon>&nbsp;&nbsp; <b class="icon_style">+91 9100052053</b></span><br>
    <span fxLayout="row"><mat-icon style="color: #3737ad;"> email</mat-icon> &nbsp;&nbsp;<b class="icon_style">contact@spryple.com</b></span>
</span>
</div>
</div>
