
// .mat-card {
//     transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
//     display: block;
//     position: relative;
//     padding: 0px;
//     border-radius: 4px;
//     background: #FAFAFA;
//     border: 1px solid #D6D6D6;
//     border-radius: 2px;
//   }
  .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0px 0px 0px -1px rgb(0 0 0 / 20%), 0px 0px 0px 0px rgb(0 0 0 / 14%), 0px 0px 0px 0px rgb(0 0 0 / 12%);
}


  ////////////////////////////
  table {
      width: 100%;
    }
   .headerbox{
      padding: 5px;
      background-color:#28acaf;
    }
    .title{
     // margin-top: 10px;
      font-family: "Roboto";
      font-size: 18px;
      font-weight: normal;
       font-stretch: normal;
       font-style: normal;
      letter-spacing: 0.32px;
      color: white;
      background-color:#28acaf;
      height: 55px;
    }
    .mat-header-cell{
      margin-top: 10px;
      font-family: "Roboto";
      font-size: 16px;
      font-weight: normal;
       font-stretch: normal;
       font-style: normal;
      letter-spacing: 0.32px;
      color: #000000;
    }
  .noData-cell{
    padding-top: 15px;
    font-size: larger;
  }
  .example-container {
    max-height:500px;
    overflow-x: auto;
  }
  ::ng-deep {
    .mat-select-panel[aria-label="Items per page:"] {
      mat-option:last-child:before {
        content: 'All';
      }
    }
  }
  ::ng-deep {
    .mat-select-panel[aria-label="Items per page:"] {
      mat-option:last-child .mat-option-text {
        display: none;
       // content: 'All';
      }
    }
  }
  .mat-column-sno {
    max-width: 100px !important;
   }
  .mat-column-code {
    max-width: 120px !important;
   }
  .tableP{
    padding: 10px;
  }
  .search-hover {
    background: #dddddd url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: 1px solid #ccc;
    outline: none;
    background-size: 18px;
    background-position: 9px;
    border-radius: 30px;
    width: 38px;
    height: 35px;
    padding: 20px;
    transition: all 0.5s;
  }
  .search-hover:hover {
    width: 300px;
    padding-left: 50px;
  }

  ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
    padding: 0.4em 0px !important;
  }
  ::ng-deep .mat-form-field-label-wrapper {
    top: -1.5em;
  }

 // ::ng-deep
    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.33333%;
  }

  .matInput{
    font-size: 16px;
  }
 .mat-select-value-text {
    font-size: 16px;
  }
  .mat-form-field{
    font-size: 16px;
   }
.mat-form-field{
    line-height: 1.5;
  }
  ::ng-deep .mat-form-field-label-wrapper { top: -1.0em; }
