<div fxLayout="column" style="padding: 10px ; padding-left: 10%;padding-right: 10%; background-color: #f0ecec;">
    <mat-card style="background-color: #ffffff;border: 1px solid #cccbcb;">
        <div>
            <mat-card style="background-color: #ffffff">
                <div fxLayout="row" style="padding: 15px">
                    <div fxFlex="30" fxFlex.xs="50" fxFlex.sm="50" fxLayoutAlign="center">
                        <img src="assets/img/profile.jpg" />
                    </div>

                    <div fxFlex="70" fxFlex.xs="50" fxFlex.sm="50" fxLayoutAlign="start">
                        <span>
                            <p class="subh">Candidate Name: <span class="heading">{{employeeNameh}}</span></p>
                            <p class="subh">Designation: <span class="heading1">{{employeeDesignation}}</span>  </p>
                            <p class="subh">Date of join: <span class="heading1"> {{employeeJoinDate | date:'dd-MM-yyyy'}}</span> </p>
                            <p class="subh">Mobile: <span class="heading1">{{employeeMobile}} </span></p>
                        </span>
                    </div>
                </div>
            </mat-card>
        </div>
        <div>
            <mat-tab-group animationDuration="0ms" [selectedIndex]="selectedtab.value" (selectedTabChange)="tabClick($event)"
            (selectedIndexChange)="selectedtab.setValue($event)" mat-stretch-tabs>
                <!-- personal info tab -->
                <mat-tab label="Personal Info">
                    <div fxLayout="column" style="padding: 10px">
                        <form [formGroup]="personalInfoForm">
                            <div class="section"><b>Personal Information</b></div>
                            <mat-divider></mat-divider>
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center">
                                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>First Name</mat-label>
                                    <input type="text" formControlName="firstname" #firstname
                                        (keypress)="alphabetKeyPress($event)" matInput placeholder="First Name"
                                        maxlength="60" required />
                                    <mat-error class="reg-error" *ngIf="personalInfoForm.controls.firstname.errors?.required || 
                                    personalInfoForm.controls.firstname.errors?.['whitespace']">
                                        {{EM1}}
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>Middle Name</mat-label>
                                    <input type="text" specialIsAlpha formControlName="middlename" matInput placeholder=""
                                        maxlength="50" />
                                </mat-form-field>

                                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>Last Name</mat-label>
                                    <input formControlName="lastname" specialIsAlpha matInput placeholder=""
                                        maxlength="50" required />
                                        <mat-error class="reg-error" *ngIf="personalInfoForm.controls.lastname.errors?.required || 
                                        personalInfoForm.controls.lastname.errors?.['whitespace']">
                                            {{EM1}}
                                        </mat-error>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center">
                                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>Date of Birth</mat-label>
                                    <input required matInput readonly [matDatepicker]="dateofbirth" [min]="minDate"
                                        [max]="maxBirthDate" placeholder="DD-MM-YYYY" formControlName="dateofbirth"
                                        (click)="dateofbirth.open()" />
                                    <mat-datepicker-toggle class="datepicker" matSuffix [for]="dateofbirth">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #dateofbirth></mat-datepicker>
                                    <mat-error class="reg-error" *ngIf="personalInfoForm.controls.dateofbirth.hasError('required')">
                                        {{EM2}}
                                    </mat-error> 
                                </mat-form-field>

                                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>Blood Group</mat-label>
                                    <mat-select formControlName="bloodgroup">
                                        <ng-container>
                                            <div *ngFor="let b of bloodGroupdetails">
                                                <mat-option [value]="b.id">{{
                                                    b.bloodgroup
                                                    }}</mat-option>
                                            </div>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>Gender</mat-label>
                                    <mat-select formControlName="gender" required>
                                        <ng-container>
                                            <div *ngFor="let b of genderDetails">
                                                <mat-option [value]="b.id">{{b.gender}}</mat-option>
                                            </div>
                                        </ng-container>
                                    </mat-select>
                                    <mat-error class="reg-error" *ngIf="personalInfoForm.controls.gender.hasError('required')">
                                        {{EM2}}
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center">
                                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>Marital Status</mat-label>
                                    <mat-select formControlName="maritalstatus" required>
                                        <ng-container>
                                            <div *ngFor="let b of maritalStatusDetails">
                                                <mat-option [value]="b.id">{{
                                                    b.maritalstatus
                                                    }}</mat-option>
                                            </div>
                                        </ng-container>
                                    </mat-select>
                                    <mat-error class="reg-error" *ngIf="personalInfoForm.controls.maritalstatus.hasError('required')">
                                        {{EM2}}
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>Aadhar Number</mat-label>
                                    <input #aadharnumber type="text" onlyNumber formControlName="aadharNumber" matInput maxlength="12"
                                        placeholder="Aadhar Number" />
                                </mat-form-field>

                                <!-- <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>PAN Number</mat-label>
                                    <input type="text" (keypress)="alphaNumberOnly($event)" formControlName="panNumber" matInput placeholder=""
                                        maxlength="10" />
                                </mat-form-field> -->
                                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>Personal Email</mat-label>
                                    <input type="text" formControlName="personalemail" matInput placeholder=""
                                        required />
                                        <mat-error class="reg-error" *ngIf="personalInfoForm.controls.personalemail.hasError('required')">
                                            {{EM1}}
                                        </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center">
                                <!-- <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>UAN Number</mat-label>
                                    <input type="number" onlyNumber formControlName="uanNumber" matInput placeholder=""
                                        max="12" />
                                </mat-form-field> -->
                                <mat-form-field fxFlex.xs="100" fxFlex="50" fxFlex.sm="50" class="mx-2 my-2"
                                appearance="outline">
                                <mat-label>Languages Spoken</mat-label>
                                <input type="text" formControlName="spokenLanguages" matInput placeholder=""/>
                            </mat-form-field>

                                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>Mobile Number</mat-label>
                                    <input type="text" onlyNumber formControlName="mobileNo" matInput placeholder=""
                                        maxlength="10" minlength="10" required />
                                        <mat-error class="reg-error" *ngIf="personalInfoForm.controls.mobileNo.hasError('required')">
                                            {{EM1}}
                                        </mat-error>
                                 </mat-form-field>

                                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>Emergency Contact Number</mat-label>
                                    <input type="text" onlyNumber formControlName="alternateMobileNo" matInput
                                        placeholder="" maxlength="10" minlength="10" />
                                </mat-form-field>

                               
                            </div>

                            <div class="section"><b>Personal Contact Information</b></div>
                            <mat-divider></mat-divider>
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end"
                            style="padding-top:1% ;padding-bottom:1% ;">

                            <mat-slide-toggle formControlName="checked" color="primary"><b>Same as residence
                                    address</b></mat-slide-toggle>
                        </div>
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center">

                                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>Residence Address</mat-label>
                                    <input type="text" formControlName="raddress" matInput placeholder="" maxlength="100"
                                        required>
                                        <mat-error class="reg-error" *ngIf="personalInfoForm.controls.raddress.hasError('required') || 
                                        personalInfoForm.controls.raddress.errors?.['whitespace']">
                                            {{EM1}}
                                        </mat-error>
                                   </mat-form-field>

                                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>Permanent Address</mat-label>
                                    <input type="text" formControlName="paddress" matInput placeholder="" maxlength="100">
                                    <!-- <input *ngIf="isview" formControlName="lastname" matInput placeholder="" readonly> -->
                                </mat-form-field>

                            </div>
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center">

                                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>Country</mat-label>
                                    <mat-select formControlName="rcountry" required>
                                        <ng-container>
                                            <div *ngFor="let b of countryDetails">
                                                <mat-option [value]="b.id">{{b.country}}</mat-option>
                                            </div>
                                        </ng-container>
                                    </mat-select>
                                    <mat-error class="reg-error" *ngIf="personalInfoForm.controls.rcountry.hasError('required')">
                                        {{EM2}}
                                    </mat-error>
                                 </mat-form-field>

                                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>Country</mat-label>
                                    <mat-select formControlName="pcountry">
                                        <ng-container>
                                            <div *ngFor="let b of permanentCountryDetails">
                                                <mat-option [value]="b.id">{{b.country}}</mat-option>
                                            </div>
                                        </ng-container>
                                    </mat-select>

                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center">

                                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>State</mat-label>
                                    <mat-select formControlName="rstate" required>
                                        <ng-container>
                                            <div *ngFor="let b of stateDetails">
                                               <mat-option [value]="b.id">{{b.state}}</mat-option>
                                            </div>
                                        </ng-container>
                                    </mat-select>
                                    <mat-error class="reg-error" *ngIf="personalInfoForm.controls.rstate.hasError('required')">
                                        {{EM2}}
                                    </mat-error>
                                 </mat-form-field>

                                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>State</mat-label>
                                    <mat-select formControlName="pstate">
                                        <ng-container>
                                            <div *ngFor="let b of permanentStateDetails">
                                                <mat-option [value]="b.id">{{b.state}}</mat-option>
                                            </div>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center">

                                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>City</mat-label>
                                    <mat-select formControlName="rcity" required>
                                        <ng-container>
                                            <div *ngFor="let b of cityDetails">
                                                <mat-option [value]="b.id">{{b.location}}</mat-option>
                                            </div>
                                        </ng-container>
                                    </mat-select>
                                    <mat-error class="reg-error" *ngIf="personalInfoForm.controls.rcity.hasError('required')">
                                        {{EM2}}
                                    </mat-error>
                                 </mat-form-field>

                                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>City</mat-label>
                                    <mat-select formControlName="pcity">
                                        <ng-container>
                                            <div *ngFor="let b of permanentCityDetails">
                                                <mat-option [value]="b.id">{{b.location}}</mat-option>
                                            </div>

                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center">

                                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>Pincode</mat-label>
                                    <input type="text" onlyNumber formControlName="rpincode" matInput placeholder=""
                                        maxlength="6" minlength="6" required>
                                        <mat-error class="reg-error" *ngIf="personalInfoForm.controls.rpincode.hasError('required')">
                                            {{EM1}}
                                        </mat-error>
                                        <mat-error class="reg-error" *ngIf="personalInfoForm.controls.rpincode.errors?.minlength">
                                           Pincode should be 6 digits
                                        </mat-error>
                                 </mat-form-field>

                                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>Pincode</mat-label>
                                    <input type="text" onlyNumber formControlName="ppincode" matInput placeholder=""
                                        maxlength="6" minlength="6">
                                        <mat-error class="reg-error" *ngIf="personalInfoForm.controls.ppincode.errors?.minlength">
                                            Pincode should be 6 digits
                                         </mat-error>
                                </mat-form-field>

                            </div>
                       
                    <form [formGroup]="CandidateFamilyForm">
                            <div class="section"><b>Family Details</b></div>
                            <mat-divider></mat-divider>
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center">
                                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>First Name</mat-label>
                                    <input type="text" specialIsAlpha formControlName="familyfirstname" matInput placeholder=""
                                        maxlength="100" required />
                                        <mat-error class="con-error"
                                  *ngIf="CandidateFamilyForm.controls.familyfirstname.errors?.required">
                                  {{EM1}}
                              </mat-error>
                                </mat-form-field>

                                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>Contact Number</mat-label>
                                    <input type="text" onlyNumber formControlName="familycontact" matInput
                                        placeholder="" maxlength="10" minlength="10"/>
                                        <mat-error class="con-error" *ngIf="CandidateFamilyForm.get('familycontact').hasError('pattern')">
                                            Please enter valid mobile number
                                         </mat-error>
                                </mat-form-field>

                                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>Gender</mat-label>
                                    <mat-select formControlName="familygender" required>
                                        <ng-container>
                                            <div *ngFor="let b of genderDetails">
                                                <mat-option [value]="b">{{ b.gender }}</mat-option>
                                            </div>
                                        </ng-container>
                                    </mat-select>
                                    <mat-error class="reg-error" *ngIf="CandidateFamilyForm.controls.familygender.hasError('required')">
                                        {{EM2}}
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign.xs="center">
                                <mat-form-field fxFlex.xs="100" fxFlex.sm="50" fxFlex="32" class="mx-2 my-2"
                                    appearance="outline">
                                    <mat-label>Relationship</mat-label>
                                    <mat-select required formControlName="relation">
                                        <ng-container>
                                            <div *ngFor="let b of employeeRelationship">
                                                <mat-option [value]="b">{{
                                                    b.relationship
                                                    }}</mat-option>
                                            </div>
                                        </ng-container>
                                    </mat-select>
                                    <mat-error class="reg-error" *ngIf="CandidateFamilyForm.controls.relation.hasError('required')">
                                        {{EM2}}
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field fxFlex.xs="100" fxFlex.sm="50" fxFlex="32" class="mx-2 my-2"
                                    appearance="outline">
                                    <mat-label>Status</mat-label>
                                    <mat-select required formControlName="familystatus">
                                        <ng-container>
                                            <div>
                                                <mat-option value="Alive">Alive</mat-option>
                                            </div>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                                <div fxLayout="row" fxLayoutAlign=" center">
                                    <button class="m-1 mat-stroked-button button-save" (click)="addfamily()">
                                        <span> Add </span>
                                    </button>
                                    <button class="m-1 mat-stroked-button button-clear" (click)="clearfamily()">
                                        Clear
                                    </button>
                                </div>
                            </div>

                            <div class="mat-elevation-z1" *ngIf="familyDetails.length > 0">
                                <table mat-table [dataSource]="familyDataSource">
                                    <ng-container matColumnDef="position">
                                        <th mat-header-cell *matHeaderCellDef> S No </th>
                                        <td mat-cell *matCellDef="let data; let i = index;"> {{i+1}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef>Name</th>
                                        <td mat-cell *matCellDef="let data">
                                            {{ data.firstname }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="relation">
                                        <th mat-header-cell *matHeaderCellDef>Relationship</th>
                                        <td mat-cell *matCellDef="let data">
                                            {{ data.relationshipname }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="gender">
                                        <th mat-header-cell *matHeaderCellDef>Gender</th>
                                        <td mat-cell *matCellDef="let data">
                                            {{ data.gendername }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="contact">
                                        <th mat-header-cell *matHeaderCellDef>Contact Number</th>
                                        <td mat-cell *matCellDef="let data">
                                            {{ data.contactnumber }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef>Status</th>
                                        <td mat-cell *matCellDef="let data">{{ data.status }}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef></th>
                                        <td mat-cell *matCellDef="let element; let i = index">
                                            <!-- <mat-icon title="Edit" (click)="editfamily(i)" *ngIf="!isviewemployee">edit
                                            </mat-icon> -->
                                            <mat-icon title="Delete" (click)="deleteFamilyPopup(i)" *ngIf="!isviewemployee">
                                                delete</mat-icon>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="familyTableColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: familyTableColumns"></tr>
                                </table>
                            </div>
                        </form>
                        <div fxLayoutAlign="center">
                            <button class="col-md-1 btn btn-primary mx-2 my-2" (click)="savePersonalInfo()"
                                type="submit">
                                <span>Save</span>
                            </button>
                            <!-- <button class="col-md-1 btn btn-danger mx-2 my-2" (click)="personalInfoClear()">
                                <span>Cancel</span>
                            </button> -->
                            <br />
                        </div>
                    </form>
                    </div>
                </mat-tab>
                 <!-- employement tab -->
                <mat-tab label="Work Experience">
                    <div fxLayout="column" style="padding: 10px">
                        <form [formGroup]="employementForm">
                            <div class="section"><b>Work Experience</b></div>
                            <mat-divider></mat-divider>
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center">
                                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>Company Name</mat-label>
                                    <input type="text" formControlName="companyName" specialIsAlpha matInput
                                        placeholder="" maxlength="150" required />
                                        <mat-error class="reg-error" *ngIf="employementForm.controls.companyName.hasError('required')">
                                            {{EM1}}
                                        </mat-error>    
                                </mat-form-field>

                                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>Designation</mat-label>
                                    <input type="text" required formControlName="designation" specialIsAlpha matInput
                                        placeholder="" maxlength="100" />
                                        <mat-error class="reg-error" *ngIf="employementForm.controls.designation.hasError('required')">
                                            {{EM1}}
                                        </mat-error>   
                                </mat-form-field>

                                <mat-form-field fxFlex.xs="100%" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>From Date</mat-label>
                                    <input required matInput readonly [matDatepicker]="expFromDate" [min]="minDate"
                                        [max]="maxDate" placeholder="DD-MM-YYYY" formControlName="expFromDate" (click)="expFromDate.open()" />
                                    <mat-datepicker-toggle class="datepicker" matSuffix [for]="expFromDate">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #expFromDate></mat-datepicker>
                                    <mat-error class="reg-error" *ngIf="employementForm.controls.expFromDate.hasError('required')">
                                        {{EM1}}
                                    </mat-error>   
                                </mat-form-field>

                                <mat-form-field fxFlex.xs="100%" fxFlex="32" class="mx-2 my-2" appearance="outline">
                                    <mat-label>To Date</mat-label>
                                    <input required matInput readonly [matDatepicker]="expToDate" [min]="minExperienceDate" [max]="maxDate"
                                    placeholder="DD-MM-YYYY" formControlName="expToDate" (click)="expToDate.open()"/>
                                    <mat-datepicker-toggle class="datepicker" matSuffix [for]="expToDate">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #expToDate></mat-datepicker>
                                    <mat-error class="reg-error" *ngIf="employementForm.controls.expToDate.hasError('required')">
                                        {{EM1}}
                                    </mat-error>   
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxLayout.xs="column">
                                <div fxFlex="50" fxFlex.xs="100">
                                <mat-form-field fxFlex="100" class="mx-2 my-2" appearance="outline">
                                    <mat-label>Job Description</mat-label>
                                    <textarea formControlName="jobDescription" matInput placeholder=""
                                        maxlength="1500"></textarea>
                                </mat-form-field>
                                </div>
                              <div fxFlex="50" fxFlex.xs="100" fxLayoutAlign="end">
                                <span style="padding-top: 6%;">
                                    <button class="m-1 mat-stroked-button button-save" (click)="addWorkExperience()">
                                        <span> Add </span>
                                    </button>
                                    <button class="m-1 mat-stroked-button button-clear" (click)="clearWork()">
                                        Clear
                                    </button>
                                </span>

                              </div>
                            </div>
                            <div class="mat-elevation-z1" *ngIf="workExperienceDetails.length > 0">
                                <table mat-table [dataSource]="workExperienceDataSource">
                                    <ng-container matColumnDef="sno">
                                        <th mat-header-cell *matHeaderCellDef>S No</th>
                                        <td mat-cell *matCellDef="let data; let i = index">
                                            {{ i + 1 }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="company">
                                        <th mat-header-cell *matHeaderCellDef>Company Name</th>
                                        <td mat-cell *matCellDef="let data">
                                            {{ data.companyname }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="desig">
                                        <th mat-header-cell *matHeaderCellDef>Designation</th>
                                        <td mat-cell *matCellDef="let data">
                                            {{ data.designation }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="fromDate">
                                        <th mat-header-cell *matHeaderCellDef>From Date</th>
                                        <td mat-cell *matCellDef="let data">
                                            {{ data.fromdate | date:'dd-MM-yyyy'}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="toDate">
                                        <th mat-header-cell *matHeaderCellDef>To Date</th>
                                        <td mat-cell *matCellDef="let data">
                                            {{ data.todate | date:'dd-MM-yyyy'}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef></th>
                                        <td mat-cell *matCellDef="let element; let i = index">
                                            <!-- <mat-icon title="Edit" (click)="editfamily(i)" *ngIf="!isviewemployee">edit
                                            </mat-icon> -->
                                            <mat-icon title="Delete" (click)="deleteExperiencePopup(i)" *ngIf="!isviewemployee">
                                                delete</mat-icon>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="workTableColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: workTableColumns"></tr>
                                </table>
                            </div>
                       
                        <br>
                            <div fxLayoutAlign="center" *ngIf="workExperienceDetails.length > 0">
                                <button class="col-md-1 btn btn-primary mx-2 my-2" (click)="saveWorkExperience()"
                                    type="submit">
                                    <span>Save</span>
                                </button>
                                <!-- <button class="col-md-1 btn btn-danger mx-2 my-2" (click)="personalInfoClear()">
                                    <span>Cancel</span>
                                </button> -->
                                <br />
                            </div>
                        </form>  
                    </div>
                </mat-tab>

                <!-- education tab -->
                <mat-tab label="Education">
                    <div fxLayout="column" style="padding: 10px">
                        <form [formGroup]="educationForm">
                            <div class="section"><b>Education</b></div>
                            <mat-divider></mat-divider>
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center">
                                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>Course</mat-label>
                                    <input type="text" maxlength="100" formControlName="course" matInput placeholder=""
                                        appRemoveSpace required/>
                                        <mat-error class="reg-error" *ngIf="educationForm.controls.course.hasError('required')">
                                            {{EM1}}
                                        </mat-error>
                                </mat-form-field>

                                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>Institute Name</mat-label>
                                    <input type="text" maxlength="100" specialIsAlpha formControlName="instituteName" matInput
                                        placeholder="" appRemoveSpace required/>
                                        <mat-error class="reg-error" *ngIf="educationForm.controls.instituteName.hasError('required')">
                                            {{EM1}}
                                        </mat-error>
                                </mat-form-field>

                                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>From Date</mat-label>
                                    <input matInput readonly [matDatepicker]="eduFromDate" [max]="edmaxDate"
                                        placeholder="DD-MM-YYYY" formControlName="eduFromDate"
                                        (click)="eduFromDate.open()" required />
                                    <mat-datepicker-toggle class="datepicker" matSuffix [for]="eduFromDate">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #eduFromDate></mat-datepicker>
                                    <mat-error class="reg-error" *ngIf="educationForm.controls.eduFromDate.hasError('required')">
                                       Please select date
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>To Date</mat-label>
                                    <input matInput readonly [matDatepicker]="eduToDate" [min]="minEducationDate"
                                        [max]="edmaxDate" placeholder="DD-MM-YYYY" formControlName="eduToDate"
                                        (click)="eduToDate.open()" required />
                                    <mat-datepicker-toggle class="datepicker" matSuffix [for]="eduToDate">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #eduToDate></mat-datepicker>
                                    <mat-error class="reg-error" *ngIf="educationForm.controls.eduToDate.hasError('required')">
                                        Please select date
                                     </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="end">
                                <button class="m-1 mat-stroked-button button-save" (click)="addEducation()">
                                    <span> Add </span>
                                </button>
                                <button class="m-1 mat-stroked-button button-clear" (click)="clearEducation()">
                                    Clear
                                </button>
                            </div>
                            <div class="mat-elevation-z1" *ngIf="educationDetails.length > 0">
                                <table mat-table [dataSource]="educationDataSource">
                                    <ng-container matColumnDef="sno">
                                        <th mat-header-cell *matHeaderCellDef>S No</th>
                                        <td mat-cell *matCellDef="let data; let i = index">
                                            {{ i + 1 }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="course">
                                        <th mat-header-cell *matHeaderCellDef>Course</th>
                                        <td mat-cell *matCellDef="let data">
                                           {{ data.course }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="college">
                                        <th mat-header-cell *matHeaderCellDef>Institute Name</th>
                                        <td mat-cell *matCellDef="let data">
                                            {{ data.institutename }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="fromDate">
                                        <th mat-header-cell *matHeaderCellDef>From Date</th>
                                        <td mat-cell *matCellDef="let data">
                                            {{ data.fromdate | date:'dd-MM-yyyy'}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="toDate">
                                        <th mat-header-cell *matHeaderCellDef>To Date</th>
                                        <td mat-cell *matCellDef="let data">
                                            {{ data.todate | date:'dd-MM-yyyy'}}
                                        </td>
                                    </ng-container>
                                      <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef></th>
                                        <td mat-cell *matCellDef="let element; let i = index">
                                            <!-- <mat-icon title="Edit" (click)="editfamily(i)" *ngIf="!isviewemployee">edit
                                            </mat-icon> -->
                                            <mat-icon title="Delete" (click)="deleteEducationPopup(i)" *ngIf="!isviewemployee">
                                                delete</mat-icon>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="educationTableColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: educationTableColumns"></tr>
                                </table>
                            </div>
                            <br>
                      
                         <div fxLayoutAlign="center" *ngIf="educationDetails.length > 0">
                            <button class="m-1 mat-stroked-button button-save" (click)="saveEducation()"
                                type="submit">
                                <span>Save</span>
                            </button>
                            <!-- <button class="m-1 mat-stroked-button button-clear" (click)="personalInfoClear()">
                                <span>Cancel</span>
                            </button> -->
                         </div>
                        </form>
                    </div>
                </mat-tab>

                <!-- document tab -->
                <mat-tab label="Document Approval">
                    <div fxLayout="column" style="padding: 10px">
                        <form [formGroup]="documentsForm">
                            <div class="section"><b>Add Documents</b></div>
                            <mat-divider></mat-divider>
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center">
                                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>Document Name</mat-label>
                                    <mat-select required formControlName="documentName">
                                        <ng-container>
                                            <div *ngFor="let b of documentTypeList">
                                                <mat-option value="{{ b.category }}">{{ b.description }}</mat-option>
                                            </div>
                                        </ng-container>
                                    </mat-select>
                                    <mat-error class="reg-error"
                                    *ngIf="documentsForm.controls.documentName.errors?.required">
                                    {{EM2}}
                                </mat-error>
                                </mat-form-field>

                                <mat-form-field fxFlex.xs="100" fxFlex="50" class="mx-2 my-2" appearance="outline">
                                    <mat-label>Document Number</mat-label>
                                    <input type="text" maxlength="30" minlength="6"  formControlName="documentNumber" matInput
                                        placeholder="" required/>
                                        <mat-error class="reg-error"
                                        *ngIf="documentsForm.controls.documentNumber.errors?.required">
                                        {{EM1}}
                                    </mat-error>
                                    <mat-error class="reg-error"
                                    *ngIf="documentsForm.controls.documentNumber.errors?.minlength">
                                    {{EM22}}
                                </mat-error>
                                </mat-form-field>

                                <div fxLayout="row" style="align-items: center">
                                    <input style="margin-left: 10px" type="file" *ngIf='!isedit' formControlName="attachedFile"
                                        (change)="onSelectFile($event)"  single />

                                        <button class="link" *ngIf='isedit' >{{ editFileName }}</button> 
            
                                    &nbsp;
                                    <mat-icon title="Delete"  *ngIf=' documentsForm.controls.attachedFile.value' 
                                    (click)="deleteIcon()">delete</mat-icon>
                                    <mat-icon title="edit"  *ngIf='isedit' 
                                        (click)="delete()">edit</mat-icon>
                                    &nbsp;
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="end">
                                <button class="m-1 mat-stroked-button button-save"  (click)="validateDocument()">
                                    <span> Submit </span>
                                </button>
                                <!-- <button class="m-1 mat-stroked-button button-clear" (click)="clearDucument()">
                                    Clear
                                </button> -->
                            </div>
                            <div class="mat-elevation-z1" *ngIf="documentDetails.length > 0">
                                <table mat-table [dataSource]="documentDataSource">
                                    <ng-container matColumnDef="position">
                                        <th mat-header-cell *matHeaderCellDef>S No</th>
                                        <td mat-cell *matCellDef="let data; let i = index">
                                            {{ i + 1 }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="category">
                                        <th mat-header-cell *matHeaderCellDef>Document Name</th>
                                        <td mat-cell *matCellDef="let data">
                                            {{ data.description}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="number">
                                        <th mat-header-cell *matHeaderCellDef>Document Number</th>
                                        <td mat-cell *matCellDef="let data">
                                            {{ data.document_number }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef>Document</th>
                                        <td mat-cell *matCellDef="let data">

                                            <button class="link" (click)="fileView(data)" >{{ data.fname }}</button> 
                                            
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef></th>
                                        <td mat-cell *matCellDef="let data">
                                        <mat-icon (click)="editDock(data)" title="Edit" *ngIf="data.status == 'Submitted'">edit</mat-icon>
                                        <mat-icon (click)="deleteDock(data)" title="Delete" *ngIf="data.status == 'Submitted'"> delete</mat-icon>
                                        </td>
                                    </ng-container>
                            
                                    <tr mat-header-row *matHeaderRowDef="documentTableColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: documentTableColumns"></tr>
                                </table>
                            </div>
                            <!-- <div fxLayoutAlign="center">
                                <button class="m-1 mat-stroked-button button-save" (click)="saveDocument()"
                                    type="submit">
                                    <span>Submit</span>
                                </button>
                                <button class="m-1 mat-stroked-button button-clear" (click)="personalInfoClear()">
                                    <span>Cancel</span>
                                </button>
                                <br />
                            </div> -->
                        </form>
                    </div>
                </mat-tab>

            </mat-tab-group>
        </div>
    </mat-card>
</div>
<ngx-spinner size="medium" type='ball-fussion'></ngx-spinner>
