<div fxLayout="column" class="first-col">
  <mat-card>
    <div style="flex-flow: nowrap">
      <mat-card-header class="headerbox">
        <mat-card-title class="title"> Summary Report</mat-card-title>
      </mat-card-header>
 
      <div [formGroup]="searchForm">
        <div fxLayout="row" fxLayout.lt-lg="row wrap" fxLayout.xs="column" class="dev-Pad">
          <mat-form-field fxFlex fxFlex.xs="100" class="mx-2 my-2" appearance="outline">
            <mat-label>Designations</mat-label>
            <mat-select formControlName="designationId" required>
              <mat-option value="All"> All </mat-option>
              <ng-container *ngFor="let d of designations">
                <mat-option [value]="d.id">{{ d.designation }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex fxFlex.xs="100" class="mx-2 my-2" appearance="outline" *ngIf="ishide">
            <mat-label>Employee Name and ID</mat-label>
            <mat-select formControlName="employeeId" required>
              <mat-option value="All"> All </mat-option>
              <ng-container *ngFor="let e of employeeDetails">
                <mat-option [value]="e.empid">{{ e.empname + " " }}-{{
                  " " + e.employee_code
                  }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex fxFlex.xs="100" fxFlex.lt-lg="48" class="mx-2 my-2" appearance="outline">
            <mat-label>Years</mat-label>
            <mat-select formControlName="calenderYear" required>
              <!--<mat-option value="All"> All </mat-option>-->
              <ng-container *ngFor="let year of calengerYearsdetails">
                <mat-option [value]="year.year_value">{{
                  year.year_value
                  }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>

        </div>
      </div>

      <div fxLayout="row" style="justify-content: center" class="showLine">
        <span>
          <button class="btn btn-primary mr-2 mb-2" (click)="Searchform()">
            Search
          </button>
        </span>

        <button class="btn btn-danger mr-2 mb-2" (click)="resetform()">
          <span>Clear</span>
        </button>
      </div>
    </div>


  <div style="margin-bottom: 10px;padding-right: 19px" fxLayout="row xs-column" fxLayoutAlign="end  center"
    *ngIf="summaryReports.length > 0">
    <div>
      <span class="exlprint"> | </span>
      <a title="PDF">
        <img (click)="exportPDF()" src="./assets/images/icons/pdf.png" width="20px" height="20px" /></a>

      <span class="exlprint"> | </span>
      <a title="Excel">
        <img (click)="exportAsXLSX()" src="./assets/images/icons/excel.png" />
      </a>
    </div>
  </div>
  <div class="table-pad">
    <div id="table" #table="" class="example-container">
      <table class="table">
        <thead >
          <tr *ngFor="let head of summaryReportTableHeadings">
            <!--<span *ngFor="let head of summaryReportTableHeadings">-->
            <!--<th scope="col" class="space">{{head}}</th>-->
            <th class="space">{{ head.column1 }}</th>
            <th class="space">{{ head.column2 }}</th>
            <th class="space">{{ head.column3 }}</th>
            <th class="space">{{ head.column4 }}</th>
            <th class="space">{{ head.column5 }}</th>
            <th class="space">{{ head.column6 }}</th>
            <th class="space">{{ head.column7 }}</th>
            <th class="space">{{ head.column8 }}</th>
            <th class="space">{{ head.column9 }}</th>
            <th class="space">{{ head.column10 }}</th>
            <th class="space">{{ head.column11 }}</th>
            <th class="space">{{ head.column12 }}</th>
            <th class="space">{{ head.column13 }}</th>
            <th class="space">{{ head.column14 }}</th>
            <!--</span>-->
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let val of summaryReports">
            <!--<span *ngFor="let val of item">-->

            <!--<td  class="spacetd">{{val}}</td>-->
            <td class="spacetd">{{ val.column1 }}</td>
            <td class="spacetd">{{ val.column2 }}</td>
            <td class="spacetd">{{ val.column3 }}</td>
            <td class="spacetd">{{ val.column4 }}</td>
            <td class="spacetd">{{ val.column5 }}</td>
            <td class="spacetd">{{ val.column6 }}</td>
            <td class="spacetd">{{ val.column7 }}</td>
            <td class="spacetd">{{ val.column8 }}</td>
            <td class="spacetd">{{ val.column9 }}</td>
            <td class="spacetd">{{ val.column10 }}</td>
            <td class="spacetd">{{ val.column11 }}</td>
            <td class="spacetd">{{ val.column12 }}</td>
            <td class="spacetd">{{ val.column13 }}</td>
            <td class="spacetd">{{ val.column14 }}</td>
            <!---->
            <!--</span>-->
          </tr>

          <tr *ngIf="summaryReports && summaryReports.length === 0">
            <td colspan="10" style="text-align: center">No Data Found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
 </mat-card>
</div>