.space {
  width: 7%;
  white-space: nowrap;
  margin-top: 10px;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.32px;
  color: #ffffff;
}
.spacetd {
  width: 7%;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.32px;
  color: #000000;
}
//
table, td{
  border: 1px solid;
}
//
////table {
////  width: 100%;
////  border-collapse: collapse;
////}
::ng-deep .cdk-overlay-container {
  z-index:1050 !important;
}