table {
  width: 100%;
}

.noData-cell{
padding-top: 15px;
//font-size: larger;
}

mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
}
.dev-Pad{
  padding-top: 1%;
  padding-right: 15px;
}
.table-pad{
  padding-left: 15px;
  padding-right: 15px;
}

::ng-deep {
  .mat-select-panel[aria-label="Items per page:"] {
    mat-option:last-child:before {
      content: 'All';
    }
  }
}

::ng-deep {
  .mat-select-panel[aria-label="Items per page:"] {
    mat-option:last-child .mat-option-text {
      display: none;
    }
  }
}
.headerbox{
  height: 45px;
  background-color: #28acaf !important;
  align-items: center;
}
.title{
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
   font-stretch: normal;
   font-style: normal;
  letter-spacing: 0.32px;
  color: #ffffff;
  margin-bottom: 0px;
}

::ng-deep tr.mat-header-row {
  height: 45px !important;
}
::ng-deep.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0.2em 0 !important;

}
::ng-deep.mat-header-row {
  min-height: 45px;
}
::ng-deep.mat-header-cell {
  margin-top: 0px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.32px;
  color: #ffffff;
  background-color: #28acaf;
}
::ng-deep .mat-column-action {
  flex: 0 0 6%
}
::ng-deep .mat-column-message {
  flex: 2 0 6%
}
.example-container {
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 768px) and (orientation:portrait) {
  mat-header-row, mat-row {
    width: 150%;
  }
  }
.mat-header-row.mat-column-position, .mat-row.mat-column-position {
  padding-left: 8px;
}