

.demo-app-main {
  flex-grow: 1;
  padding: 1em;
}
.pending-attendance{
  padding: 1em;
  margin-top: 5em;
  background-color: lightgrey;
}
.clock-attendance{
  padding: 5px;
  /* margin-top: 5em; */
  background-color: lightgrey;
}
.clock-attendance{
  padding: 5px;
  /* margin-top: 5em; */
  background-color: lightgrey;
}
.time-attendance{
  padding: 5px;
  background-color:azure;
}
.green-icon {
  color: green;
}
.red-icon {
color: red;
}
.blue-icon {
color: blue;
}
.yellow-icon {
color: yellow;
}
mat-icon {
font-size: 20px;
}

.example-viewport {
  height: 100%;
  width: 100%;
//  border: 1px solid black;
//  box-sizing: border-box;
}
::ng-deep .fc .fc-button-primary{
	background-color:#28acaf !important;
}
