.mat-form-field {
    font-size: 14px;
    width: 25%;
  }
  
  /* td, th {
    width: 25%;
  } */
  .headerbox{
    padding: 5px;
    background-color:#28acaf;
  }

  // .button-save{
  //   background-color: blue;
  // }