.mat-form-field {
    font-size: 14px;
    width: 25%;
  }
  .mat-card {
    padding: 0px !important;
    border-bottom: none !important;
  }
  /* td, th {
    width: 25%;
  } */
  .headerbox{
    padding: 5px;
    background-color:#28acaf;
  }

  // .button-save{
  //   background-color: blue;
  // }