

.mat-card {
    border-bottom: none !important;
  }
  /* td, th {
    width: 25%;
  } */
  .headerbox{
    padding: 5px;
    background-color:#28acaf;
  }

  // .button-save{
  //   background-color: blue;
  // }
